@model Models.ExportLMCEntitiesReport
@using Utility;
@using SmartInventory.Settings;
@{


    WebGrid grid = new WebGrid(rowsPerPage: Model.objReportFilters.pageSize, canSort: true, ajaxUpdateContainerId: "dvViewLMCExportData",
        ajaxUpdateCallback: "onGridHeaderClick('tblExportReport');");
    grid.Bind(Model.lstReportData, autoSortAndPage: false, rowCount: Model.objReportFilters.totalRecord);
    if (Model.objReportFilters.totalRecord > 0)
    {
        grid.PageIndex = Model.objReportFilters.currentPage - 1;
    }

}
<style>
    #frmLMCExportEntities .chosen-container-multi .chosen-choices {
        font-size: 11px;
    }

    #frmLMCExportEntities .chosen-disabled .chosen-choices {
        background: #ccc;
    }

  
    .FlowDiv {
        right: -170px;
        width: 280px;
        height: auto;
        background-color: #fcfcfc;
        border: 1px solid #00ba8a;
        position: absolute;
        border-radius: 4px;
        margin: 3px 55px 0px 0px;
        text-align: left;
        display: none;
    }

        .FlowDiv span {
            font-size: 14px;
            width: 100%;
            float: left;
            border-bottom: 1px solid #bdb9b9;
            padding: 5px;
            color: #bdb9b9;
        }

        .FlowDiv .pdf {
            color: #e60000;
        }

            .FlowDiv .pdf a {
                color: #666;
            }

                .FlowDiv .pdf a:hover {
                    color: #e60000;
                    font-weight: 600;
                }


        .FlowDiv .excel {
            color: #207245;
        }

            .FlowDiv .excel a {
                color: #666;
            }

            .FlowDiv .excel :hover {
                color: #207245;
                font-weight: 600;
            }

        .FlowDiv .arrow-up {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #00ba8a;
            position: absolute;
            top: -8px;
            z-index: 9;
        }

    .legendparent {
        width: 85px;
        float: left;
        margin-left: 5px;
    }

    .Applied, .Approved, .Rejected, .Associated, .Created {
        width: 15px;
        height: 15px;
        border-radius: 4px;
        float: left;
        border: 1px solid grey;
    }

    .Applied {
        background-color: #FCE27C;
    }

    .Approved {
        background-color: #3AE786;
    }

    .Rejected {
        background-color: #FD8B8B;
    }

    .Associated {
        background-color: #50C1FA;
    }

    .Created {
        background-color: yellow;
    }

    #frmLMCExportEntities .icon-ARROW_DOWN:before {
        content: "\e908";
        float: right;
        margin-left: 5px;
    }

    .btn {
        font-weight: bold !important;
        line-height: 1.42857143 !important;
    }

    .icon-kmldownload {
        font-size: 20px;
    }
</style>

<!DOCTYPE html>
<div class="libDetail">
    @using (Ajax.BeginForm("ExportLMCReport", "Report", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "dvModalBody", LoadingElementId = "dvProgress" },
                                                                    new { id = "frmLMCExportEntities", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
    {

        @Html.HiddenFor(m => m.objReportFilters.geom)
        @Html.HiddenFor(m => m.objReportFilters.geomType)
        @Html.HiddenFor(m => m.objReportFilters.radius)
        @*@Html.HiddenFor(m => m.objReportFilters.entityType, new { id = "hdnLayerName" })*@
        <input type="hidden" id="hdnApproveCount" value="0">
        <div class="libTabContent" style="overflow:visible;">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="GISInfo">
                    @if (Model.objReportFilters.geom != null && Model.objReportFilters.geom != "")
                {
                        <div class="form-group row">
                            <label class="control-label col-sm-2">@Resources.Resources.SI_OSP_GBL_NET_FRM_065 :</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.objReportFilters.SelectedRegionId, new SelectList(Model.lstRegion.Select(x => new { Value = x.regionId.ToString(), Text = x.regionName.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @onchange = "si.onChangeRegion();", @id = "ddlRegions", @disabled = "disabled" })
                            </div>
                            <label class="control-label col-sm-2" for="txtSearchtext">@Resources.Resources.SI_OSP_GBL_NET_FRM_066 :</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.objReportFilters.SelectedProvinceId, new SelectList(Model.lstProvince.Select(x => new { Value = x.provinceId.ToString(), Text = x.provinceName.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @id = "ddlProvinces", @disabled = "disabled" })
                            </div>
                        </div>
                    }
                    else

                    {
                        <div class="form-group row">
                            <label class="control-label col-sm-2">@Resources.Resources.SI_OSP_GBL_NET_FRM_065 :</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.objReportFilters.SelectedRegionId, new SelectList(Model.lstRegion.Select(x => new { Value = x.regionId.ToString(), Text = x.regionName.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @onchange = "si.onChangeRegion();", @id = "ddlRegions" })
                            </div>
                            <label class="control-label col-sm-2" for="txtSearchtext">@Resources.Resources.SI_OSP_GBL_NET_FRM_066 :</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.objReportFilters.SelectedProvinceId, new SelectList(Model.lstProvince.Select(x => new { Value = x.provinceId.ToString(), Text = x.provinceName.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @id = "ddlProvinces" })
                            </div>
                        </div>
                    }
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="txtEntityType">@Resources.Resources.SI_OSP_GBL_NET_FRM_020<i class="clsMandatory">*</i>:</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.objReportFilters.entityType, new List<SelectListItem>
                            {
                            new SelectListItem { Text = "--Select--", Value = ""},
                            new SelectListItem { Text = "Site", Value = "Site"},
                            new SelectListItem { Text = "Customer", Value = "Customer"},
                            new SelectListItem { Text = "Cable", Value = "Cable"},
                            },
                            new { @class = "chosen-select", @id = "ddlEntityType", @onchange = "si.onChangeLMCEntityType();" })
                        </div>

                        <label class="control-label col-sm-2" for="txtLMCType">@Resources.Resources.SI_OSP_STR_NET_FRM_041<i class="clsMandatory">*</i>:</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.objReportFilters.lmcType, new List<SelectListItem>
                            {
                            new SelectListItem { Text = "--Select--", Value = ""},
                            new SelectListItem { Text = "FTTH", Value = "FTTH"},
                            new SelectListItem { Text = "Dark Fiber", Value = "Dark Fiber"},
                            new SelectListItem { Text = "Enterprise", Value = "Enterprise"},
                            new SelectListItem { Text = "Small Cell", Value = "Small Cell"},
                            },
                            new { @class = "chosen-select", @id = "ddlLmcType", @onchange = "si.onChangeLMCEntityType();" })
                        </div>
                        
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="searchby">@Resources.Resources.SI_OSP_GBL_NET_FRM_100 :</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.objReportFilters.SearchbyColumnName, new SelectList(Model.lstLayerColumns.Where(m => m.value != "system_id").Select(x => new { Value = x.key.ToString(), Text = x.value.ToString() }), "Value", "Text"), "--select--", new { @class = "chosen-select col-sm-12", @id = "ddlLayerColumns" })
                        </div>
                        <label class="control-label col-sm-2" for="txtSearchtext">@Resources.Resources.SI_OSP_GBL_NET_FRM_101 :</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.objReportFilters.SearchbyText, new { @id = "txtSearchText", @title = Resources.Resources.SI_OSP_GBL_NET_FRM_101, @tabindex = "4", @class = "input-sm form-control", @placeholder = Resources.Resources.SI_OSP_GBL_NET_FRM_101, @maxlength = 50})
                        </div>
                    </div>
                    <div class="form-group row">

                        <label class="control-label col-sm-2" for="txtDurationBasedOn">@Resources.Resources.SI_OSP_GBL_NET_FRM_071 <i class="clsMandatory">*</i>:</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.objReportFilters.DurationBasedColumnName, new List<SelectListItem>
                            {
                            new SelectListItem { Text = "--Select--", Value = ""},
                            new SelectListItem { Text = "Created On", Value = "created_on"},
                            new SelectListItem { Text = "Modified On", Value = "modified_on"},
                            },
                            new { @class = "chosen-select col-sm-12", @id = "ddlLayerDurationBasedColumns" })
                        </div>

                        <label class="control-label col-sm-2" for="txtDatefrom">@Resources.Resources.SI_OSP_GBL_NET_FRM_072<i class="clsMandatory">*</i>:</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.objReportFilters.customDate, new List<SelectListItem>
                            {
                            
                            new SelectListItem { Text = "--Select--", Value = "0"},
                            new SelectListItem { Text = "All", Value = "9"},
                            new SelectListItem { Text = "Custom", Value = "1"},
                            new SelectListItem { Text = "Today", Value = "2"},
                            new SelectListItem { Text = "Previous Day", Value = "3"},
                            new SelectListItem { Text = "Last 7 Days", Value = "4"},
                            new SelectListItem { Text = "Last 30 Day", Value = "5"},
                            new SelectListItem { Text = "Last 3 Months", Value = "6"},
                            new SelectListItem { Text = "Last 6 Months", Value = "7"},
                            new SelectListItem { Text = "Last 1 Year", Value = "8"},
                           
                            },
                            new { @class = "chosen-select", @onchange = "onChangeCustomDate();", @id = "customedate" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="txtDatefrom">@Resources.Resources.SI_OSP_GBL_NET_FRM_130<i class="clsMandatory">*</i>:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.objReportFilters.fromDate, new { @id = "txtDateFrom", @title =Resources.Resources.SI_OSP_GBL_NET_FRM_096, @tabindex = "4", @class = "input-sm form-control", @readonly = true })
                            <img id="imgFromDate" class="assign-calen" src="~/Content/images/calendar.png" />
                        </div>
                        <label class="control-label col-sm-2" for="txtDateTo">@Resources.Resources.SI_OSP_GBL_NET_FRM_131<i class="clsMandatory">*</i>:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.objReportFilters.toDate, new { @id = "txtDateTo", @title = Resources.Resources.SI_OSP_GBL_NET_FRM_097, @tabindex = "4", @class = "input-sm form-control", @readonly = true })
                            <img id="imgToDate" class="assign-calen" src="~/Content/images/calendar.png" />
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="ModalFooter d-flex" id="dvBtnAction">
            <div class="ml-auto">
                <button type="submit" class="btn btn-success ml-auto" id="btnShowReportData">@Resources.Resources.SI_OSP_GBL_NET_FRM_112</button>
                @*@if (Model.objReportFilters.totalRecord > 0)
    {

         <button type="button" class="btn btn-primary" id="btnExportLMCIntoExcel">
            @Resources.Resources.GBL_GBL_GBL_GBL_GBL_010
            <i class="fa fa-chevron-down" aria-hidden="true" style="display:none"></i>
        </button>



    }
    else
    {
        <button type="button" class="btn btn-primary" id="btnExportLMCIntoExcel" disabled="disabled">
            @Resources.Resources.GBL_GBL_GBL_GBL_GBL_010

            <i class="fa fa-chevron-down" aria-hidden="true"  style="display:none"></i>
        </button>

    }*@

                <button type="button" id="btnExportReport" class="btn btn-default ml-10 dropfiles @(Model.objReportFilters.totalRecord > 0?"":"dvdisabled")">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_010 <i id="iconUpDown" class="fa fa-chevron-down" aria-hidden="true"></i></button>
                <div class="dropbox" style="width: 70px;right: 70px;">
                    <span id="btnExportLMCIntoExcel" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_010" class="btn" @string.Format(Model.objReportFilters.totalRecord > 0 ? "" : "dvdisabled")>@Resources.Resources.SI_GBL_GBL_NET_FRM_042</span>
                    <span id="btnExportLMCIntoToKML" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_010" class="btn" @string.Format(Model.objReportFilters.totalRecord > 0 ? "" : "dvdisabled")>@Resources.Resources.SI_GBL_GBL_NET_FRM_043</span>
                </div>

                <input type="button" id="btnEntityExportClear" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_009" class="btn btn-default ml-10" />


                <div class="FlowDiv">
                    <div class="arrow-up"></div>
                    <span class="excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i><a id="btnExportReportIntoExcel" href="#">@Resources.Resources.SI_GBL_GBL_GBL_GBL_114</a> </span>
                    <span class="excel"><i class="fa icon-kmldownload" aria-hidden="true"></i><a id="btnExportReportIntoKML" href="#">@Resources.Resources.SI_GBL_GBL_GBL_GBL_115</a> </span>
                   
                </div>
            </div>
        </div>

        if (Model.lstReportData.Count > 0)
        {
            <div id="dvViewLMCExportData">
                <div class="space-pad">
                    <div class="div_totalRecord mb-15">
                        <b>@Resources.Resources.SI_OSP_GBL_GBL_GBL_035:&nbsp;<span>@Model.objReportFilters.totalRecord</span></b>
                    </div>
                    <div class="table-responsive">
                        @grid.GetHtml(tableStyle: "grid",
                         htmlAttributes: new { id = "tblExportReport" },
                         mode: WebGridPagerModes.All)
                    </div>
                </div>
            </div>
        }
        else if (!string.IsNullOrEmpty(Model.objReportFilters.fromDate))
        {
            <div id="divNoRecordFound" class="nr-found filtersBg">
                <span>@Resources.Resources.SI_OSP_GBL_GBL_RPT_001</span>
            </div>
        }
        else
        {
            <div id="divNoRecordFound" class="nr-found filtersBg">
                <span>@Resources.Resources.SI_OSP_GBL_NET_FRM_210</span>
            </div>
        }
    }

</div>
<script>
    $('.chosen-select').chosen({ placeholder_text_multiple: '--All--', width: '100%' });
    $(document).ready(function () {
        //$('#hdnLayerName').val('ROW');
        $('#tblExportReport thead tr th a').each(function () {
            var html = $(this).html(); $(this).parent().attr('data-column-name', html);
        })
        $('#tblExportReport tbody tr td').each(function () {
            var html = $(this).html(); $(this).attr('data-value', html);
        })
         
        //si.report.setLegends();

        if ($("#customedate_chosen").children('a').text().trim() != "Custom") {

            $('#imgFromDate').hide();
            $('#imgToDate').hide();
        }
         
        var SelectedRegionIds = '@Model.objReportFilters.SelectedRegionIds';
        $("#ddlRegions").val(SelectedRegionIds.split(',')).trigger("chosen:updated");

        var selectedProvinces = '@Model.objReportFilters.SelectedProvinceIds';
        $("#ddlProvinces").val(selectedProvinces.split(',')).trigger("chosen:updated");

        var selectedNetworkStatuses = '@Model.objReportFilters.SelectedNetworkStatues.Replace("'","")';
        $("#SelectedNetworkStatus").val(selectedNetworkStatuses.split(',')).trigger("chosen:updated");


        addDefaultSortingIcons('tblExportReport');
        si.setDateTimeCalendar_ExportEntities("txtDateFrom", "txtDateTo", "imgFromDate", "imgToDate", false);

        $('#btnEntityExportClear').on("click", function () {
            si.LMCReport.ResetLMCReportFilter();
        });

        $('tfoot a').on("click", function () {
            $('form').attr('action', $(this).attr('href')).submit();
            return false;
        });

        //Post form on page header click..
        $('th a').on("click", function () {
            $('form').attr('action', $(this).attr('href')).submit();

            return false;
        });

        $("#btnShowReportData").on("click", function () {
             

            if ($('#ddlLayerColumns option:selected').text() != '--select--' && $('#txtSearchText').val() == "") {
                alert(MultilingualKey.SI_OSP_GBL_JQ_RPT_006);
                return false;
            }
            else if ($('#ddlLayerColumns option:selected').text() == '--select--' && $('#txtSearchText').val() != "") {
                alert(MultilingualKey.SI_OSP_GBL_JQ_RPT_007);
                return false;
            }
            else if ($('#ddlEntityType option:selected').text() == "--Select--") {
                alert(MultilingualKey.SI_OSP_GBL_JQ_RPT_008);
                return false;
            }
            else if ($('#ddlLmcType option:selected').text() == "--Select--") {
                alert(MultilingualKey.SI_OSP_GBL_JQ_RPT_009);
                return false;
            }
            else if ($('#ddlLayerDurationBasedColumns').val() == '') {
                alert(MultilingualKey.SI_OSP_GBL_JQ_RPT_012);
                return false;
            }
            else if ($("#txtDateFrom").val() == "" && $("#customedate").val() != 9) {
                alert(MultilingualKey.SI_OSP_GBL_JQ_RPT_010);
                return false;
            }

            else if ($("#txtDateTo").val() == "" && $("#customedate").val() != 9) {
                alert(MultilingualKey.SI_OSP_GBL_JQ_RPT_011);
                return false;
            }
            
            else if ($('#ddlLayerDurationBasedColumns').val() != '' && $("#txtDateFrom").val() != "" && $("#txtDateTo").val() != "") {
                var startDate = new Date($('#txtDateFrom').val());
                var endDate = new Date($('#txtDateTo').val());
                var configuredDay = 1825;
                 
                return si.LMCReport.GetDaysDifference(startDate, endDate, configuredDay);
            }
            else {
                return true;
            }
        });

    });

    $("#btnExportLMCIntoExcel").on("click", function () {
        si.LMCReport.ExportLMCReport('Excel', 'All', $('#ddlEntityType').val());
        $(".dropbox").slideToggle();
    }); 
    $("#btnExportLMCIntoToKML").on("click", function () {
         
        si.LMCReport.ExportLMCReport('KML', 'All',$('#ddlEntityType').val());
        $(".dropbox").slideToggle();
    }); 


    function onChangeCustomDate() {

        var value = $('#customedate option:selected').val();

        SetFromAndToDate(value);
    }
    function SetFromAndToDate(value) {
         
        var endDate = new Date();
        var startDate = new Date();
        var startDateDiff = 0;
        var endDateDiff = 0;

        if (value == 1) // custom
        {
            $('#txtDateFrom').val("");
            $('#txtDateTo').val("");
            $("#imgFromDate").show();
            $('#imgToDate').show();
            return;
        }
        else if (value == 2) { //Today
            startDateDiff = 0;
            endDateDiff = 0;
            $('#imgFromDate').hide();
            $('#imgToDate').hide();
        }
        else if (value == 3) { //previous day
            startDateDiff = -1;
            endDateDiff = -1;
            $('#imgFromDate').hide();
            $('#imgToDate').hide();
        }
        else if (value == 4) {//last 7 days
            startDateDiff = -6;
            $('#imgFromDate').hide();
            $('#imgToDate').hide();
        }
        else if (value == 5) {//last 30 days
            startDateDiff = -29;
            $('#imgFromDate').hide();
            $('#imgToDate').hide();
        }
        else if (value == 6) {//last 3 Months
            startDateDiff = -89;
            $('#imgFromDate').hide();
            $('#imgToDate').hide();
        }
        else if (value == 7) {//last 6 Months
            startDateDiff = -179;
            $('#imgFromDate').hide();
            $('#imgToDate').hide();
        }
        else if (value == 8) {//last 6 Months
            startDateDiff = -364;
            $('#imgFromDate').hide();
            $('#imgToDate').hide();
        }

        startDate.setDate(startDate.getDate() + startDateDiff);
        endDate.setDate(endDate.getDate() + endDateDiff);

        var newStartDate = startDate.toDateString();
        newStartDate = new Date(Date.parse(newStartDate));

        var newEndDate = endDate.toDateString();
        newEndDate = new Date(Date.parse(newEndDate));

        $('#txtDateFrom').val(fncCurrentDate(newStartDate));
        $('#txtDateTo').val(fncCurrentDate(newEndDate));
        if (value == 0 || value == 9) {
            $('#txtDateFrom').val('');
            $('#txtDateTo').val('');
            $('#imgFromDate').hide();
            $('#imgToDate').hide();
        }
    }

    //$('#btnExport').on('click', function () {
    //    $('.FlowDiv').slideToggle();

    //});
     

</script>

