@using SmartInventory.Settings;
@model Models.PODMaster


<style>

    .btn {
        font-weight: bold !important;
        line-height: 1.42857143 !important;
    }

    .icon-kmldownload {
        font-size: 20px;
    }

    .sitePlan_fieldset {
        padding: 0.5rem 1rem 1rem;
        border: 1px solid #CCCCCC;
        margin-bottom: 1rem;
        border-radius: 4px;
    }

        .sitePlan_fieldset legend {
            width: auto;
            border-bottom: none;
            padding-block: 0.5rem;
            margin-bottom: 0;
        }

    .pose-plus {
        position: absolute;
        right: 9px;
        top: 1px;
        z-index: 9;
    }

    .txtdesc {
        width: 469px;
    }

    #dvregionId .chosen-container, #dvringId .chosen-container {
        width: 84% !important;
        margin-left: 20px;
    }

    #dvregionId .btn, #dvringId .btn {
        padding: 4px 6px;
    }

    .disabledChosenBox {
        cursor: not-allowed;
    }
</style>

<!DOCTYPE html>
<div class="libDetail" id="topologyid">


    @using (Ajax.BeginForm("SaveSiteTopology", "Report", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "dvModalBody", LoadingElementId = "dvProgress" },
                                                    new { id = "frmsittopology", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
    {
        <input type="hidden" id="networkIdField" name="network_id" />
        @Html.HiddenFor(m => m.system_id, new { id = "hdnSystemId" })
        @*<input type="hidden" id="hdnAgg1SystemId" name="hdnAgg1SystemId" />
            <input type="hidden" id="hdnAgg2SystemId" name="hdnAgg2SystemId" />*@
        <input type="hidden" id="hdnSequenceId" name="hdnSequenceId" />
        <input type="hidden" id="hdnsegmentid" name="hdnsegmentid" />
        @Html.HiddenFor(m => m.ring_site_seq, new { id = "hdnringsiteseq" })
        @Html.HiddenFor(m => m.ring_a_site_id, new { id = "hdnRingASiteId" })
        @Html.HiddenFor(m => m.ring_b_site_id, new { id = "hdnRingBSiteId" })

        @Html.HiddenFor(m => m.agg1SystemId, new { id = "hdnAgg1SystemId" })
        @Html.HiddenFor(m => m.agg2SystemId, new { id = "hdnAgg2SystemId" })

        @*<input type="hidden" id="hdnRingASiteId" name="hdnRingASiteId" />*@
        @*<input type="hidden" id="hdnRingASiteDistance" name="hdnRingASiteDistance" />*@
        @Html.HiddenFor(m => m.ring_a_site_distance, new { id = "hdnRingASiteDistance" })
        @Html.HiddenFor(m => m.ring_b_site_distance, new { id = "hdnRingBSiteDistance" })
        @*<input type="hidden" id="hdnRingBSiteId" name="hdnRingBSiteId" />*@
        @*<input type="hidden" id="hdnRingBSiteDistance" name="hdnRingBSiteDistance" />*@


        @*@Html.HiddenFor(m => m.system_id)*@
        <input type="hidden" id="hdnApproveCount" value="0">
        <div class="libTabContent">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="GISInfo">

                    <fieldset class="sitePlan_fieldset">
                        <legend>Topology Criteria</legend>
                        <div class="form-group row">
                            <label class="control-label col-sm-2" for="searchby">@Resources.Resources.SI_OSP_GBL_NET_RPT_357 <i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.site_id, new { @id = "txtSiteId", @title = "Search text", @tabindex = "4", @class = "form-control", @placeholder = "Search text", @maxlength = 100 })

                                @*@Html.TextBoxFor(m => m.site_id, new { @id = "txtSiteId", @title = "Search text", @tabindex = "4", @class = "form-control", @placeholder = "Search text", @maxlength = 100 })*@
                            </div>
                            <label class="control-label col-sm-2" for="txtSearchtext">@Resources.Resources.SI_OSP_GBL_NET_GBL_083 <i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.site_name, new { @id = "txtSiteName", @title = "Search text", @tabindex = "4", @class = "form-control", @placeholder = "Search text", @maxlength = 100, @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-2" for="searchby">@Resources.Resources.SI_OSP_GBL_NET_RPT_457 <i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.top_type, new SelectList(Model.lsttopologytype.Select(x => new { Value = x.dropdown_key, Text = x.dropdown_value }), "Value", "Text"), "-- Select --", new { @class = "chosen-select col-sm-12 ", id = "ddltopologytype" })
                            </div>
                            <label class="control-label col-sm-2" for="txtSearchtext">@Resources.Resources.SI_OSP_GBL_NET_RPT_458 <i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.ring_capacity, new SelectList(Model.lstringtype.Select(x => new { Value = x.dropdown_key, Text = x.dropdown_value }), "Value", "Text"), "-- Select --", new { @class = "chosen-select col-sm-12", id = "ddlringcapacity" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-2" id="lblddlsegment" for="ddlsegment">@Resources.Resources.SI_OSP_GBL_NET_RPT_464 <i class="clsMandatory">*</i>:</label>

                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.segment_id, new SelectList(Model.lstTopologySegmentMaster, "Value", "Text"), new { @class = "chosen-select col-sm-12", id = "ddlsegment" })
                            </div>
                            <div class="col-sm-4" style="left:-29%;">
                                @*<div class="pose-plus" id="btncreatesegmentdiv"><button class="btn btn-primary" id="btncreatesegment" title="Create segment"><i class="fa fa-plus"></i></button> </div>*@
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-sm-2" for="searchby">@Resources.Resources.SI_OSP_GBL_NET_RPT_459 <i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.agg_01, new { @id = "txtagg1", @title = "Enter text", @tabindex = "4", @class = "form-control", @placeholder = "Enter text", @maxlength = 100, @readonly = "readonly" })
                            </div>
                            <label class="control-label col-sm-2" for="txtSearchtext">@Resources.Resources.SI_OSP_GBL_NET_RPT_460 <i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.agg_02, new { @id = "txtagg2", @title = "Enter text", @tabindex = "4", @class = "form-control", @placeholder = "Enter text", @maxlength = 100, @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="control-label col-sm-2" for="searchby">@Resources.Resources.SI_OSP_GBL_NET_RPT_461 <i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.no_of_sites, new SelectList(Model.lstnoofsites.Select(x => new { Value = x.dropdown_key, Text = x.dropdown_value }), "Value", "Text"), "-- Select --", new { @class = "chosen-select col-sm-12", id = "ddlnofsites" })
                            </div>
                            <label class="control-label col-sm-2" for="txtSearchtext">@Resources.Resources.SI_OSP_GBL_NET_RPT_462 (km)<i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.max_distance_peer, new { @id = "txtmaxdistancepeer", @title = "Enter text", @tabindex = "4", @class = "form-control", @placeholder = "Enter text", @maxlength = 4 })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 d-flex">
                                <button type="button" class="ml-auto btn btn-primary" id="bdnsearch">Search</button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="sitePlan_fieldset" id="fldtopology">
                        <legend> </legend>
                        <div class="form-group row" id="dvregionId" style="display: block;">
                            <label class="control-label col-sm-2" for="searchby">@Resources.Resources.SI_OSP_GBL_NET_RPT_463  <i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.region_id, new SelectList(Model.lstTopologyRegionMaster.Select(x => new { Value = x.id, Text = x.region_name }), "Value", "Text"), "--Select--", new { @class = "chosen-select col-sm-12", id = "ddlregionid" })
                                @*<div class="pose-plus"><button class="btn btn-primary" id="btncreatelinkCPL" title="Create new"><i class="fa fa-plus"></i></button> </div>*@

                            </div>
                            <label class="control-label col-sm-2" for="searchby">@Resources.Resources.SI_OSP_GBL_NET_RPT_465 <i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.ring_id, new SelectList(Model.lstTopologySegmentMaster, "Value", "Text"), new { @class = "chosen-select col-sm-12", id = "ddlringtype" })
                                <div class="pose-plus" id="btncreateringdiv"><button class="btn btn-primary" id="btncreatering" title="Create Ring"><i class="fa fa-plus"></i></button> </div>
                            </div>

                        </div>
                        <div class="form-group row" id="dvringId" style="display:block;">



                            <label class="control-label col-sm-2" for="searchby" style="display:none;">@Resources.Resources.SI_OSP_GBL_NET_RPT_466:</label>

                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.ring_site_id, new { id = "lbdringsiteId", style = "display: none;" })
                            </div>
                            @Html.HiddenFor(model => model.ring_site_id, new { id = "ring_site_id" })

                        </div>

                        <div class="form-group row" id="dvregionId" style="display: block;">
                            <label class="control-label col-sm-2" for="searchby">Peer Site 1 <i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.ring_a_site_distance, new SelectList(Model.lsttopologygetsites.Select(x => new { Value = x.siteid, Text = x.sitename }), "Value", "Text"), "--Select--", new { @class = "chosen-select col-sm-12", id = "ddlRingASite" })
                                <div style="display:none;">
                                    @Html.DropDownListFor(m => m.ring_a_site_distance, new SelectList(Model.lsttopologygetsites.Select(x => new { Value = x.siteid, Text = x.sitename }), "Value", "Text"), "--Select--", new { @class = "chosen-select clsddlOtherRingSite", id = "ddlOtherRingSite" })
                                </div>

                                <div class="pose-plus">
                                    <a href="javascript:void(0);"
                                       class="AsiterowShowOnMap"
                                       title="Show on Map">
                                        <i class="fa fa-globe action_icon fa-fw m-r-xs fa-lg"></i>
                                    </a>
                                </div>
                                @*<div class="pose-plus"><button class="btn btn-primary" id="btncreatelinkCPL" title="Create new"><i class="fa fa-plus"></i></button> </div>*@

                            </div>

                            <label class="control-label col-sm-2" for="txtSearchtext">Peer Site 2 <i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.ring_b_site_distance, new SelectList(Model.lsttopologygetsites.Select(x => new { Value = x.siteid, Text = x.sitename }), "Value", "Text"), "--Select--", new { @class = "chosen-select col-sm-12", id = "ddlRingBSite" })
                                <div class="pose-plus">
                                    <a href="javascript:void(0);"
                                       class="BsiterowShowOnMap"
                                       title="Show on Map">
                                        <i class="fa fa-globe action_icon fa-fw m-r-xs fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="display: block;">

                            <p id="dvsiteTable" class="hidden" style="text-align:center;"> <b>Note :</b> There is no site available for the selected ring. You can rearrange the rings below for the topology plan.</p>
                            <!-- Grid to Display Visible Items -->
                            <table id="siteTable" class="hidden">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Site Id</th>
                                        <th>Ring Code</th>
                                        <th>Distance (km)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </fieldset>
                </div>
            </div>

        </div>
        <div class="ModalFooter d-flex --gap05">
            <a href="javascript:void(0);" class="btn btn-default ml-auto" data-dismiss="modal" id="btnCancel" onclick="si.clearTPRelatedObjects();">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_006</a>
            <input type="button" formmethod="post" class="btn btn-primary" name="actionTab" id="btnSave" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_004" />
        </div>

    }

</div>

<div id="dvProgress" style="display: none;">
    <div id="blur" class="progresblur">
        &nbsp;
    </div>
    <div id="progressbar" style="width: 247px; height: 152px; top: 40%; left: 40%;">
        <img alt="Loading..." src="~/content/images/loading.gif" /><br />

    </div>
</div>

<div class="modal fade" id="segmentModal" tabindex="-1" aria-labelledby="segmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h4 class="modal-title" id="segmentModalLabel">Create Segment</h4>
                <span class="icon-close ml-auto" id="closedChildPopup" data-bs-dismiss="modal" aria-label="Close"></span>
            </div>
            <div class="space-pad">
                <form id="segmentForm">
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="searchby">Region <i class="clsMandatory">*</i>:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.agg_02, new { @id = "txtregion", @title = "Enter text", @tabindex = "4", @class = "form-control", @placeholder = "Enter text", @maxlength = 100, @readonly = "readonly" })

                            @*@Html.TextBoxFor(m => m.site_id, new { @id = "txtSiteId", @title = "Search text", @tabindex = "4", @class = "form-control", @placeholder = "Search text", @maxlength = 100 })*@
                        </div>
                        <label class="control-label col-sm-2" for="searchby">Segment Code:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.site_id, new { @id = "txtsegcode", @title = "Search text", @tabindex = "4", @class = "form-control", @placeholder = "Search text", @maxlength = 100, @readonly = "readonly" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="searchby">@Resources.Resources.SI_OSP_GBL_NET_RPT_459:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.site_id, new { @id = "txtsegagg1", @title = "Search text", @tabindex = "4", @class = "form-control", @placeholder = "Search text", @maxlength = 100, @readonly = "readonly" })
                        </div>

                        <label class="control-label col-sm-2" for="txtSearchtext">@Resources.Resources.SI_OSP_GBL_NET_RPT_460 <i class="clsMandatory">*</i>:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.agg_02, new { @id = "txtsegagg2", @title = "Enter text", @tabindex = "4", @class = "form-control", @placeholder = "Enter text", @maxlength = 100, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="txtSearchtext">Description :</label>
                        <div class="col-sm-4">
                            @Html.TextAreaFor(m => m.Seg_desc, new { @id = "txtdesc", @title = "Enter Description", @tabindex = "4", @class = "form-control txtdesc", @placeholder = "Enter Description", @maxlength = 500, @rows = 2, @cols = 50, @style = "resize: none;" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="ModalFooter d-flex --gap05">
                <a href="javascript:void(0);" class="btn btn-default ml-auto" data-dismiss="modal" id="btnsegCancel">
                    @Resources.Resources.GBL_GBL_GBL_GBL_GBL_006
                </a>
                <input type="button" class="btn btn-primary" name="actionTab" id="btnSaveSegment" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_004" />

            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade" id="ringModal" tabindex="-1" aria-labelledby="segmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h4 class="modal-titles" id="segmentModalLabel">Create Ring</h4>
                <span class="icon-close ml-auto" id="closedringChildPopup" data-bs-dismiss="modal" aria-label="Close"></span>
            </div>
            <div class="space-pad">
                <form id="segmentForm">
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="searchby">Segment Code <i class="clsMandatory">*</i>:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.site_id, new { @id = "txtsegmentcode", @title = "Search text", @tabindex = "4", @class = "form-control", @placeholder = "Search text", @maxlength = 100, @readonly = "readonly" })-->
@*@Html.TextBoxFor(m => m.site_id, new { @id = "txtSiteId", @title = "Search text", @tabindex = "4", @class = "form-control", @placeholder = "Search text", @maxlength = 100 })*@
<!--</div>
                        <label class="control-label col-sm-2" for="txtSearchtext">Ring Code <i class="clsMandatory">*</i>:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.agg_02, new { @id = "txtRingCode", @title = "Enter text", @tabindex = "4", @class = "form-control", @placeholder = "Enter text", @maxlength = 100, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="txtSearchtext">Description :</label>
                        <div class="col-sm-4">
                            @Html.TextAreaFor(m => m.Ring_desc, new { @id = "txtdesc", @title = "Search text", @tabindex = "4", @class = "form-control txtdesc", @placeholder = "Search text", @maxlength = 500, @rows = 4, @cols = 50, @style = "resize: none;" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="ModalFooter d-flex --gap05">
                <a href="javascript:void(0);" class="btn btn-default ml-auto" data-dismiss="modal" id="btnringCancel">
                    @Resources.Resources.GBL_GBL_GBL_GBL_GBL_006
                </a>           <input type="button" class="btn btn-primary" name="actionTab" id="btnSaveRing" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_004" />

            </div>
        </div>
    </div>
</div>-->

<style>
    /* Custom button styles */
    .action-btn-success {
        background-color: #28a745; /* Green color */
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
    }

        .action-btn-success:hover {
            background-color: #218838; /* Darker green on hover */
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#GISInfo .input-validation-error").removeClass("input-validation-error");
        $("#segmentModal .input-validation-error").removeClass("input-validation-error");
        $("#ringModal .input-validation-error").removeClass("input-validation-error");

        $(".AsiterowShowOnMap").hide(); // Ensure it's hidden on page load
        $(".BsiterowShowOnMap").hide(); // Ensure it's hidden on page load
        var siteId = '@Model.site_id';
          var sitename = '@Model.site_name';
        $("#txtSiteId").val(siteId);
        $("#txtSiteName").val(sitename);
        $('.chosen-select').chosen({ width: '100%' });
        $("#txtnoOfsite").on("input", function () {
            this.value = this.value.replace(/[^0-9]/g, ''); // Remove non-numeric characters
        });
        $("#txtmaxdistancepeer").on("input", function () {
            this.value = this.value.replace(/[^0-9.]/g, ''); // Remove invalid characters
            if ((this.value.match(/\./g) || []).length > 1) {
                this.value = this.value.slice(0, -1); // Prevent multiple dots
            }

            if (this.value > @ApplicationSettings.MaxSitePeerDisatence) {
                 this.value = @ApplicationSettings.MaxSitePeerDisatence;
                alert("Please enter less than " +@ApplicationSettings.MaxSitePeerDisatence+" (km)!");
            }
        });
               $("#txtSiteId").autocomplete({
    source: function (request, response) {
        $.ajax({
            url: '@Url.Action("GetSiteIds", "Report")',
            type: "GET",
            dataType: "json",
            data: { term: request.term },
            success: function (data) {
            if (data.length === 0) {
            response([{ label: "No results found", value: "", siteName: "", systemId: "" }]);
            } else {
            response($.map(data, function (item) {
            return {
            label: item.label,   // Display site_id in dropdown
            value: item.value,   // Set site_id in input
            siteName: item.siteName, // Set site_name
            systemId: item.systemId  // Store system_id
            };
            }));
            }
            }
            });
            },
            minLength: 3,
            select: function (event, ui) {
            if (ui.item.value !== "") {
            $("#txtSiteId").val(ui.item.value);   // Set selected site_id
            $("#txtSiteName").val(ui.item.siteName); // Set corresponding site_name
            $("#hdnSystemId").val(ui.item.systemId); // Set system_id in hidden field

                getSegmentDetailsRoutewise(); // To bind segment details;
            }
            return false;
            }
            });

        getSegmentDetailsRoutewise(); // To bind segment details;

            $("#ddltopologytype").change(function () {
                var selectedValue = $(this).val(); // Get selected value
                var ddlRingASite = $("#ddlRingASite").val();
                var ddlRingBSite = $("#ddlRingBSite").val();
                if (selectedValue == "Ring") {
                    var ddlnofsites = $('#ddlnofsites');
                    ddlnofsites.prop('selectedIndex', 0).trigger("chosen:updated");
                    $("#ddlnofsites").prop("disabled", false).trigger("chosen:updated");

                    var ddlringcapacity = $('#ddlringcapacity');
                    ddlringcapacity.prop('selectedIndex', 0).trigger("chosen:updated");
                    $("#ddlringcapacity").prop("disabled", false).trigger("chosen:updated");

                    $("#txtagg2").css("display", "block").prop("disabled", false);
                    $("#ddlRingBSite").prop("disabled", false).trigger("chosen:updated");
                    $("#ddlsegment").prop("disabled", false).trigger("chosen:updated");
                    $("#btncreatesegmentdiv").css("display", "block");
                    $("#ddlringtype").prop("disabled", false).trigger("chosen:updated");
                    $("#btncreateringdiv").css("display", "block");

                }
                else if (selectedValue == "Linear")
                {
                   // $("#txtagg2").val("");
                    $("#txtagg2").css("display", "block").prop("disabled", false);
                    $("#ddlRingBSite").prop("disabled", true).trigger("chosen:updated");
                    //  $("#ddlsegment").prop("disabled", true).trigger("chosen:updated");
                    var ddlnofsites = $('#ddlnofsites');
                    ddlnofsites.prop('selectedIndex', 0).trigger("chosen:updated");
                    $("#ddlnofsites").prop("disabled", false).trigger("chosen:updated");

                    var ddlringcapacity = $('#ddlringcapacity');
                    ddlringcapacity.prop('selectedIndex', 0).trigger("chosen:updated");
                    $("#ddlringcapacity").prop("disabled", false).trigger("chosen:updated");
                    $("#btncreatesegmentdiv").css("display", "none");
                   // $("#ddlringtype").prop("disabled", true).trigger("chosen:updated");
                    $("#btncreateringdiv").css("display", "none");
                    $("#ddlringtype").val('');
                    $("#ddlRingBSite_chosen").val('');
                }
                else
                {
                    var ddlnofsites = $('#ddlnofsites');
                    ddlnofsites.prop('selectedIndex', 0).trigger("chosen:updated");
                    $("#ddlnofsites").prop("disabled", false).trigger("chosen:updated");

                    var ddlringcapacity = $('#ddlringcapacity');
                    ddlringcapacity.prop('selectedIndex', 0).trigger("chosen:updated");
                    $("#ddlringcapacity").prop("disabled", false).trigger("chosen:updated");

                    $("#txtagg2").css("display", "block").prop("disabled", true); // Show and enable
                     $("#ddlRingBSite").prop("disabled", false).trigger("chosen:updated");// Show and enable for Dual home
                    $("#ddlsegment").prop("disabled", false).trigger("chosen:updated");
                    $("#ddlRingBSite_chosen").val('');
                    $("#btncreatesegmentdiv").css("display", "block");
                    $("#ddlringtype").prop("disabled", false).trigger("chosen:updated");
                    $("#btncreateringdiv").css("display", "none");

                }
            });


        $('#ddlsegment').change(function () {


            var segment = $("#ddlsegment option:selected").text();

            var agg1 = $(this).find(":selected").data("agg1_site_id");
            var agg2 = $(this).find(":selected").data("agg2_site_id");
            if (segment != '--Select--') {
                $("#txtagg1").val(agg1);
                $("#txtagg2").val(agg2);
            }
            else {
                $("#txtagg1").val('');
                $("#txtagg2").val('');
            }

        });


    $('#ddlregionid').change(function () {

        bindRingDetails();
    });



                $('#ddlsegment').off("click").change(function () {

                  //  event.preventDefault(); // Prevent form submission (if inside a form)
                    event.stopPropagation();

            });

            $("#ddlringtype").on("change", function () {

                getSiteListItemRingwise();

            });


            });
            $('#btnSave').click(function (e) {
            e.preventDefault(); // Prevent default button action
            var isValid = true;

                var ddlRingASite = $("#ddlRingASite").val();
                var ddlRingBSite = $("#ddlRingBSite").val();
                var ddltopologytype = $("#ddltopologytype").val();

                if (ddltopologytype == "Ring") {
                    if ((ddlRingASite == "" && ddlRingASite == "") || ddlRingASite == "" || ddlRingBSite == "" ) {
                        alert("Please select Peer Site 1 and Peer Site 2 when Topology Type: Ring.");
                        return false;
                    }
                }
                else if (ddltopologytype == "Linear"){
                    $("#ddlRingBSite").val('');
                    $("#ddlRingBSite").prop("disabled", true);
                    if (ddlRingASite == "") {
                        alert("Peer Site 1 cannot be blank when Topology Type: Linear.");
                        return false;
                    }

                }



                var TOPOTYPE = $("#ddltopologytype").val();
                if (TOPOTYPE == "") {
                    alert("Please select topology type!");
                    return;
                }

                var ringcap = $("#ddlringcapacity").val();
                if (ringcap == "") {
                    alert("Please select ring capacity!");
                    return;
                }

            //  Validate all fields
            var SiteId = $('#txtSiteId').val();
            var SiteName = $("#txtSiteName").val();
            var agg1 = $("#txtagg1").val();
            var agg2 = $("#txtagg2").val();
            var noOfsite = $("#txtnoOfsite").val();
            var maxdistancepeer = $("#txtmaxdistancepeer").val();
            var systemId = $("#hdnSystemId").val();

            var regionid = $("#ddlregionid").val();
            var segment = $("#ddlsegment").val();
            var regionValue = $('#ddlregionid').val().trim();
            if (regionValue == '') {
            $('#ddlregionid').css("border-color", "red");
            isValid = false; // Stop form submission
            } else {
            $('#ddlregionid').css("border-color", "");
            }
            validateField("#txtSiteId");
            validateField("#txtSiteName")
                validateField("#txtagg1");
                if (ddltopologytype == "Ring") {
                    validateField("#txtagg2");
                }

            validateField("#txtnoOfsite");
            validateField("#txtmaxdistancepeer");
            // validateField(segment);
            function validateField(selector) {
            var field = $(selector); // Ensure it's a jQuery object

            if (field.length === 0) {
            console.error("Field not found:", selector);
            return false; // Exit and return false
            }

            var fieldValue = field.val(); // Get value safely
            if (!fieldValue || fieldValue.trim() === "") {
            field.css("border-color", "red");
            isValid = false;
            } else {
            field.css("border-color", ""); // Reset border color
            }

            return isValid; // Return validation result
            }




            // Perform AJAX request to submit the form
            if (isValid) {
            $.ajax({
            url: '@Url.Action("SaveSiteTopology", "Report")',

            type: 'POST',
            data: $('#frmsittopology').serialize(), // Serialize form data
            success: function (response) {
            if (response.Success) {
            // Show success message
            alert(response.Message);
                $('#closeModalPopup').trigger("click");
            } else {
            // Show error message
            alert(response.Message);
            }
            },
            error: function () {
            alert('An error occurred while saving the topology.');
            }
            });
            }
            });
        $("#bdnsearch").click(function (event) {

            event.preventDefault(); // Prevent form submission (if inside a form)
            event.stopPropagation();
            var agg1SiteId = $("#txtagg1").val();
            var agg2SiteId = $("#txtagg2").val();
            var regionId = $("#ddlRegion").val();
            var topologyType = $("#ddltopologytype").val();

            toggleMapLink();
            $("#lbdringsiteId").text('').css("display", "none");
            var ddlregionid = $('#ddlregionid');
            ddlregionid.prop('selectedIndex', 0).trigger("chosen:updated");

            var ddlsegment = $('#ddlsegment');
            ddlsegment.prop('selectedIndex', 0).trigger("chosen:updated");

            var ddlringtype = $('#ddlringtype');
            ddlringtype.prop('selectedIndex', 0).trigger("chosen:updated");

            var ddlRingASite = $('#ddlRingASite');
            ddlRingASite.prop('selectedIndex', 0).trigger("chosen:updated");

            var ddlRingBSite = $('#ddlRingBSite');
            ddlRingBSite.prop('selectedIndex', 0).trigger("chosen:updated");


            var ddlnofsites = $("#ddlnofsites").val();
            if (ddlnofsites === "" && topologyType == "Ring") {
                alert("Please select no of sites !");
                return;
            }

            // var segmentName = $("#txtSegmentName").val();
            if (topologyType == "Ring") {
                if (agg1SiteId === "" || agg2SiteId === "") {
                    alert("Please select both Aggregate Site 1 & Aggregate Site 2");
                    return;
                }
            }
            else if (topologyType == "Linear") {
                    if (agg1SiteId === "") {
                        alert("Please select Aggregate Site 1.");
                        return;
                    }
                }
            $("#dvProgress").show();
            $('#dvProgress').css('display', 'block');

            $("#dvProgress").show();
            getAllSitelistItem();


        });


            $('.chosen-select').chosen({ width: '100%' });
            $("#btncreatesegment").click(function (event) {
                event.preventDefault(); // Prevent form submission (if inside a form)
                event.target.disabled = false;
            //event.stopPropagation();
            var agg1 = $("#txtagg1").val();
            var agg2 = $("#txtagg2").val();
            var regionid = $("#ddlregionid").val();
            // Set the value of #txtsegagg1
            var selectedregion = $("#ddlregionid option:selected").text();

                var segmentid = $("#ddlsegment").val();
                var nofsites = $("#ddlnofsites").val();

            if (regionid == "")
            {
            alert("Please select Region!");
            return false;
                }

                if (nofsites == "") {
                    alert("Please select Max. Sites per Ring!");
                    return false;
                }
            if (agg1 == "") {
                alert("Please select Aggregate Site 1!");
            return false;
            }
            if (agg2 == "") {
                alert("Please select Aggregate Site 2!");
            return false;
            }
            //if (segmentid != "") {
            //alert("Segment already added!");
            //return false;
            //}
            $("#segmentModal").modal("show");
            $("#txtregion").val(selectedregion);
            $("#txtsegagg1").val(agg1); // Example: Combining both values
            $("#txtsegagg2").val(agg2);
            $.ajax({
            url: '@Url.Action("GetSegmentsCode", "Report")',
            type: "GET",
            dataType: "json",
            data: {  },

            success: function (response) {
            if (response && response.segment_code) {
            $("#txtsegcode").val(response.segment_code);
            if (response.sequence) {  // Assuming "sequence_id" is the key in the response
            $("#hdnSequenceId").val(response.sequence);
                $("#segmentModal").modal("show");
            }
            } else {
            alert("Failed to fetch segment code.");
            }
            },
            error: function () {
            alert("An error occurred while fetching segment code.");
            }
            });
            });
            //$('#closedChildPopup').trigger("click");

        $("#closedChildPopup").click(function () {

          //  event.preventDefault(); // Prevent form submission (if inside a form)
          //  event.stopPropagation();
            $("#segmentModal").modal("hide");

            });
        $("#closedringChildPopup").click(function () {

            event.preventDefault(); // Prevent form submission (if inside a form)
            event.stopPropagation();
            //$("#segmentModal").modal("hide");
           // $("#ringModal").hide();
        });
        $("#btncreatering").click(function (event) {
            event.preventDefault(); // Prevent form submission (if inside a form)
            event.stopPropagation();
            var selectedsegment = $("#ddlsegment option:selected").text();
            var segmentid = $("#ddlsegment").val();
            var region = $("#ddlregionid option:selected").text();
            var segment = $("#ddlsegment option:selected").text();

            debugger;
            if (region == "--Select--") {
                alert("Please select valid region!");
                return;
            }

            var ringcapacity = $("#ddlringcapacity").val();
            if (!ringcapacity) {
                alert("Please select Ring Capacity.");
                return;
            }
            // Validate required fields
            if (!segmentid) {
                alert("Please select segment.");
                return;
            }
            var ringCount = $("#ddlringtype option").length;

            //$("#ringModal").modal("show");
            popup.LoadModalDialog('CHILD', 'Report/GetRingCode', { ring: ringCount, segmentid:segmentid,segment: selectedsegment, partialringcode: region + "-" + segment + "-" }, 'Create Ring', 'modal-lg');
            //popup.LoadModalDialog('Report/GetRingCode', { ring: ringCount, segment: selectedsegment, partialringcode: region + "-" + segment + "-" }, 'Create Ring', 'modal-md');

        });

                //----
           //------------------

            //$("#txtsegmentcode").val(selectedsegment);
            //});

            // Handle Save Button Click
            $("#saveSegment").click(function (event) {
            event.preventDefault(); // Prevent form submission (if inside a form)
            event.stopPropagation();
            let segmentName = $("#segmentName").val();
            let segmentCode = $("#segmentCode").val();
            let description = $("#description").val();

            if (!segmentName || !segmentCode || !description) {
            alert("Please fill all fields!");
            return;
            }

            alert("Segment Saved Successfully!\nName: " + segmentName + "\nCode: " + segmentCode + "\nDescription: " + description);

            // Close Modal After Save
            $("#segmentModal").modal("hide");

            // Clear Inputs After Save
            $("#segmentForm")[0].reset();
            });
            $("#btnSaveSegment").click(function () {

            // Get input values
            var region = $("#txtregion").val();
            var regionid = $("#ddlregionid").val();
            var agg1 = $("#txtsegagg1").val();
            var agg2 = $("#txtsegagg2").val();
            var description = $("#txtdesc").val();
            var segmentcode = $("#txtsegcode").val();
            var Agg1SystemId = $("#hdnAgg1SystemId").val();
            var segment_id=$("#hdnSequenceId").val();
            var Agg2SystemId = $("#hdnAgg2SystemId").val();

                $("#dvProgress").show();
                $('#dvProgress').css('display', 'block');

            $.ajax({
            url: '@Url.Action("SaveSegment", "Report")',
            type: "POST",
            dataType: "json",
            data: {
            segmentcode: segmentcode,
            region_code: regionid,
            agg1_site_id: agg1,
            agg2_site_id: agg2,
            description: description,
            Agg1SystemId: Agg1SystemId,
            Agg2SystemId: Agg2SystemId,
            segment_id: segment_id
            },
            success: function (response) {
                if (response) {
                    $("#dvProgress").hide();
                    $('#dvProgress').css('display', 'none');

                alert("Segment saved successfully!");

            // Hide modal
            $("#segmentModal").hide();


                // Now call the second AJAX request


            $.ajax({
            url: '@Url.Action("GetSegmentsByRegion", "Report")',
            type: "GET",
                data: { id: regionid, aggregate1: agg1, aggregate2: agg2 }, // Pass selected regionId to the server
            success: function (data) {
            var segmentDropdown = $('#ddlsegment');
            segmentDropdown.empty(); // Clear existing options
                /*segmentDropdown.append('<option value="">--Select Segment--</option>');*/

            // Append options from the data
            $.each(data, function (index, item) {
            segmentDropdown.append('<option value="' + item.Value + '">' + item.Text + '</option>');
            });

            // Refresh the dropdown if using Chosen.js
            segmentDropdown.trigger("chosen:updated");
            },
            error: function () {
            alert("Error fetching ring types. Please try again.");
            }
            });

            } else {
            alert(response.Message);
            }
            },
            error: function () {
            alert('An error occurred while saving the topology.');
            }
            });

            });
            $("#btnSaveRing").click(function () {

            // Get input values
            var ringcode = $("#txtRingCode").val();
            var segmentid = $("#ddlsegment").val();
            var segmentcode = $("#txtsegmentcode").val();
            var ringdesc = $("#txtringdesc").val();
            var ringcapacity = $("#ddlringcapacity").val();
            // Validate required fields
            if (!segmentid ) {
            alert("Please select segment.");
            return;
            }

            // AJAX call to save data
            $.ajax({

            url: '@Url.Action("SaveRing", "Report")', // Save the ring data
            type: 'POST',
            data: {
            segmentcode: segmentid,
            ringcode: ringcode,
                description: ringdesc,
                ringcapacity: ringcapacity
            },
            success: function (response) {
            if (response) {
                alert("Ring saved successfully!");
            $("#ringModal").hide(); // Hide modal after saving
            //    $("#ringModal").modal("hide");

                var nbrOfsites = $("#ddlnofsites").val();

                if (nbrOfsites === "") {
                    alert("Please select no of sites !");
                }

                var ringcap = $("#ddlringcapacity").val();
            // Now fetch updated ring types
            $.ajax({
            url: '@Url.Action("GetRingTypesByRegion", "Report")',
            type: 'GET',
                data: { segmentId: segmentid, numberofsites: nbrOfsites, ringcapacity: ringcap }, // Pass the selected segment ID
            success: function (data) {
            var ringTypeDropdown = $('#ddlringtype');
            ringTypeDropdown.empty(); // Clear previous options
            ringTypeDropdown.append('<option value="">--Select Ring--</option>');

            // Append new options
            $.each(data, function (index, item) {
                ringTypeDropdown.append('<option value="' + item.ring_id + '">' + item.ring_info + '</option>');
            });

            // Update Chosen.js Dropdown (if used)
            ringTypeDropdown.trigger("chosen:updated");
            },
            error: function () {
            alert("Error fetching ring types. Please try again.");
            }
            });

            } else {
            alert(response.Message);
            }
            },
            error: function () {
            alert('An error occurred while saving the topology.');
            }
            });

            });
            $("#btnsegCancel").click(function (event) {
            event.preventDefault(); // Prevent form submission (if inside a form)
                event.stopPropagation();
                $("#segmentModal").modal("hide");
            //$("#segmentModal").hide();
            });
        $("#btnringCancel").click(function (event) {
            event.preventDefault(); // Prevent form submission (if inside a form)
            event.stopPropagation();
            $("#ringModal").hide();
        });

        function disableSelectedOptions() {
            var selectedA = $("#ddlRingASite option:selected").text().trim();
            var selectedB = $("#ddlRingBSite option:selected").text().trim();

            $("#ddlRingBSite option, #ddlRingASite option").prop("disabled", false); // Reset all options


            if (selectedA) {
                $("#ddlRingBSite option").filter(function () {
                    return $(this).text().trim() === selectedA;
                }).prop("disabled", true);
            }

            if (selectedB) {
                $("#ddlRingASite option").filter(function () {
                    return $(this).text().trim() === selectedB;
                }).prop("disabled", true);
            }

            // Refresh chosen plugin if used
            $("#ddlRingASite, #ddlRingBSite").trigger("chosen:updated");
            }
            $('#ddlRingBSite').change(function () {
                var selectedAA = $("#ddlRingASite option:selected").text().trim();
                var selectedBB = $("#ddlRingBSite option:selected").text().trim();

                toggleMapLink();
            var selectedSiteId = $(this).val();
            var selectedDistance = $(this).find(":selected").data("distance");
            $("#hdnRingBSiteId").val(selectedSiteId);
            $("#hdnRingBSiteDistance").val(selectedDistance);
            var siteA = $("#ddlRingASite").val();
            var siteB = $("#ddlRingBSite").val();

                if (selectedAA === selectedBB && siteA !== "" && siteB !== "") {
            alert("Both sites cannot be the same. Please select different sites.");
            $("#ddlRingBSite").val(""); // Reset second dropdown
            }
            });

            $('#ddlRingASite').change(function () {
                var selectedA = $("#ddlRingASite option:selected").text().trim();
                var selectedB = $("#ddlRingBSite option:selected").text().trim();
                var selectedSiteId = $(this).val(); // Get selected siteid
                toggleMapLink();
            var selectedDistance = $(this).find(":selected").data("distance"); // Get distance
            $("#hdnRingASiteId").val(selectedSiteId); // Store in hidden field
            $("#hdnRingASiteDistance").val(selectedDistance); // Store distance
            var siteA = $("#ddlRingASite").val();
            var siteB = $("#ddlRingBSite").val();

                if (selectedA === selectedB && siteA !== "" && siteB !== "") {
            alert("Both sites cannot be the same. Please select different sites.");
            $("#ddlRingASite").val(""); // Reset first dropdown
            }
            });
            // Attach change event handlers
            $("#ddlRingASite, #ddlRingBSite").change(disableSelectedOptions);
        $('.chosen-select').chosen({ width: '100%' });

        // Show On Map
        $('.AsiterowShowOnMap').on("click", function () {

            var selectedOption = $("#ddlRingASite option:selected"); // Select the active option

            var systemId = selectedOption.attr("data-siteid"); // Get data-siteid
            si.ShowEntityOnMap(systemId, 'POD', 'Point'); $(popup.DE.MinimizeModel).trigger("click");
        });

        // Show On Map
        $('.BsiterowShowOnMap').on("click", function () {


            var selectedOption = $("#ddlRingBSite option:selected"); // Select the active option

            var systemId = selectedOption.attr("data-siteid"); // Get data-siteid
            si.ShowEntityOnMap(systemId, 'POD', 'Point'); $(popup.DE.MinimizeModel).trigger("click");
        });


        // Remove site association
        $(document).off("click", ".action-btn-success").on("click", ".action-btn-success", function () {

            // Extract data attributes
    var inRingId = $(this).data("id") || 0;
    var inSystemId = $(this).data("siteid") || 0;
    var baseSystemId = $("#hdnSystemId").val();
            var maxDistancePeer = $("#txtmaxdistancepeer").val();

            confirm("Are you sure you want to remove this ?", function () {
                           $.ajax({
    url: `@Url.Action("Removetopologygetsitedissociation", "Report")`,
    type: "GET",
    dataType: "json",
    data: {
        basesystem_id: baseSystemId,
        systemId: inSystemId,
        ringId: inRingId,
        distance: maxDistancePeer
    },
    success: function (response) {
        alert("Removed successfully!");
        if (response?.lsttopologygetsites?.length > 0) {
            populateDropdowns(response.lsttopologygetsites, true);
        } else {
            resetDropdowns();
        }
    },
    error: function (xhr, status, error) {
        console.error(`Error fetching topology sites: ${status}`, error);
        alert("Error fetching topology sites. Please try again.");
    }
});
            });

        });

    function bindRingDetails(ring = null) {
        var regionId = $('#ddlregionid').val(); // Get the selected RegionId
 var agg1 = $("#txtagg1").val();
 var agg2 = $("#txtagg2").val();

 if (agg1 === "") {
     alert("Please select Aggregate Site 1!");
     return false;
 }
 if (agg2 === "") {
     alert("Please select Aggregate Site 2!");
     return false;
 }

 var segmentId = $('#ddlsegment').val(); // Get the selected SegmentId
 var ringcap = $("#ddlringcapacity").val();
 var topologyType = $("#ddltopologytype").val();
 var nofsites = $("#ddlnofsites").val();

 if (ringcap === "") {
     alert("Please select ring capacity!");
     return false;
 }
 if (topologyType === "") {
     alert("Please select topology type!");
     return false;
 }
 if (nofsites === "") {
     alert("Please select number of sites!");
     return false;
 }

 if (segmentId) {
     $.ajax({
         url: '@Url.Action("GetRingTypesByRegion", "Report")', // Fetch ring types
         type: 'GET',
         data: { segmentId: segmentId, numberofsites: nofsites, ringcapacity: ringcap },
         success: function (data) {
             var ringTypeDropdown = $('#ddlringtype');
             ringTypeDropdown.empty(); // Clear existing options
             ringTypeDropdown.append('<option value="">--Select Ring--</option>');

             // Append new options from response
             $.each(data, function (index, item) {
                 ringTypeDropdown.append('<option value="' + item.ring_id + '">' + item.ring_info + '</option>');
             });

             debugger;
             if (ring !=null)
             {
                 selectByText(ringTypeDropdown, ring);  }
             // **Update Chosen Dropdown**
             ringTypeDropdown.trigger("chosen:updated"); // Ensure chosen dropdown updates
         },
         error: function () {
             alert("Error fetching ring types. Please try again.");
         }
     });
 } else {
     // Clear the ring type dropdown if no segment is selected
     $('#ddlringtype').empty().append('<option value="">--Select Ring Type--</option>');
 }
    };
        function updateGrid() {
            var $dvsiteTable = $("#dvsiteTable");
            var $table = $("#siteTable");
            var $tbody = $table.find("tbody");

            // Clear previous data
            $tbody.empty();

            // Get all options that are NOT hidden (Alternative way)
            var visibleOptions = $("#ddlOtherRingSite option").filter(function () {
                 return !$(this).prop("hidden");  // Use hidden property instead of :visible
                //return !$(this).css("display") === "none";
            });
            ;
            var v_length = visibleOptions.length;
            // Get all visible options
            visibleOptions.each(function () {
                var fullText = $(this).text();
                var ringId = $(this).data("ringid");
                var siteid = $(this).data("siteid");

                // Extract values
                let parts = fullText.split(/\s*\(\s*/); // Split by "(" ignoring spaces
                if (parts.length > 1) {

                    let siteName = parts[0]; // "siteN-2"
                    let extractedValue = parts[1].replace(")", ""); // Remove ")"
                    let RingName = "";
                    if (parts.length == 3) {
                        RingName = parts[1].replace(/\)\s*$/, ""); // Remove trailing ")"
                        extractedValue = parts[2].replace(")", ""); // Remove ")"
                      //  extractedValue = (extractedValue / 1000).toFixed(3); // Convert and format to 3 decimal places;
                    }


                    debugger;

                    // Skip empty/default option
                    if (ringId !== "" && ringId != 0) {
                        var row = "<tr>" +
                            "<td><button type='button' class='action-btn-success' data-id='" + ringId + "' data-siteid='" + siteid + "'>Remove</button></td>" +
                            "<td>" + siteName + "</td>" +
                            "<td>" + RingName + "</td>" +
                            "<td>" + extractedValue + "</td>" +
                            "</tr>";

                        $tbody.append(row);
                    }

                    // Show or hide the table based on data availability
                    if ($tbody.children().length > 0) {
                        $dvsiteTable.show();
                        $table.show(); // Show table if data exists
                        $table.addClass("grid"); // Show table if data exists
                    } else {
                        $dvsiteTable.hide();
                        $table.hide(); // Hide table if no data
                    }
                }




            });

            var childrenlength = $tbody.children().length;
            // Show or hide the table based on data availability
            if ($tbody.children().length > 0) {
                $table.removeClass("hidden");
                $dvsiteTable.removeClass("hidden");
                $table.addClass("grid"); // Show table if data exists
            } else {
                $table.addClass("hidden");
                $dvsiteTable.addClass("hidden");
            }
        }

        function getSiteListItemRingwise(isfresh = false) {
    var $dvsiteTable = $("#dvsiteTable");
    var $table = $("#siteTable");
    var $tbody = $table.find("tbody");

    // Clear previous data
            $tbody.empty();

    $table.addClass("hidden");
    $dvsiteTable.addClass("hidden");

            var selectedRingId = $("#ddlringtype").val(); // Get selected value
            var selectedRing = $("#ddlringtype option:selected").text(); // Get selected value
            if (selectedRing !="--Select Ring--")
            $("#lbdringsiteId").text(selectedRing).css("display", "none");
    var visibleCount = 0;
    var secondaryVisibleCount = 0;
    var thirdCount = 0;

    var $dropdownA = $("#ddlRingASite");
            var $dropdownB = $("#ddlRingBSite");
            var $ddlOtherRingSite = $("#ddlOtherRingSite");
            var ddltopologytype = $("#ddltopologytype").val();

            function filterDropdownOptions($dropdown, condition, hideOthers = true, isfresh  = true) {

                if (isfresh) {
                    $dropdown.find("option").each(function () {
                        var ringId = $(this).attr("data-ringid");

                        if ((ddltopologytype == "Dual Home" || ddltopologytype == "Linear") && condition != "0" && (ringId === condition || ringId === "" || ringId === undefined))
                        {
                            $(this).show();
                            if (hideOthers) visibleCount++;
                        }
                        else if (ddltopologytype != "Dual Home" && (ringId === "0" || ringId === "" || ringId === undefined)) {
                            $(this).show();
                            if (hideOthers) visibleCount++;
                        } else {
                            $(this).hide();
                        }
                    });
                }
                else {
                    $dropdown.find("option").each(function () {
                        var ringId = $(this).attr("data-ringid");
                        if (ddltopologytype == "Dual Home" && condition !="0" && (ringId === condition || ringId === "" || ringId === undefined)) {
                            $(this).show();
                            if (hideOthers) visibleCount++;
                        }
                        else if (ddltopologytype != "Dual Home" && (ringId === condition || ringId === "0" || ringId === "" || ringId === undefined)) {
                            $(this).show();
                            if (hideOthers) visibleCount++;
                        } else {
                            $(this).hide();
                        }
                    });
                }

    }

    //--- Start Case First ---
            if (!isfresh) {
                filterDropdownOptions($dropdownA, selectedRingId, true, isfresh);
                filterDropdownOptions($dropdownB, selectedRingId, false, isfresh);
            }
            else {
                filterDropdownOptions($dropdownA, selectedRingId, true, isfresh);
                filterDropdownOptions($dropdownB, selectedRingId, false, isfresh);
            }
    //--- End Case First ---
    //--- Start Case Second ---
    if (visibleCount === 1 && !isfresh) {
        filterDropdownOptions($dropdownA, "0", true, isfresh);
        filterDropdownOptions($dropdownB, "0", false, isfresh);
        if (visibleCount==2)
        secondaryVisibleCount++;
    }
    //--- End Case Second ---
    //--- Start Case Third ---
            if ((ddltopologytype == "Dual Home" && visibleCount == 1) || (secondaryVisibleCount === 1 || isfresh)) {
        $ddlOtherRingSite.find("option").each(function () {
            var ringId = $(this).attr("data-ringid");
            if (ringId !== selectedRingId && ringId !== "0" && ringId !== "" || ringId === undefined) {
                $(this).show();
                thirdCount++;
            } else {
                $(this).hide();
            }
        });

    }

            if (thirdCount > 1 && selectedRingId !== null || isfresh) {

        updateGrid();
    }
    //--- End Case Third ---

    // Refresh dropdowns
    $dropdownA.trigger("chosen:updated");
            $dropdownB.trigger("chosen:updated");
            $ddlOtherRingSite.trigger("chosen:updated");
}


    function getAllSitelistItem() {


    // Get selected values
            var topologytype = $("#ddltopologytype").val();
            var maxdistancepeer = $("#txtmaxdistancepeer").val();
    var ringid = $("#ddlringtype").val() || 0; // Fallback to 0 if null/undefined
    var systemId = $("#hdnSystemId").val() || 0;

            if (!systemId) {
                alert("System ID is missing. Defaulting to 0.");
            }

     // AJAX Call
     $.ajax({
         url: '@Url.Action("Gettopologygetsites", "Report")',
         type: "GET",
         dataType: "json",
         data: { systemId: systemId, ringId: ringid, distance: maxdistancepeer },
         success: function (response) {
             $("#dvProgress").hide();
            if (response && response.lsttopologygetsites && response.lsttopologygetsites.length > 0) {
                populateDropdowns(response.lsttopologygetsites);
            } else {
                resetDropdowns();
            }
          },
         error: function (xhr, status, error) {
             $("#dvProgress").hide();
            console.error("Error fetching topology sites:", status, error);
            alert("Error fetching topology sites. Please try again.");
              }
      });
}

            // Function to populate dropdowns
        function populateDropdowns(sites, isfresh = false) {

                var dropdownA = $("#ddlRingASite");
            var dropdownB = $("#ddlRingBSite");
            var dropdownOther = $("#ddlOtherRingSite");

                // Clear existing options
                dropdownA.empty();
            dropdownB.empty();
            dropdownOther.empty();

                // Append default option
                dropdownA.append('<option value="">--Select--</option>');
                dropdownB.append('<option value="">--Select--</option>');
                // Append new options
                $.each(sites, function (index, item) {
                    var optionHtml = '<option value="' + item.siteid + '" data-distance="' + item.sitedistance + '" data-ringid="' + item.ringid + '"  data-siteid="' + item.siteid + '">' + item.sitename + ' (' + (item.sitedistance / 1000).toFixed(3) + ')</option>';
                    dropdownA.append(optionHtml);
                    dropdownB.append(optionHtml);
                    dropdownOther.append(optionHtml);
                });

            getSiteListItemRingwise(isfresh);
                // Refresh dropdowns
                dropdownA.trigger("chosen:updated");
            dropdownB.trigger("chosen:updated");
            dropdownOther.trigger("chosen:updated");
            }

            // Function to reset dropdowns
            function resetDropdowns() {
                var dropdownA = $("#ddlRingASite");
                var dropdownB = $("#ddlRingBSite");
                var ddlOtherRingSite = $("#ddlOtherRingSite");

                // Clear existing options
                dropdownA.empty();
                dropdownB.empty();
                ddlOtherRingSite.empty();

                // Append default option
                dropdownA.append('<option value="">--Select--</option>');
                dropdownB.append('<option value="">--Select--</option>');

                // Refresh dropdowns
                dropdownA.trigger("chosen:updated");
                dropdownB.trigger("chosen:updated");
                ddlOtherRingSite.trigger("chosen:updated");
        }

        function toggleMapLink() {
            if ($("#ddlRingASite").val()) {
                $(".AsiterowShowOnMap").show();  // Show if selected
            } else {
                $(".AsiterowShowOnMap").hide();  // Hide if nothing is selected
            }

            if ($("#ddlRingBSite").val()) {
                $(".BsiterowShowOnMap").show();  // Show if selected
            } else {
                $(".BsiterowShowOnMap").hide();  // Hide if nothing is selected
            }
        }


                function getSegmentDetailsRoutewise() {


    var systemId = $("#hdnSystemId").val() || 0;

            if (!systemId) {
                alert("System ID is missing. Defaulting to 0.");
            }

     // AJAX Call
     $.ajax({
         url: '@Url.Action("getSegmentDetailsRoutewise", "Report")',
         type: "GET",
         dataType: "json",
         data: { systemId: systemId },
         success: function (response) {
             if (response && response.lstsegment && response.lstsegment.length > 0) {
                 // Append new options

                 var ddlsegment = $("#ddlsegment");

                 // Clear existing options
                 ddlsegment.empty();

                 // Append default option
                /* ddlsegment.append('<option value="">--Select--</option>');*/
                 $.each(response.lstsegment, function (index, item) {
                     var optionHtml = '<option value="' + item.id + '" data-region_id="' + item.region_id + '" data-agg1_site_id="' + item.agg1_site_id + '"  data-agg2_site_id="' + item.agg2_site_id + '">' + item.segment_code+'</option>';
                     ddlsegment.append(optionHtml);
                     if (index == 0) {
                      
                         var agg1 = item.agg1_site_id;
                         var agg2 = item.agg2_site_id;
                             $("#txtagg1").val(agg1);
                         $("#txtagg2").val(agg2);
                         document.getElementById("hdnAgg1SystemId").value = item.agg1_system_id;
                         document.getElementById("hdnAgg2SystemId").value = item.agg2_system_id;
                     }

                 });
                 // Refresh dropdowns
                 ddlsegment.trigger("chosen:updated");
                 if (response.ring != "" && response.ring != null) {
                     selectByText("ddlsegment", response.segment);
                     $("#ddlsegment").trigger("chosen:updated");
                     selectByText("ddltopologytype", response.topology_type);
                     $("#ddltopologytype").trigger("chosen:updated");
                     
                     if (response.topology_type == "Linear") { $("#ddlRingBSite").prop("disabled", true); }
                     else { $("#ddlRingBSite").prop("disabled", false); }

                     selectByText("ddlringcapacity", response.ring_capacity);
                     $("#ddlringcapacity").trigger("chosen:updated");
                     selectByText("ddlregionid", response.region_name);
                     $("#ddlregionid").trigger("chosen:updated");

                     var ringTypeDropdown = $('#ddlringtype');
                     ringTypeDropdown.empty(); // Clear existing options

                     //ringTypeDropdown.append('<option value="">--Select Ring--</option>');
                     //// Append new options from response
                     //ringTypeDropdown.append('<option value="' + response.ring_id + '">' + response.ring + '</option>');

                     //selectByText("ddlringtype", response.ring);
                     //$("#ddlringtype").trigger("chosen:updated");

                     selectByText("ddlnofsites", response.no_of_sites.toString());
                     $("#ddlnofsites").trigger("chosen:updated");

                     $("#txtmaxdistancepeer").val(response.max_distance_peer);

                     //$("#txtagg1").val(response.agg_01);
                     //$("#agg_02").val(response.segment);
                     bindRingDetails(response.ring);
                    
                     getAllSitelistItem();
                     setTimeout(() => {

                         selectByText("ddlringtype", response.ring);
                         $("#ddlringtype").trigger("chosen:updated");

                         if (response.ring_a_site_id > 0) {
                             selectByValue("ddlRingASite", response.ring_a_site_id.toString());
                         }
                         if (response.ring_b_site_id > 0) {

                             selectByValue("ddlRingBSite", response.ring_b_site_id.toString());

                         }
                         $("#ddlRingASite").trigger("chosen:updated");
                         $("#ddlRingBSite").trigger("chosen:updated");
                     }, 2000); // This takes 2 seconds




                 }
                 else {
                     $("#btncreateringdiv").css("display", "block");
                 }
            } else {
                 var ddlsegment = $("#ddlsegment");

                 // Clear existing options
                 ddlsegment.empty();

                 // Append default option
                 ddlsegment.append('<option value="">--Select--</option>');
                 ddlsegment.trigger("chosen:updated");
            }
          },
         error: function (xhr, status, error) {
            console.error("Error fetching topology sites:", status, error);
            alert("Error fetching topology sites. Please try again.");
              }
      });
}

    function selectByText(dropdownId, textToSelect) {
        let dropdown = document.getElementById(dropdownId);
        for (let i = 0; i < dropdown.options.length; i++) {
            if (dropdown.options[i].text.toLowerCase().includes(textToSelect.toLowerCase())) {

                dropdown.selectedIndex = i;
                break;
            }
        }
    }

    function selectByValue(dropdownId, textToSelect) {
        debugger;
        let dropdown = document.getElementById(dropdownId);
        for (let i = 0; i < dropdown.options.length; i++) {
            if (dropdown.options[i].value === textToSelect) {
                dropdown.selectedIndex = i;
                break;
            }
        }
    }


</script>


