@model Models.UtilizationReport
@using System.Globalization;
@using System.Data;
@{
    string[] arrSelectedNetworkStatus = Model.objReportFilters.SelectedNetworkStatus == null ? new string[2] { "PLANNED", "AS BUILT" } : Model.objReportFilters.SelectedNetworkStatus.ToArray();
    var low_count = 0;
    var moderate_count = 0;
    var high_count = 0;
    var over_count = 0;
    var total_count = 0;

}
<style>
    .table-scroll {
        position: relative;
        width: 100%;
        z-index: 1;
        margin: auto;
        overflow: auto;
        height: 380px;
    }

        .table-scroll table {
            width: 100%;
            margin: auto;
            border-collapse: collapse;
            border-spacing: 0;
        }

    .table-wrap {
        position: relative;
    }

    .table-scroll th,
    .table-scroll td {
        padding: 5px 10px;
        background: #fff;
        vertical-align: top;
    }

    .table-scroll thead th {
        /*  background: #00ba8a;*/
        color: #fff;
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
    }
    /* safari and ios need the tfoot itself to be position:sticky also */
    .table-scroll tfoot,
    .table-scroll tfoot th,
    .table-scroll tfoot td {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        z-index: 4;
    }

    /*.table-scroll a{
        background: #00ba8a;
    }*/

    .table-scroll th:first-child {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 2;
    }

    thead th:first-child,
    tfoot th:first-child {
        z-index: 5;
    }

    #tblSummaryAll > tfoot > tr > th {
        padding: 3px;
    }

    .calendar {
        top: 225px !important;
        left: 500px !important;
    }

    .legendparent {
        margin-left: 20px;
    }

    .Low {
        background-color: #3380EC;
    }

    .Moderate {
        background-color: #F5C84B;
    }

    .High {
        background-color: #F19A4D;
    }

    .Over {
        background-color: #EC5856;
    }
</style>

<!DOCTYPE html>
<div class="exportReportHeader">
    <ul id="ulRptTabs" class="tab">
        <li id="liFilter" class="tablinks activerpt" onclick="SwitchReportTabs(this.id, 'divFilter')"><i>1</i>@Resources.Resources.SI_OSP_GBL_NET_FRM_063</li>
        <li id="liSummary" class="tablinks" onclick="SwitchReportTabs(this.id, 'divSummary')"><i>2</i>@Resources.Resources.SI_OSP_GBL_NET_FRM_064</li>
    </ul>
</div>
<div class="ExportReportbody">
    @using (Ajax.BeginForm("UtilizationExportReport", "Report", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "dvModalBody", LoadingElementId = "dvReportProgress", OnSuccess = "switchToResultTab()" }, new { id = "frmExportEntitiesSummaryData", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.isGetData, new { id = "hdnIsGetData" })
        @Html.HiddenFor(m => m.objReportFilters.geom)
        @Html.HiddenFor(m => m.objReportFilters.geomType)
        <div class="EEReport" id="divFilter">
            <div class="scrollDiv space-pad">
                @if (Model.objReportFilters.geom != null && Model.objReportFilters.geom != "")
                {
                    <div class="row form-group">
                        <div class="col-md-3">@Resources.Resources.SI_OSP_GBL_NET_FRM_065:</div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.objReportFilters.SelectedRegionId, new SelectList(Model.lstRegion.Select(x => new { Value = x.regionId.ToString(), Text = x.regionName.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @onchange = "si.onChangeRegion();", @id = "ddlRegions", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">@Resources.Resources.SI_OSP_GBL_NET_FRM_066:</div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.objReportFilters.SelectedProvinceId, new SelectList(Model.lstProvince.Select(x => new { Value = x.provinceId.ToString(), Text = x.provinceName.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @id = "ddlProvinces", @disabled = "disabled" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="row form-group">
                        <div class="col-md-3">@Resources.Resources.SI_OSP_GBL_NET_FRM_065:</div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.objReportFilters.SelectedRegionId, new SelectList(Model.lstRegion.Select(x => new { Value = x.regionId.ToString(), Text = x.regionName.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @onchange = "si.onChangeRegion();", @id = "ddlRegions" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">@Resources.Resources.SI_OSP_GBL_NET_FRM_066:</div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.objReportFilters.SelectedProvinceId, new SelectList(Model.lstProvince.Select(x => new { Value = x.provinceId.ToString(), Text = x.provinceName.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @id = "ddlProvinces" })
                        </div>
                    </div>
                }
                <div class="row form-group">
                    <div class="col-md-3">@Resources.Resources.SI_OSP_GBL_NET_FRM_067:</div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.objReportFilters.SelectedNetworkStatus, new List<SelectListItem>
                                {
                                        new SelectListItem { Text = "Planned", Value = "PLANNED"},
                                        new SelectListItem { Text = "As-Built", Value = "AS BUILT"},
                                }, new { @multiple = "multiple", @class = "chosen-select", @id = "SelectedNetworkStatus" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">@Resources.Resources.SI_OSP_GBL_NET_FRM_020:</div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.objReportFilters.SelectedLayerId, new SelectList(Model.lstLayers.Select(x => new { Value = x.layer_id.ToString(), Text = x.layer_title.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @id = "ddlLayers" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">@Resources.Resources.SI_OSP_GBL_NET_FRM_070:</div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.objReportFilters.SelectedProjectId, new SelectList(Model.lstBindProjectCode.Select(x => new { Value = x.system_id.ToString(), Text = x.project_code.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @id = "ddlProjectCode" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">@Resources.Resources.SI_OSP_GBL_NET_FRM_008:</div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.objReportFilters.SelectedPlanningId, new SelectList(Model.lstBindPlanningCode.Select(x => new { Value = x.system_id.ToString(), Text = x.planning_code.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @id = "ddlPlanningCode" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">@Resources.Resources.SI_OSP_GBL_NET_FRM_009:</div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.objReportFilters.SelectedWorkOrderId, new SelectList(Model.lstBindWorkorderCode.Select(x => new { Value = x.system_id.ToString(), Text = x.workorder_code.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @id = "ddlWorkorderCode" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">@Resources.Resources.SI_OSP_GBL_NET_FRM_011:</div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.objReportFilters.SelectedPurposeId, new SelectList(Model.lstBindPurposeCode.Select(x => new { Value = x.system_id.ToString(), Text = x.purpose_code.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @id = "ddlPurposeCode" })
                    </div>
                </div>
            </div>
            <div class="ModalFooter d-flex">
                <button type="button" class="btn btn-default ml-auto" id="btnUtilizationClear">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_005</button>
                <button type="submit" class="btn btn-success ml-10" id="btnShowReportData">@Resources.Resources.SI_OSP_GBL_GBL_GBL_040</button>
            </div>
        </div>
        <div class="EEReport Summary" id="divSummary">
            <div id="dvReportProgress" class="ExportReportProgress"></div>
            @if (Model.lstReportData.Count > 0)
            {
                <div class="utili-color-box d-flex">
                    <div class="fw-bold">@Resources.Resources.SI_OSP_GBL_GBL_GBL_035: @Model.lstReportData.Count</div>
                    <div class="legendparent d-flex">
                        <div class="Low colorDots"></div>
                        <div id="divLow" class="Assign assignColor">Low</div>
                    </div>
                    <div class="legendparent d-flex">
                        <div class="Moderate colorDots"></div>
                        <div id="divModerate" class="Assign assignColor">Moderate</div>
                    </div>
                    <div class="legendparent d-flex">
                        <div class="High colorDots"></div>
                        <div id="divHigh" class="Assign assignColor">High</div>
                    </div>
                    <div class="legendparent d-flex">
                        <div class="Over colorDots"></div>
                        <div id="divOver" class="Assign assignColor">Over</div>
                    </div>
                    <div class="ml-auto">
                        <button type="button" class="btn btn-default dropfiles">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_010 <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                        <div class="dropbox">
                            @*<span onclick="ExportSummaryDetail('PDF')">@Resources.Resources.SI_OSP_GBL_NET_GBL_004</span>*@
                            <span onclick="ExportSummaryDetail('EXCEL')">@Resources.Resources.SI_OSP_GBL_NET_GBL_005</span>
                            <span onclick="ExportSummaryDetail('ALLEXCEL')">@Resources.Resources.SI_OSP_GBL_NET_GBL_006</span>
                            @*<span onclick="ExportSummaryDetail('ALLCSV')">@Resources.Resources.SI_OSP_GBL_GBL_GBL_262</span>*@
                            <span onclick="ExportSummaryDetail('KML')">@Resources.Resources.SI_OSP_GBL_NET_GBL_007</span>
                            <span onclick="ExportSummaryDetail('ALLSHAPE')">@Resources.Resources.SI_OSP_GBL_NET_FRM_074</span>
                            @*<span onclick="ExportSummaryDetail('ALLTXT')">All Data (TXT)</span>
                                <span onclick="ExportSummaryDetail('XML')">Record (XML)</span>*@
                        </div>
                    </div>

                    <div id="dvReportProgress1" class="progress utili-prog-bar" style="display:none;">
                        <div class="progress-bar progress-bar-striped" style="width:70%;background-color: darkgreen;">@Resources.Resources.SI_OSP_GBL_NET_FRM_073</div>
                    </div>
                </div>
            }
            <div class="scrollDiv table-scroll">

                @if (Model.lstReportData.Count > 0)
                {
                    <table class="table-scroll grid" id="tblSummaryAll">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" checked="checked" class="checkbox-custom" id="checkallentity" onclick="selectallentity(this)"><b><label for="checkallentity" class="checkbox-custom-label"></label></b>
                                </th>
                                <th scope="col">@Resources.Resources.SI_OSP_GBL_GBL_GBL_144</th>
                                <th scope="col">@Resources.Resources.SI_OSP_GBL_NET_FRM_065</th>
                                <th scope="col">@Resources.Resources.SI_OSP_GBL_NET_FRM_066</th>
                                <th scope="col">@Resources.Resources.SI_GBL_GBL_GBL_GBL_107</th>
                                <th scope="col">@Resources.Resources.SI_GBL_GBL_GBL_GBL_108</th>
                                <th scope="col">@Resources.Resources.SI_GBL_GBL_GBL_GBL_109</th>
                                <th scope="col">@Resources.Resources.SI_GBL_GBL_GBL_GBL_110</th>
                                @*<th scope="col">Utilized Port</th>
                                    <th scope="col">Available Port</th>*@
                                <th scope="col">@Resources.Resources.SI_OSP_GBL_GBL_GBL_028</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                for (int i = 0; i < arrSelectedNetworkStatus.Length; i++)
                                {
                                    <tr>
                                        <td colspan="9">
                                            @Resources.Resources.SI_OSP_GBL_GBL_GBL_014 : @CultureInfo.InvariantCulture.TextInfo.ToTitleCase(arrSelectedNetworkStatus[i].ToString().ToLower().Contains("built") ? @arrSelectedNetworkStatus[i].ToString().ToLower().Replace(" ", "-") : @arrSelectedNetworkStatus[i].ToString().ToLower())
                                            @{
                                                var networkStatus = arrSelectedNetworkStatus[i].ToString().ToLower();
                                                if (networkStatus.Contains("built"))
                                                {
                                                    networkStatus = networkStatus.Replace(" ", "-");
                                                }
                                                var displayStatus = CultureInfo.InvariantCulture.TextInfo.ToTitleCase(networkStatus);
                                                //var codes = "'H','O','L','M'";
                                                }
                                            <button style="font-size: 12px; padding: 2px 6px;"
                                                    onclick="ShowUtilizationReportOnMap('@displayStatus')">
                                                Show on Map
                                            </button>
                                        </td>
                                    </tr>
                                    var list = Model.lstReportData.Where(x => x.network_status.ToLower() == arrSelectedNetworkStatus[i].ToString().ToLower()).ToList();
                                    if (list.Count > 0)
                                    {
                                        var entityList = list.Select(x => x.entity_id).Distinct().ToList();
                                        for (int l = 0; l < list.Count; l++)
                                        {
                                            var chkid = list[l].summary_id;
                                            var chkViewId = list[l].entity_id + "_" + list[l].network_status + "_" + list[l].region_id + "_" + list[l].province_id;
                                            <tr>
                                                <td style="background: lightgray;"><input type="checkbox" checked="checked" class="checkbox-custom chksingle" id="@chkid" data-view-id="@chkViewId" onclick="ManageHeaderCheckBox()"><b><label for="@chkid" class="checkbox-custom-label"></label></b></td>
                                                <td style="background: lightgray;" align="center"><label title="@list[l].utilization_text" data-toggle="tooltip">@list[l].entity_title</label></td>
                                                <td style="background: lightgray;">@list[l].region</td>
                                                <td style="background: lightgray;">@list[l].province</td>
                                                @if (list[l].entity_name.ToUpper() == "DUCT")
                                                {

                                                    <td colspan="4" style="background: lightgray;" align="center" class="tdlowcount"><label>@list[l].low_count @list[l].entity_name @list[l].utilization_text</label></td>
                                                }
                                                else
                                                {
                                                    <td style="background: lightgray;" align="center" class="tdlowcount">@list[l].low_count</td>
                                                    <td style="background: lightgray;" align="center" class="tdmoderatecount">@list[l].moderate_count</td>
                                                    <td style="background: lightgray;" align="center" class="tdhighcount">@list[l].high_count</td>
                                                    <td style="background: lightgray;" align="center" class="tdovercount">@list[l].over_count</td>
                                                }
                                                <td style="background: lightgray;" align="center">
                                                    <a href="#" id="aShowBoundary" data-toggle="tooltip" title="@Resources.Resources.SI_OSP_GBL_GBL_GBL_036"
                                                       onclick="ShowOnMap('@list[l].summary_id','@list[l].entity_title','@list[l].network_status','@list[l].low_count','@list[l].moderate_count','@list[l].high_count','@list[l].over_count','@list[l].utilization_text')"><i class="fa fa-map-marker" aria-hidden="true" style="color:grey;font-size: 21px;"></i></a>
                                                </td>
                                                @{
                                                    low_count += list[l].low_count;
                                                    moderate_count += list[l].moderate_count;
                                                    high_count += list[l].high_count;
                                                    over_count += list[l].over_count;

                                                    total_count = low_count + moderate_count + high_count + over_count;

                                                }
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td align="center" colspan="9">@Resources.Resources.SI_OSP_GBL_GBL_RPT_001</td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th align="center" colspan="4" id="thtotalName">@Resources.Resources.SI_OSP_GBL_GBL_GBL_041</th>
                                <th align="center" id="thlowtotal">@low_count</th>
                                <th align="center" id="thmoderatetotal">@moderate_count</th>
                                <th align="center" id="thhightotal">@high_count</th>
                                <th align="center" id="thovertotal">@over_count</th>

                                <th align="center" id="thalltotal">@total_count</th>
                            </tr>
                        </tfoot>
                    </table>
                }

                else
                {
                    <div class="nr-found">
                        <span>@Resources.Resources.SI_OSP_GBL_GBL_RPT_001</span>
                    </div>
                }
            </div>
        </div>
    }
</div>
<script type="text/javascript">

    function SwitchReportTabs(tabLinkId, tabDivId) {
        if (tabDivId == "divSummary") {
            if (isValidReportFilter()) {
                $("#hdnIsGetData").val(true);
                $("#frmExportEntitiesSummaryData").submit();
            }
            else {
                return;
            }
        }
        else { $('.dropbox').css("display", "none"); }
        $('.EEReport').not('#' + tabDivId).hide();
        $('#' + tabDivId).show();
        $('#ulRptTabs > li').removeClass("activerpt");
        $('#' + tabLinkId).addClass("activerpt");
    }

    $('.chosen-select').chosen({ placeholder_text_multiple: '--All--', width: '100%' });

    $(document).ready(function () {
        $("#hdnIsGetData").val(true);
        $('[data-toggle="tooltip"]').tooltip();
        var SelectedRegionIds = '@Model.objReportFilters.SelectedRegionIds';
        $("#ddlRegions").val(SelectedRegionIds.split(',')).trigger("chosen:updated");

        var selectedProvinces = '@Model.objReportFilters.SelectedProvinceIds';
        $("#ddlProvinces").val(selectedProvinces.split(',')).trigger("chosen:updated");

        var selectedNetworkStatuses = '@Model.objReportFilters.SelectedNetworkStatues.Replace("'","")';
        $("#SelectedNetworkStatus").val(selectedNetworkStatuses.split(',')).trigger("chosen:updated");

        var selectedLayerIds = '@Model.objReportFilters.SelectedLayerIds';
        $("#ddlLayers").val(selectedLayerIds.split(',')).trigger("chosen:updated");

        var SelectedProjectIds = '@Model.objReportFilters.SelectedProjectIds';
        $("#ddlProjectCode").val(SelectedProjectIds.split(',')).trigger("chosen:updated");

        var SelectedPlanningIds = '@Model.objReportFilters.SelectedPlanningIds';
        $("#ddlPlanningCode").val(SelectedPlanningIds.split(',')).trigger("chosen:updated");

        var SelectedWorkOrderIds = '@Model.objReportFilters.SelectedWorkOrderIds';
        $("#ddlWorkorderCode").val(SelectedWorkOrderIds.split(',')).trigger("chosen:updated");

        var SelectedPurposeIds = '@Model.objReportFilters.SelectedPurposeIds';
        $("#ddlPurposeCode").val(SelectedPurposeIds.split(',')).trigger("chosen:updated");

        $('#closeModalPopup').on('click', function () {
            $("#dvUtilizationContainer").empty();
        });
    });

    $('#btnUtilizationClear').on("click", function () {
        ResetExportEntitesFilterValues();
    });

    function switchToResultTab() {
        //SHOW SUMMARY TAB
        $("#divFilter").hide();
        $("#divSummary").show();
        $("#liFilter").removeClass("activerpt");
        $("#liSummary").addClass("activerpt");
    }

    function isValidReportFilter() {
        //
        //if ($('#ddlRegions').val() == "0") {
        //    alert("Please select region!");
        //    return false;
        //}
        //else if ($('#ddlProvinces').val() == "0") {
        //    alert("Please select region!");
        //    return false;
        //}
        //else if ($('#SelectedNetworkStatus').val() == "") {
        //    alert("Please select region!");
        //    return false;
        //}
        //else if ($('#ddlProjectCode').val() == "") {
        //    alert("Please select region!");
        //    return false;
        //}
        //else if ($('#ddlPlanningCode').val() == "") {
        //    alert("Please select region!");
        //    return false;
        //}
        //else if ($('#ddlWorkorderCode').val() == "") {
        //    alert("Please select region!");
        //    return false;
        //}
        //else if ($('#ddlPurposeCode').val() == "") {
        //    alert("Please select region!");
        //    return false;
        //}
        //else {
        //    return true;
        //}
        return true;
    }

    $("#btnShowReportData").on("click", function () {
        if (isValidReportFilter()) {
            //SHOW SUMMARY TAB
            $("#divFilter").hide();
            $("#divSummary").show();
            $("#liFilter").removeClass("activerpt");
            $("#liSummary").addClass("activerpt");
            return true;
        }
        else {
            return false;
        }
    });

    function ResetExportEntitesFilterValues() {
        $('#ddlLayers').val(0).trigger("chosen:updated");
        $('#SelectedNetworkStatus').val(0).trigger("chosen:updated");
        $('#ddlRegions').val(0).trigger("chosen:updated");
        $('#ddlProvinces').empty().trigger("chosen:updated");
        $('#ddlProvinces').val(0).trigger("chosen:updated");
        $('#ddlProjectCode').val('').trigger("chosen:updated");
        $('#ddlPlanningCode').empty().trigger("chosen:updated");
        $('#ddlWorkorderCode').empty().trigger("chosen:updated");
        $('#ddlPurposeCode').empty().trigger("chosen:updated");
    }

    function selectallentity(chkAll) {
        if (!$(chkAll).is(":checked")) {
            $("#tblSummaryAll input[type=checkbox]:not('#checkallentity')").prop("checked", false);
        }
        else {
            $("#tblSummaryAll input[type=checkbox]:not('#checkallentity')").prop("checked", true);
        }
        ManageHeaderCheckBox();
    }

    function ManageHeaderCheckBox() {
        if ($("#tblSummaryAll input[type=checkbox]:not('#checkallentity')").length ==
            $("#tblSummaryAll input[type=checkbox]:not('#checkallentity'):checked").length) {
            $("#thtotalName")[0].innerHTML = MultilingualKey.SI_OSP_GBL_GBL_GBL_041;;
            $("#checkallentity").prop("checked", true);
        }
        else {
            $("#thtotalName")[0].innerHTML = MultilingualKey.SI_GBL_GBL_JQ_FRM_028;//"Selected Total";
            $("#checkallentity").prop("checked", false);
        }

        //for sum of footer
        var lowTotal = parseInt(0);
        var moderateTotal = parseInt(0);
        var highTotal = parseInt(0);
        var overTotal = parseInt(0);
        $("#tblSummaryAll input[type=checkbox]:not('#checkallentity')").each(function () {
            var row = $(this).closest('tr');
            var checkstatus = $(this).is(":checked")
            if (row.find(".tdlowcount")[0] != undefined) {
                if (!isNaN(row.find(".tdlowcount")[0].innerText) && row.find(".tdlowcount")[0].innerText.length != 0 && checkstatus == true) {
                    lowTotal += parseInt(row.find(".tdlowcount")[0].innerText);
                }
            }
            if (row.find(".tdmoderatecount")[0] != undefined) {
                if (!isNaN(row.find(".tdmoderatecount")[0].innerText) && row.find(".tdmoderatecount")[0].innerText.length != 0 && checkstatus == true) {
                    moderateTotal += parseInt(row.find(".tdmoderatecount")[0].innerText);
                }
            }
            if (row.find(".tdhighcount")[0] != undefined) {
                if (!isNaN(row.find(".tdhighcount")[0].innerText) && row.find(".tdhighcount")[0].innerText.length != 0 && checkstatus == true) {
                    highTotal += parseInt(row.find(".tdhighcount")[0].innerText);
                }
            }
            if (row.find(".tdovercount")[0] != undefined) {
                if (!isNaN(row.find(".tdovercount")[0].innerText) && row.find(".tdovercount")[0].innerText.length != 0 && checkstatus == true) {
                    overTotal += parseInt(row.find(".tdovercount")[0].innerText);
                }
            }
        })
        if ($("#thlowtotal")[0] != undefined) {
            $("#thlowtotal")[0].innerHTML = lowTotal;
        }
        if ($("#thmoderatetotal")[0] != undefined) {
            $("#thmoderatetotal")[0].innerHTML = moderateTotal;
        }
        if ($("#thhightotal")[0] != undefined) {
            $("#thhightotal")[0].innerHTML = highTotal;
        }
        if ($("#thovertotal")[0] != undefined) {
            $("#thovertotal")[0].innerHTML = overTotal;
        }
        $("#thalltotal")[0].innerHTML = (lowTotal + moderateTotal + highTotal + overTotal);
    }

    function ExportSummaryDetail(purpose) {
        var summaryids = "";

        var chkAll = document.getElementById("checkallentity");
        if (chkAll.checked == true) {
            summaryids = '';
        }
        else {
            //Fetch all rows of the Table.
            var rows = $("#tblSummaryAll input[type=checkbox]:not('#checkallentity'):checked"); //document.getElementById("tblSummaryAll").rows;
            //Execute loop on all rows excluding the Header row.
            for (var i = 0; i < rows.length; i++) {
                summaryids += summaryids != "" ? ("," + rows[i].id) : rows[i].id;
            }
            //entityids = entityids.split(',').filter(function (a) { if (!this[a]) { this[a] = 1; return a; } }, {}).join(',');
        }
        if (chkAll.checked == false && summaryids == "") {
            alert( MultilingualKey.SI_OSP_GBL_JQ_GBL_109);//Please select at least 1 record!
        }
        else {
            if (purpose == "ALLEXCEL" || purpose == "KML" || purpose == "ALLCSV" || purpose == "ALLTXT" || purpose == "XML") {
                var SummaryTotal = parseInt(0);
                //Loop through all checked CheckBoxes in GridView.
                $("#tblSummaryAll input[type=checkbox]:not('#checkallentity')").each(function () {
                    var row = $(this).closest('tr');
                    var checkstatus = $(this).is(":checked")
                    if (row.find(".tdlowcount")[0] != undefined) {
                        if (!isNaN(row.find(".tdlowcount")[0].innerText) && row.find(".tdlowcount")[0].innerText.length != 0 && checkstatus == true) {
                            SummaryTotal += parseInt(row.find(".tdlowcount")[0].innerText);
                        }
                    }
                    if (row.find(".tdmoderatecount")[0] != undefined) {
                        if (!isNaN(row.find(".tdmoderatecount")[0].innerText) && row.find(".tdmoderatecount")[0].innerText.length != 0 && checkstatus == true) {
                            SummaryTotal += parseInt(row.find(".tdmoderatecount")[0].innerText);
                        }
                    }
                    if (row.find(".tdhighcount")[0] != undefined) {
                        if (!isNaN(row.find(".tdhighcount")[0].innerText) && row.find(".tdhighcount")[0].innerText.length != 0 && checkstatus == true) {
                            SummaryTotal += parseInt(row.find(".tdhighcount")[0].innerText);
                        }
                    }
                    if (row.find(".tdovercount")[0] != undefined) {
                        if (!isNaN(row.find(".tdovercount")[0].innerText) && row.find(".tdovercount")[0].innerText.length != 0 && checkstatus == true) {
                            SummaryTotal += parseInt(row.find(".tdovercount")[0].innerText);
                        }
                    }
                })
                //SummaryTotal = 110000;
                var MaxRecord = $("#hdnExportReportMaxRecord").val();
                if (SummaryTotal > MaxRecord) {

                    alert($.validator.format(MultilingualKey.SI_OSP_GBL_JQ_FRM_067, MaxRecord));
                    //alert(MultilingualKey.SI_OSP_STR_JQ_FRM_002 + " " + MaxRecord + " " + MultilingualKey.SI_OSP_GBL_JQ_FRM_067);
                    $("#divSummary .dropfiles").trigger("click");
                    return false;
                }
            }
            $("#dvReportProgress1").show();
            $('#dvReportProgress1').css('display', 'block');
            setCookie('downloadStarted', 0, 3600); //Expiration could be anything... As long as we reset the value
            setTimeout(checkDownloadCookie, 1000); //Initiate the loop to check the cookie.
            si.ExportUtilizationReport(purpose, summaryids);
            //$("#dvReportProgress").hide();
            $("#divSummary .dropfiles").trigger("click");
        }
    }
    var downloadTimeout;
    var checkDownloadCookie = function () {
        //console.log(getCookie("downloadStarted"));
        if (getCookie("downloadStarted") == 1) {
            //console.log(getCookie("downloadStarted") + "RT");
            setCookie("downloadStarted", false, 100); //Expiration could be anything... As long as we reset the value
            $('#dvReportProgress1').hide();
        } else {
            downloadTimeout = setTimeout(checkDownloadCookie, 1000); //Re-run this function in 1 second.
        }
    }
    var setCookie = function (name, value, expiracy) {
        var exdate = new Date();
        exdate.setTime(exdate.getTime() + expiracy * 1000);
        var c_value = escape(value) + ((expiracy == null) ? "" : "; expires=" + exdate.toUTCString());
        document.cookie = name + "=" + c_value + '; path=/';
    };

    var getCookie = function (name) {
        var i, x, y, ARRcookies = document.cookie.split(";");
        for (i = 0; i < ARRcookies.length; i++) {
            x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
            y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
            x = x.replace(/^\s+|\s+$/g, "");
            if (x == name) {
                return y ? decodeURI(unescape(y.replace(/\+/g, ' '))) : y; //;//unescape(decodeURI(y));
            }
        }
    };

    $('#ddlProjectCode').on('change',function () {
        si.BindPlanningDetailByProjectIds();
    })
    $('#ddlPlanningCode').on('change',function () {
        si.BindWorkCodeDetailByPlanningIds();
    })
    $('#ddlWorkorderCode').on('change',function () {
        si.BindPurposeCodeDetailByWorkOrderIds();
    })
    function ShowOnMap(summaryid, entitytitle,networkstatus, lowcount, moderatecount, highcount, overcount, ductutilization)
    {

        si.ShowUtilizationOnMap(summaryid, entitytitle, networkstatus, lowcount, moderatecount, highcount, overcount, ductutilization, "'H','O','L','M'",true);
    }
    function ShowUtilizationReportOnMap(networkstatus) {
        si.UtilizationReportShowOnMap(networkstatus, "'H','O','L','M'");
    }
</script>