@using Models
@model Models.TicketMaster
@{
    var RestrictedTicketAttachments = SmartInventory.Settings.ApplicationSettings.RestrictedTicketAttachments;
    var TicketAttachmentMaxSize = SmartInventory.Settings.ApplicationSettings.TicketAttachmentMaxSize;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<script src="~/Content/js/jquery-3.7.1.min.js"></script>
<script src="~/Content/js/jquery-ui.min.js"></script>
<link href="~/Content/css/chosen.css" rel="stylesheet" />
<script src="~/Content/js/Splice/Main.js"></script>

<script src="~/Content/js/Splice/Main.js"></script>

<script src="~/Content/js/chosen.jquery.min.js"></script>
<link href="~/Content/css/splicing/main.css" rel="stylesheet" />
<script src="~/Content/js/Splice/Utility.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/HPSMTicket.css" rel="stylesheet" />
<script src="~/Content/js/HPSMTicket.js"></script>

<link href="~/Content/css/splicing/Alert.css" rel="stylesheet" />
<script src="~/Content/js/Alert.js"></script>
<script src="~/Content/js/Splice/ModalPopUp.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="wrapper">
    <h2 class="content">
        Fill in the form to report any issues. Kindly provide a detailed description so that we
        understand your needs better and give faster solutions
    </h2>
    <div class="form-group">

        @Html.HiddenFor(m => m.user_id)
        <div class="fieldsRow">
            <div class="fieldInput">
                <label class="control-label">
                    Name
                </label>
                @Html.TextBoxFor(m => m.customer_name, new { @id = "txtCustomerName", @title = "Name", @class = "input-sm form-control", @placeholder = "eg. Angrie Singh", @readonly = "readonly" })
            </div>
            <div class="fieldInput">
                <label class="control-label">
                    Mobile Number
                </label>
                <div class="pose-rel">
                    @Html.TextBoxFor(m => m.contact_no, new { @id = "txtContactNo", @title = "Mobile Number", @class = "input-sm form-control", @placeholder = "9818XXXX10", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="fieldsRow mt-1">
            <div class="fieldInput">
                <label class="control-label">
                    Business Name
                </label>
                @Html.TextBoxFor(m => m.ticket_reference, new { @id = "txtTicketReference", @title = "Business Name", @class = "input-sm form-control", @placeholder = "JioFiber", @readonly = "readonly" })
            </div>

            <div class="fieldInput">
                <label class="control-label">
                    Category
                </label>
                @*@Html.DropDownListFor(x => x.ticket_type_id, new SelectList(Model.lstTicketTypeMaster.Select(x => new { Value = x.id, Text = x.ticket_type }), "Value", "Text"), "Select", new { @class = "chosen-select form-control", @id = "ddlTicketTypes", @onchange = "return validateDropdown(this.id);" })*@
                <div class="dropdownBox">
                    <div onclick="myFunction()" class="dropbtn pos-rel" id="category">
                        <lable id="lbltxt">
                            -Select Category-<lable>

                                <img src="~/Content/images/sArrow.svg" class="dropdown-content_search">
                    </div>
                    <div id="myDropdown" class="dropdown-content">
                        <input type="text"  id="myInput" maxlength="30" onkeyup="filterFunction()">
                        <div class="dropdown-content_contBox">
                            @foreach (var item in @Model.lstTicketTypeMaster)
                            {
                                <a href="#" onclick="getselectedCategory(this); return false;" id="@item.id">@item.ticket_type</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="fieldTextArea">
            <label class="control-label">
                Enter Ticket Description <span class="vdesc"> (Valid characters are a-zA-Z0-9 ,._%# &#64;()+-=!?)</span>
            </label>
            <div class="pose-rel fieldTextArea">
                @Html.TextAreaFor(m => m.ticket_description, 5, 100, new { @id = "txtDescription", @title = "Ticket Description", @placeholder = "Write something...", @maxlength = 200, @onclick = "closeDrp();",  @Style = "resize: none" })
                <div class="textArea--content"><span id="charLength">0</span>/200</div>
            </div>
        </div>
        <div class="attachFile mt-1 d-flex align-top">
            <div class="fileUploadBtn">
                <button class="btn">
                    <img src="~/Content/Images/attach.svg" />
                </button>
                <input type="file" id="FileHPSMTicket" multiple style="font-size: 13px;height:37px;width: 195px;" name="datafile" onchange="return isValidUploadFile('@RestrictedTicketAttachments', '@TicketAttachmentMaxSize');" />

                <div class="fileContent">
                    <p>Attach a File</p>
                    <span id="fileName" class="fileName"></span>
                    <span class="maxFile">
                        Max file size @TicketAttachmentMaxSize MB<br/>
                        Only '@RestrictedTicketAttachments' are acceptable
                    </span>
                </div>
            </div>
            <label id="lblUploadProgress" style="font-weight: bold; margin-top: 15px; font-size: 13px; width: 200px;"></label>
        </div>
        <div class="fieldsRow mt-1">
            <div class="fieldInput">
                <input type="submit" class="btn btn-primary" name="btnaction" id="btnSubmit" width="20" value="Save" onclick="return SaveHPSMTicket('@RestrictedTicketAttachments' , '@TicketAttachmentMaxSize')" />
            </div>
        </div>
    </div>
    <input type="text" id="ddlTicketTypes" name="ddlTicketTypes" value="" style="opacity:0;height:1px;width:1px">
    <input type="text" id="TicketType" name="TicketType" value="" style="opacity:0;height:1px;width:1px">
</div>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        debugger;
        document.getElementById("myDropdown").classList.toggle("showDropDown");
        drp = document.getElementById("myDropdown");
        drp.style.display = "block";
        input = document.getElementById("myInput");
        input.value = '';
        filterFunction();

    }
    function closeDrp()
    {
        drp = document.getElementById("myDropdown");
        drp.style.display = "none"; 
    }
    function filterFunction() {
        debugger;
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
    function getselectedCategory(obj) {
        var txt = obj.innerText;
        var pid = obj.id
        document.getElementById("lbltxt").innerHTML =txt + '<label><img src = "../Content/images/sArrow.svg" class="dropdown-content_search"></label>';
               
        drp = document.getElementById("myDropdown");
        drp.style.display = "none";  
        document.getElementById("ddlTicketTypes").value = obj.id;
        document.getElementById("TicketType").value = obj.innerHTML;
        $('#' + 'category').addClass('valid').removeClass('input-validation-error');
    }

</script>


