@model Models.RingDetailsFiltter
@using Models;
@using Utility;

<!DOCTYPE html>

@if (Model.objRingDetails != null && Model.objRingDetails.SearchbyRingTypes != null && Model.objRingDetails.SearchbyRingTypes.Any())
{
    var ringIdsCsv = string.Join(",", Model.objRingDetails.SearchbyRingTypes);
    <script type="text/javascript">
        $(document).ready(function () {
            var SelectedRingIds = '@ringIdsCsv';
            $("#ddllstRingName").val(SelectedRingIds.split(',')).trigger("chosen:updated");

            $('.chosen-select').chosen({ width: '100%' });
            $('th a, tfoot a').on("click", function () {
                // onGridHeaderClick('tblFiberLinkGrid');
                $('#frmViewRingDetails').attr('action', $(this).attr('href')).submit();
                return false;
            });
        });
    </script>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {


            $('.chosen-select').chosen({ width: '100%' });
            //$('th a, tfoot a').on("click", function () {
            //    // onGridHeaderClick('tblFiberLinkGrid');
            //    $('#frmViewRingDetails').attr('action', $(this).attr('href')).submit();
            //    return false;
            //});

            $('th a, tfoot a').on("click", function (e) {

                debugger;
                var lstRingName = $("#ddllstRingName").val();
                if (lstRingName != "") {
                    return false;
                }

                // Proceed with setting form action and submitting
                $('#frmViewRingDetails').attr('action', $(this).attr('href')).submit();
                return false;
            });



        });

        this.clearUserTempOverlay = function (lyrObj) {
            debugger;
            if (lyrObj) {
                for (var i = 0; i < lyrObj.length; i++)
                    lyrObj[i].setMap(null);
            }
            lyrObj = [];
        }
        this.createMarkerForPathFinder = function (mrkrLatlng, imageUrl, system_id, en_type, network_id, is_virtual_port_allowed) {
            var gmarkernew = new google.maps.Marker({
                position: mrkrLatlng,
                icon: imageUrl,
                draggable: false,
                id: system_id,
                eType: en_type,
                portNo: port_no,
                networkId: network_id,
                isVirtualPortAllowed: is_virtual_port_allowed
            });

            return gmarkernew;
        }


        this.getslddaigramfiberlink = function (ringId, ring_code) {
            debugger;
            var ringId = ringId.toString();
            ajaxReq('main/Encrypt', { systemId: ringId + '/' + ring_code }, false, function (resp) {

                window.open(appRoot + 'RingDetails/GetSchematicView?key=' + resp + '&ring_id=' + ringId + '&ring_code=' + ring_code, '_blank');
            }, false, false);
        }
    </script>


}




<style>
    /* Main Container */
    .container {
        padding: 20px;
    }

    /* Filter Section */
    .filter-container {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 15px;
    }

        .filter-container label {
            font-weight: bold;
        }

        .filter-container select {
            width: 180px;
            padding: 5px;
        }

        .filter-container strong {
            font-size: 18px;
        }

    .search-btn {
        padding: 6px 15px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

        .search-btn:hover {
            background-color: #0056b3;
        }

    /* Table Styling */
    .table-responsive {
        overflow-x: auto; /* Enables horizontal scroll */
    }


    .action-icon {
        color: #007bff;
        cursor: pointer;
    }

        .action-icon:hover {
            color: #0056b3;
        }
</style>


@{


    WebGrid grid = new WebGrid(rowsPerPage: Model.objGridAttributes.pageSize, canSort: true, ajaxUpdateContainerId: "dvViewRingDeatils",
ajaxUpdateCallback: "onGridHeaderClick('tblRingDetail');");
    grid.Bind(Model.lstRingDetails, autoSortAndPage: false, rowCount: Model.objGridAttributes.totalRecord);
    if (Model.objGridAttributes.totalRecord > 0)
    {
        grid.PageIndex = Model.objGridAttributes.currentPage - 1;
    }


}

<div class="libDetail">

    @using (Ajax.BeginForm("ShowTopologyRingDetails", "RingDetails", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dvModalBody",
        //LoadingElementId = "dvViewLinkProgress",
        InsertionMode = InsertionMode.Replace
    }, new { id = "frmViewRingDetails", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
    {
        
            @Html.HiddenFor(m => m.objRingDetails.region_name, new { id = "hdnregionname" })
            @Html.HiddenFor(m => m.objRingDetails.segment_code, new { id = "hdnsegmentname" })
            @Html.HiddenFor(m => m.objRingDetails.ring_capacity, new { id = "hdnringname" })
            <!-- Filters Section -->
            <div class="libTabContent">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="GISInfo">

                        <div class="form-group row">
                            <label class="control-label col-sm-2" for="searchby">Region:</label>
                            <div class="col-sm-4">

                                @Html.DropDownListFor(m => m.objRingDetails.SearchbyRegionName,
                                    new SelectList(Model.lstRegionName.Select(x => new { Value = x.value.ToString().ToString(), Text = x.value.ToString() }), "Value", "Text"),
                                    "--Select--",
                                    new { @class = "chosen-select", @id = "ddllstRegionName" })


                            </div>
                            <label class="control-label col-sm-2" for="searchby">Segment:</label>
                            <div class="col-sm-4">

                                @Html.DropDownListFor(m => m.objRingDetails.SearchbySegmentName,
                                    new SelectList(Model.lstSegmentName.Select(x => new { Value = x.value.ToString(), Text = x.value.ToString() }), "Value", "Text"),
                                    "--Select--",
                                    new { @class = "chosen-select col-sm-12", @id = "ddllstSegmentName" })

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-2" for="searchby">Ring Code:</label>

                            <div class="col-sm-4">


                                @Html.DropDownListFor(m => m.objRingDetails.SearchbyRingTypes, new SelectList(Model.lstRingType.Select(x => new { Value = x.value.ToString(), Text = x.value.ToString() }), "Value", "Text"), new { @multiple = "multiple", @class = "chosen-select col-sm-12", @id = "ddllstRingName" })

                            </div>
                            <label class="control-label col-sm-2" for="searchby">Site Id:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.objRingDetails.site_id, new { @id = "txtSearchText", @title = Resources.Resources.SI_OSP_GBL_NET_RPT_357, @tabindex = "4", @class = "input-sm form-control", @placeholder = Resources.Resources.SI_OSP_GBL_NET_RPT_357, @maxlength = 50 })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="ModalFooter d-flex pos-rel" id="dvBtnAction">
                <button type="submit" class="btn btn-success ml-auto" onclick="validateSearch(event)" id="tes"> Search</button>

                <button id="btnExportLinks" class="btn btn-default ml-10">Export</button>

                <input type="submit" id="btnRingReset" class="btn btn-default ml-10" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_005" />
            </div>



            if (Model.lstRingDetails.Count > 0)
            {
<div class="table-responsive">
    <div class="d-flex mb-15">
        <div class="div_totalRecord">
            <b>@Resources.Resources.SI_OSP_GBL_GBL_GBL_035:&nbsp;<span>@Model.objGridAttributes.totalRecord</span></b>
        </div>
    </div>

    @*@RingDetails()*@

    @grid.GetHtml(tableStyle: "grid",
                               htmlAttributes: new { id = "tblRingDetail" },
                               mode: WebGridPagerModes.All,
                               columns: grid.Columns(
                                          grid.Column("", "Action", format:@<text>
                                                <a href="javascript:void(0);"
                                                   class="ShowEntityOnMap"
                                                   title="Show on Map"
                                                   onclick="si.showRingDetailsOnMap(@item.id);">
                                                    <i class="fa fa-globe action_icon fa-fw m-r-xs"></i>
                                                    @*<i class="cptr fa fa-bullseye m-r-xs" title="Schematic View" onclick="GetSLDDaigramFiberLink(@item.id, '@item.ring_code')" style="color: #FFA500; font-size: 14px; padding-left: 7px"></i>*@
                                                </a>
                                                <a href="javascript:void(0);"
                                                   title="Schematic View"
                                                   onclick="getslddaigramfiberlink(@item.id, '@item.ring_code')">
                                                    <i class="cptr fa fa-bullseye m-r-xs" style="color: #FFA500; font-size: 14px; padding-left: 7px"></i>
                                                </a>

                                        </text>, canSort: false
),
grid.Column("segment_code", "Segment", format: @<text>@item.segment_code</text> , canSort: true),
grid.Column("ring_code", "Ring Code", format: @<text>@item.ring_code</text>, canSort: true),
grid.Column("site_id", "Site Id", format: @<text>@item.site_id</text>, canSort: true),
grid.Column("site_name", "Site Name", format: @<text>@item.site_name</text>, canSort: true),
grid.Column("region_name", "Region", format: @<text>@item.region_name</text> , canSort: true),
grid.Column("agg1_site_id", "Aggregate Site 1", format: @<text>@item.agg1_site_id</text>, canSort: true),
grid.Column("agg2_site_id", "Aggregate Site 2", format: @<text>@item.agg2_site_id</text>, canSort: true),
grid.Column("ring_capacity", "Capacity", format: @<text>@item.ring_capacity</text>, canSort: true),
grid.Column("description", "Description", format: @<text>@item.description</text>, canSort: true),

grid.Column("bh_status", "Site Status of the Access Ring", format: @<text>@item.bh_status</text>, canSort: true),
grid.Column("Peer1", "Peer Site 1", format: @<text>@item.Peer1</text>, canSort: true),
grid.Column("Peer2", "Peer Site 2", format: @<text>@item.Peer2</text>, canSort: true),
grid.Column("ring_a_site_distance", "Distances From Peer Site 1 (KM)", format: @<text>@item.ring_a_site_distance</text>, canSort: true),
grid.Column("ring_b_site_distance", "Distances From Peer Site 2 (KM)", format: @<text>@item.ring_b_site_distance</text>, canSort: true)

))

    @Html.Hidden("dir", grid.SortDirection)
    @Html.Hidden("col", grid.SortColumn)
    @Html.HiddenFor(m => m.objGridAttributes.searchBy)
    @Html.HiddenFor(m => m.objGridAttributes.searchText)
</div>

            }
            else
            {
            <div class="nr-found">
                <strong>No Records Found.</strong>
            </div>
            }

            }
        
</div>

<script>


    function isDivEnabledByClass(className) {
        const divs = document.getElementsByClassName(className);
        for (let div of divs) {
            const style = window.getComputedStyle(div);
            const isVisible = div.offsetParent !== null;
            const isInteractive = style.pointerEvents !== "none" &&
                style.display !== "none" &&
                style.visibility !== "hidden";
            const isNotCustomDisabled = !div.hasAttribute("disabled") &&
                !div.classList.contains("disabled");

            if (isVisible && isInteractive && isNotCustomDisabled) {
                return true; // at least one enabled div found
            }
        }
        return false; // no enabled divs
    }


    $("#btnRingReset").on("click", function () {
        $("#ddllstRingName")[0].selectedIndex = -1; // removes all selections
        $("#ddllstRingName").trigger("chosen:updated");
        document.getElementById("ddllstSegmentName").selectedIndex = 0;
        $("#ddllstSegmentName").trigger("chosen:updated");
        document.getElementById("ddllstRegionName").selectedIndex = 0;
        $("#ddllstRegionName").trigger("chosen:updated");
        $('#btnExport').attr('disabled', 'disabled');
        $('#txtSearchText').val('');
    });

    $("#btnExportLinks").on("click", function () {
        const enabled = isDivEnabledByClass("div_totalRecord");
        debugger;
        if (!enabled) {
            $('#btnExport').attr('disabled', 'disabled');
            return false;
        }
        console.log("div_totalRecord is enabled:", enabled);

        window.location = appRoot + 'RingDetails/ExportRingDetails';
    });
    function validateSearch(event) {
        debugger;
        /* var ringCode = $("#ddllstRingName").val()?.trim();*/
        var ringCodes = $("#ddllstRingName").val(); // array
        var segName = $("#ddllstSegmentName").val()?.trim();
        var regName = $("#ddllstRegionName").val()?.trim();

        if (!ringCodes && !segName && !regName) {
            alert("Please select at least one valid search criteria.");
            event.preventDefault(); // Prevents submission
            event.returnValue = false; // Ensures older browser compatibility
            return false;
        }
        return true;
    }


</script>

