<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/css")
    <link id="favicon" rel="shortcut icon" href="~/content/images/favicon.ico" type="image/x-icon" />
    <title>SmartFeasibilty</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

    <script type="text/javascript">
        var appRoot = '@Url.Content("~")';
    </script>
    <style type="text/css">
        .popup_bg {
            background-color: #2c8d96 !important;
        }
        @{Html.RenderPartial("_GlobalVariable");}
    </style>
</head>
<body>

    @RenderBody()

    <input type="hidden" id="hdnMapCordinates" />
    <div id="dialog" style="display: none"></div>
    <div id="dvProgress" style="display: none;">
        <div id="blur" class="progresblur">
            &nbsp;
        </div>
        <div id="progressbar" style="width: 247px; height: 152px; top: 40%; left: 40%;">
            <img alt="Loading..." src="~/content/images/loading.gif" /><br />

        </div>
    </div>
    @{Html.RenderPartial("_MapReference");}
    @{Html.RenderPartial("_ModalPopUp");}
    @{Html.RenderPartial("_GlobalSettings");}
    @Scripts.Render("~/bundles/Scripts")

    <script type="text/javascript">
        var appRoot = '@Url.Content("~")';
        var baseUrl = window.location.origin;
        var popup = new ModalPopUp();
        var sf = new main();
        $(document).ready(function () {
            sf.initApp();
                $(".mainlyr ").not(".grpNetwork").treeview({
                    collapsed: true,
                    animated: "medium",
                    persist: "location"
                });

                $(".grpNetwork ").treeview({
                    collapsed: false,
                    animated: "medium",
                    persist: "location"
                });

            popup.InitPopUp();
            /*$('.icon-history').on("click", function () {
                popup.LoadModalDialog('Main/test', { id: 1 }, 'Open test model', 'modal-lg');
            })*/

        });

        $('#open-close').on("click", function () {

            var L = $(this).offset().left;
            
            if (L == 0) {

                $(this).animate({ left: '250px' }, 400, 'linear');
            }
            else {

                $(this).animate({ left: '0px' }, 400, 'linear');
            }
        });

        $('#open-close-right').on("click", function () {

            var R = $(this).offset().left;
            
            if (R == 0) {

                $(this).animate({ right: '250px' }, 400, 'linear');
            }
            else {

                $(this).animate({ right: '0px' }, 400, 'linear');
            }
        });



        $(document).ready(function () {
            $(".fa-chevron-down").on("click", function () {
                $(".logoutpannel").slideToggle();
            });
        });

    </script>


</body>
</html>
