@model Models.BDBItemMaster
@using Models;
<script>
    //Set color of template icon as green in NE library
    if ('@Model.id' > 0) {
        $(".clsTemplateIcon[data-lyrname='BDB']").css('background-color', '#9999FF');
    }
</script>
@helper pageMessage()
{
    { Html.RenderPartial("_PageMessage", Model.objPM); }
}
@helper ItemSpecification()
{
    { Html.RenderPartial("_ItemSpecification", (itemMaster)Model); }
}
@helper SystemSpecification()
{
    { Html.RenderPartial("_SystemSpecification", (itemMaster)Model); }
}
<!DOCTYPE html>
<div class="libDetail">

    @using (Ajax.BeginForm("SaveBDBTemplate", "ItemTemplate", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dvModalBody",
        LoadingElementId = "dvProgress",
        OnFailure = "si.handleError",
    },
new { id = "frmItemTemplate", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.id)
        <!-- Message Pop-up -->
        @pageMessage()
        <div class="libTabContent" style="overflow:visible;">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="ItemSpecfication">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">@Resources.Resources.SI_OSP_GBL_GBL_GBL_026</legend>
                        @ItemSpecification()
                        <div class="form-group row" id="divddlEntityType">
                            <label class="control-label col-sm-2">@Resources.Resources.SI_OSP_GBL_NET_GBL_008<i class="clsMandatory">*</i>:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.entity_category, new List<SelectListItem>
                                         {
                                            new SelectListItem{ Text="Primary", Value = "Primary" },
                                            new SelectListItem{ Text="Secondary", Value = "Secondary" }
                                         }, "--select--", new { @class = "chosen-select form-control clsReadOnly", @readonly = "True" })
                            </div>
                        </div>
                    </fieldset>
                    @*<fieldset class="the-fieldset">
                            <legend class="the-legend">Model Mapping & System Specification</legend>
                            @SystemSpecification()
                        </fieldset>*@
                </div>
            </div>
        </div>

        <div class="d-flex ModalFooter " id="dvBtnAction">

            <a href="javascript:void(0);" class="btn btn-default ml-auto mr-01" data-dismiss="modal" id="btnCancel">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_006</a>

            @if (Model.id > 0)
            {
                <button type="submit" class="btn btn-primary" id="btnUpdateItemTemplate">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_003</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" id="btnSaveItemTemplate">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_004</button>
            }

        </div>
    }
</div>
<script>
        $(document).ready(function () {
            callFormValidator("frmItemTemplate");
            $('.chosen-select').chosen({ width: '100%' });

            $('#specification').chosen().change(function (event) {
                var dID = $(this).val();
                bindVendor(dID);
            });
            $('#ddlVendor').chosen().change(function (event) {
                var specfi = $("#specification option:selected").val(); //
                var vandorid = $(this).val();
                var entitytype = $('#entityType').val();
                bindCateSubcat(entitytype,specfi, vandorid);
            });
            $('#ddlType').chosen().change(function (event) {
                var dID = $(this).val();
                bindBrand(dID);
            });
            $('#ddlBrand').chosen().change(function (event) {
                var dID = $(this).val();
                bindModel(dID);
            });

            $('#id').val('@Model.id');


        });

</script>
