@model Models.CableTemplateMaster
@using Models;
@using SmartInventory.Settings;
@helper ItemSpecification()

{
    { Html.RenderPartial("~/Views/ItemTemplate/_ItemSpecification.cshtml", (itemMaster)Model); }
}
@helper SystemSpecification()
{
    { Html.RenderPartial("~/Views/ItemTemplate/_SystemSpecification.cshtml", (itemMaster)Model); }
}
@{
    var layerDetail = ApplicationSettings.listLayerDetails.Count > 0 ? ApplicationSettings.listLayerDetails.Where(x => x.layer_name.ToUpper() == EntityType.Cable.ToString().ToUpper()).FirstOrDefault() : null;
    var startEndReading = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.start_end_reading.ToString() && m.form_feature_type.ToLower() == formFeatureType.feature.ToString() && m.is_active == true).FirstOrDefault() : null;
    var subCategory = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.sub_category.ToString() && m.form_feature_type.ToLower() == formFeatureType.field.ToString() && m.is_active == true).FirstOrDefault() : null;
    var no_of_tube = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.no_of_tube.ToString() && m.form_feature_type.ToLower() == formFeatureType.field.ToString() && m.is_active == true).FirstOrDefault() : null;
    var no_of_core_per_tube = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.no_of_core_per_tube.ToString() && m.form_feature_type.ToLower() == formFeatureType.field.ToString() && m.is_active == true).FirstOrDefault() : null;

    if (Model.specification != "" && Model.specification != null)
    {
        @Html.HiddenFor(m => m.no_of_tube, new { @id = "hdn_no_of_tube" });
        @Html.HiddenFor(m => m.unitValue, new { @id = "hdn_unitValue" });
        @Html.HiddenFor(m => m.no_of_core_per_tube, new { @id = "hdn_no_of_core_per_tube" });
        @Html.HiddenFor(m => m.vendor_id, new { @id = "hdn_vendor_id" });
        @Html.HiddenFor(m => m.item_code, new { @id = "hdn_item_code" });
        @Html.HiddenFor(m => m.specification, new { @id = "hdn_specification" });
    }

}
@if (ViewContext.RouteData.GetRequiredString("action") == "CableTemplate")
{
    <fieldset class="the-fieldset">
        <legend class="the-legend">@layerDetail.layer_title @Resources.Resources.SI_OSP_GBL_NET_FRM_218</legend>
        <div class="form-group row" id="divddlEntityType">
            @if (Model.cable_type != "ISP")
            {
                <label class="control-label col-sm-2">@layerDetail.layer_title @Resources.Resources.SI_OSP_GBL_GBL_GBL_023<i class="clsMandatory">*</i>:</label>
                <div class="col-md-4 col-sm-4 mrgn_btm">
                    @Html.DropDownListFor(m => m.cable_type, new SelectList(Model.listcableType.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Value", "Text"), "--Select--", new { @class = "chosen-select form-control" })
                </div>
            }
            else
            {
                @Html.HiddenFor(m => m.cable_type)
            }
            @*<label class="control-label col-sm-2" for="ddlType">@layerDetail.layer_title @Resources.Resources.SI_OSP_GBL_NET_GBL_003:</label>
        <div class="col-md-4 col-sm-4">
            @Html.DropDownListFor(m => m.cable_category, new SelectList(Model.listcableCategory.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Value", "Text"), "--Select--", new { @class = "chosen-select form-control clsReadOnly", @style = "padding:0;", @id = "ddlCableType", @onchange = "si.ddlChangeRemoveCss(this.id, 'Type');"})
        </div>*@
            <label class="control-label col-sm-2">@layerDetail.layer_title @Resources.Resources.SI_OSP_GBL_NET_GBL_003:</label>
            <div class="col-md-4 col-sm-4">
                @Html.DropDownListFor(m => m.cable_category, new SelectList(Model.listcableCategory.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Value", "Text"), "--Select--", new { @class = "chosen-select form-control clsReadOnly" })
            </div>
            @if (subCategory != null)
            {
                <label class="control-label col-sm-2 mt-15">@layerDetail.layer_title @Resources.Resources.SI_OSP_GBL_GBL_GBL_022:</label>
                <div class="col-md-4 col-sm-4 mt-15">
                    @Html.DropDownListFor(m => m.cable_sub_category, new SelectList(Model.listcableSubCategory.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Value", "Text"), "--Select--", new { @class = "chosen-select form-control clsReadOnly" })
                </div>
            }
        </div>
    </fieldset>
}
<fieldset class="the-fieldset">
    <legend class="the-legend">@Resources.Resources.SI_OSP_CAB_NET_FRM_022</legend>
    @ItemSpecification()

    <div class="form-group row">
        <label class="control-label col-sm-2" for="txtNooftube">@Resources.Resources.SI_OSP_CAB_NET_FRM_021:<i class="clsMandatory">*</i>:</label>
        <div class="col-sm-4">

            @Html.TextBoxFor(m => m.no_of_tube,
            SmartInventory.Helper.CustomHtmlHelper.GetHtmlAttributes(new
            {
                @class = "form-control",
                @maxlength = "4"
            }, (no_of_tube != null) ? (no_of_tube.is_readonly == true) ? new { @readonly = "readonly" } : null : null))
        </div>
        <label class="control-label col-sm-2" for="txtNoofCorePerTube">@Resources.Resources.SI_OSP_CAB_NET_FRM_023:<i class="clsMandatory">*</i>:</label>
        <div class="col-sm-4">


            @Html.TextBoxFor(m => m.no_of_core_per_tube,
            SmartInventory.Helper.CustomHtmlHelper.GetHtmlAttributes(new
            {
                @class = "form-control",
                @maxlength = "4"
            }, (no_of_core_per_tube != null) ? (no_of_core_per_tube.is_readonly == true) ? new { @readonly = "readonly" } : null : null))


        </div>
    </div>
</fieldset>
<fieldset class="the-fieldset">
        <legend class="the-legend">Model Mapping & System Specification</legend>
        @SystemSpecification()

    </fieldset>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
        $('#specification').chosen().change(function (event) {
            var dID = $(this).val();
            bindVendor(dID);
        });
        $('#ddlVendor').chosen().change(function (event) {
             
            var specfi = $("#specification option:selected").val(); //
            var vandorid = $(this).val();
            var entitytype = $('#entityType').val();


            bindCateSubcat(entitytype, specfi, vandorid);
            var ItemCode = $("#txtItemCode").val();
             
            if (('@no_of_core_per_tube' != '' && JSON.parse('@no_of_core_per_tube.is_readonly'.toLowerCase()) == false) && (vandorid == $("#hdn_vendor_id").val() && ItemCode == $("#hdn_item_code").val() && specfi == $("#hdn_specification").val()))
            {
                $("#no_of_core_per_tube").val($("#hdn_no_of_core_per_tube").val())
                $("#no_of_tube").val($("#hdn_no_of_tube").val())
                $('#ddlIOP').val($("#hdn_unitValue").val() );
            }
        });
        $('#ddlType').chosen().change(function (event) {
            debugger;
            var dID = $(this).val();
            bindBrand(dID);
        });
        $('#ddlBrand').chosen().change(function (event) {
            var dID = $(this).val();
            bindModel(dID);
        });
        //$('#ddlCableType').chosen().change(function (event) {
        //     
        //    if ($('#dvMainSpecification')) {
        //        var specfi = $("#ddlCableType option:selected").val();
        //        var defaultSpecif = $($('#specification option[data-type="' + specfi + '"]')[0]).val();
        //        $('#specification').val(defaultSpecif).trigger('chosen:updated').trigger('change');
        //        var defaultVndor = $($('#ddlVendor option[value!=""]')[0]).val();
        //        $('#ddlVendor').val(defaultVndor).trigger('chosen:updated').trigger('change');
        //    }
        //});
    });
</script>