@model Models.HTBTemplate
@using Models;
@using SmartInventory.Settings;
<script>
    //Set color of template icon as green in NE library
    if ('@Model.system_id' > 0) {
        $(".clsTemplateIcon[data-lyrname='HTB']").css('background-color', '#9999FF');
    }
</script>
@helper pageMessage()
{
    { Html.RenderPartial("_PageMessage", Model.objPM); }
}
@helper ItemSpecification()
{
    { Html.RenderPartial("~/Views/ItemTemplate/_ItemSpecification.cshtml", (itemMaster)Model); }
}
@helper SystemSpecification()
{
    { Html.RenderPartial("~/Views/ItemTemplate/_SystemSpecification.cshtml", (itemMaster)Model); }
}
@using SmartInventory.Settings;
@{
    var layerDetail = ApplicationSettings.listLayerDetails.Count > 0 ? ApplicationSettings.listLayerDetails.Where(x => x.layer_name.ToUpper() == EntityType.HTB.ToString().ToUpper()).FirstOrDefault() : null;
}
<input type="hidden" id="Layer_id" value="@layerDetail.layer_id" />
<!DOCTYPE html>
<div class="libDetail">

    @using (Ajax.BeginForm("saveHTBTemplate", "ItemTemplate", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dvModalBody",
        LoadingElementId = "dvProgress",
        OnFailure = "si.handleError",
    },
    new { id = "frmItemTemplate", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.system_id)
        @Html.HiddenFor(m=>m.created_by)
        <!-- Message Pop-up -->
        @pageMessage()
        <div class="libTabContent">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="ItemSpecfication">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">@Resources.Resources.SI_OSP_GBL_GBL_GBL_026</legend>
                        @ItemSpecification()
                    </fieldset>
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">Model Mapping & System Specification</legend>
                        @SystemSpecification()
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="d-flex ModalFooter" id="dvBtnAction">
            <a href="javascript:void(0);" class="btn btn-default ml-auto mr-01" data-dismiss="modal" id="btnCancel">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_006</a>
            @if (Model.system_id > 0)
            {
                <button type="submit" class="btn btn-primary" id="btnUpdateItemTemplate">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_003</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" id="btnSaveItemTemplate">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_004</button>
            }
        </div>

    }
</div>
<script>
    $(document).ready(function () {
        callFormValidator("frmItemTemplate");
        $('.chosen-select').chosen({ width: '100%' });

        $('#specification').chosen().on('change',function (event) {
            var dID = $(this).val();
            bindVendor(dID);
        });
        $('#ddlVendor').chosen().on('change',function (event) {
            var specfi = $("#specification option:selected").val(); //
            var vandorid = $(this).val();
            var entitytype = $('#entityType').val();
            bindCateSubcat(entitytype,specfi, vandorid);
        });
        $('#ddlType').chosen().on('change',function (event) {
            var dID = $(this).val();
            bindBrand(dID);
        });
        $('#ddlBrand').chosen().on('change',function (event) {
            var dID = $(this).val();
            bindModel(dID);
        });

        $('#id').val('@Model.system_id');


    });

</script>

