@model Models.IspEntityMapping
@Html.HiddenFor(m => m.isShaftElement, new { id = "hdnIsShaftElement" })
@Html.HiddenFor(m => m.isFloorElement, new { id = "hdnIsFloorElement" })
<style>
    #dvFloorDDL .disabled-result {                                                                         Item Association (Within 5 Mtr)
        background-color: #e2e2e2;
        color: #2f2e2e;
        cursor: not-allowed;
    }
</style>
<!DOCTYPE html>
<fieldset class="the-fieldset">
    @*@Resources.Resources.SI_OSP_GBL_NET_FRM_004 (@Resources.Resources.SI_OSP_ONT_NET_FRM_005 @SmartInventory.Settings.ApplicationSettings.nearByStructureBuffer @Resources.Resources.SI_OSP_GBL_GBL_GBL_034)*@
    
    <legend class="the-legend">@String.Format(Resources.Resources.SI_OSP_GBL_NET_FRM_420, SmartInventory.Settings.ApplicationSettings.nearByStructureBuffer)</legend>

    <div class="form-group row">
        <label class="control-label col-sm-2" for="txtType">@Resources.Resources.SI_OSP_GBL_NET_FRM_032:</label>
        <div class="col-md-4">
            @Html.DropDownList("objIspEntityMap.AssociateStructure", new SelectList(Model.lstStructure.Select(x => new { Value = x.system_id.ToString(), Text = x.structure_name }), "Value", "Text"), "Select Structure", new { @id = "ddlStructureList", name = "objIspEntityMap.AssociateStructure", @class = "chosen-select col-sm-12", @style = "padding:0;", @onchange = "GetShaftNFloorList('" + Model.entity_type + "');" })
        </div>
    </div>

    <div class="form-group" id="dvAssociateType" style="display:@((Model.structure_id != 0 && Model.structure_id != null)==true?"block;":"none;")">
        <label class="control-label col-sm-2" for="txtType">@Resources.Resources.SI_OSP_HTB_NET_FRM_013<i class="clsMandatory">*</i>:</label>
        <div class="col-md-4">
            @Html.DropDownList("objIspEntityMap.AssoType",
           new SelectList(new List<SelectListItem>{
           new SelectListItem{ Text="Shaft", Value = "Shaft"  },
           new SelectListItem{ Text="Floor", Value = "Floor" }}, "Value", "Text"), "Select Type", new { @id = "ddlAssociationtype", name = "objIspEntityMap.AssoType", @class = "chosen-select col-sm-12", @style = "padding:0;" })
        </div>
    </div>

    <div class="form-group row" id="dvShaftDDL" style="display:@((Model.shaft_id != null && Model.shaft_id != 0) == true ? "block;" : "none;")">
        <label class="control-label col-sm-2" for="txtShaft">@Resources.Resources.SI_OSP_HTB_NET_FRM_014<i class="clsMandatory">*</i>:</label>
        <div class="col-sm-4">
            @Html.DropDownList("objIspEntityMap.shaft_id", new SelectList(Model.lstShaft.Select(x => new { Value = x.systemid.ToString(), Text = x.entityname }), "Value", "Text"), "Select Shaft", new { id = "ddlShaftlist", name = "objIspEntityMap.shaft_id", @class = "chosen-select col-sm-12", @style = "padding:0;", @onchange = "fncShaftDdlChange();" })
        </div>
    </div>

    <div class="form-group" id="dvFloorDDL" style="display:@((Model.floor_id != null && Model.floor_id != 0) == true ? "block;" : "none;")">
        <label class="control-label col-sm-2" for="txtShaft">@Resources.Resources.SI_OSP_HTB_NET_FRM_015<i class="clsMandatory">*</i>:</label>
        <div class="col-sm-4">
            @Html.DropDownList("objIspEntityMap.floor_id", new SelectList(Model.lstFloor.Select(x => new { Value = x.systemid.ToString(), Text = x.entityname }), "Value", "Text"), "Select Floor", new
       {
           id = "ddlFloorlist",
           name = "objIspEntityMap.floor_id",
           @class = "chosen-select col-sm-12",
           @style = "padding:0;",
           @onchange = "showHideShaftFloor('ddlFloorlist'),getAllParentInFloor()"
       })
        </div>
    </div>
    @if (Model.isValidParent)
        {
        <div class="form-group" id="divParentEntity" style="display:@((Model.AssoType == "Floor") == true ? "block;" : "none;")">
            <label class="control-label col-sm-2">@Resources.Resources.SI_OSP_HTB_NET_FRM_016</label>
            <div class="col-sm-45">
                @Html.DropDownList("objIspEntityMap.unitId", Model.UnitList.Select(m => new SelectListItem { Value = m.entity_system_id.ToString(), Text = m.network_id }).ToList(), "Select Unit", new { @class = "chosen-select col-sm-12", id = "ddlUnitList", @onchange = "showHideShaftFloor('ddlUnitList')" })
            </div>
        </div>
    }
</fieldset>
<script>
    $(document).ready(function () {
            if ('@Model.shaft_id' != '0') { $("#ddlShaftlist").val('@Model.shaft_id').trigger("chosen:updated"); }
            if ('@Model.floor_id' != '0') { $("#ddlFloorlist").val('@Model.floor_id').trigger("chosen:updated"); }
            if ('@Model.AssoType' != '' && '@Model.AssoType' != null) { $("#ddlAssociationtype").val('@Model.AssoType').trigger("chosen:updated"); }
            if ('@Model.structure_id' != '' && '@Model.structure_id' != '0') { $("#ddlStructureList").val('@Model.structure_id').trigger("chosen:updated"); }
            if ('@Model.unitId' != '' && '@Model.unitId' != '0') { $("#ddlUnitList").val('@Model.unitId').trigger("chosen:updated"); }
            @if (Model.isFloorElement && !Model.isShaftElement)
        {
            @:$("#ddlAssociationtype option[value='Shaft']").hide().trigger("chosen:updated");
                                                            @:$("#ddlAssociationtype").val('Floor').trigger("chosen:updated"); 
     }
        else if (Model.isShaftElement && !Model.isFloorElement)
        {
            @:$("#ddlAssociationtype option[value='Floor']").hide().trigger("chosen:updated");
                            @:$("#ddlAssociationtype").val('Shaft').trigger("chosen:updated");
                        }

        fncShaftDdlChange();
    })
</script>