@using SmartInventory.Settings;
@model Models.MPODItemMaster
@using Models;

<script>
    //Set color of template icon as green in NE library
    if ('@Model.id' > 0) {
        $(".clsTemplateIcon[data-lyrname='MPOD']").css('background-color', '#9999FF');
    }
</script>
@helper pageMessage()
{
    { Html.RenderPartial("_PageMessage", Model.objPM); }
}
@helper MPODTemplateMaster()
{
    { Html.RenderPartial("~/Views/ItemTemplate/_MPODTemplateMaster.cshtml", (MPODTemplateMaster)Model); }
}
@{
    var layerDetail = ApplicationSettings.listLayerDetails.Count > 0 ? ApplicationSettings.listLayerDetails.Where(x => x.layer_name.ToUpper() == EntityType.MPOD.ToString().ToUpper()).FirstOrDefault() : null;
}
<!DOCTYPE html>
<div class="libDetail">

    @using (Ajax.BeginForm("SaveMPODTemplate", "ItemTemplate", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dvModalBody",
        LoadingElementId = "dvProgress",
        OnFailure = "si.handleError",

    },
    new { id = "frmItemTemplate", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.id)
        <!-- Message Pop-up -->
        @pageMessage()
        <div class="libTabContent">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="ItemSpecfication">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">@Resources.Resources.SI_OSP_MPOD_NET_FRM_002</legend>
                        <div class="form-group row">
                            <label class="control-label col-sm-2" for="txtPodType">@Resources.Resources.SI_OSP_GBL_NET_FRM_417:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.mpod_type, new SelectList(Model.listMPODType.Select(x => new { Value = x.dropdown_value.ToString(), Text = x.dropdown_value }), "Value", "Text"), "Select " + @layerDetail.layer_title + " Type", new { @class = "chosen-select col-sm-12", @style = "padding:0;", @id = "ddlPoleType" })
                            </div>
                        </div>
                    </fieldset>
                    @MPODTemplateMaster()
                </div>
            </div>
        </div>
        <div class="d-flex ModalFooter" id="dvBtnAction">

            <a href="javascript:void(0);" class="btn btn-default ml-auto mr-01" data-dismiss="modal" id="btnCancelAssignRoute">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_006</a>

            @*<input type="button" class="btn btn-primary" id="btnTestItemTemplate" onclick="si.TestPopupCall();" value="Test">*@
            @if (Model.id > 0)
            {
                <button type="submit" class="btn btn-primary" id="btnUpdateItemTemplate">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_003</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" id="btnSaveItemTemplate">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_004</button>
            }

        </div>
    }
</div>
<script>
    $(document).ready(function () {

            callFormValidator("frmItemTemplate");

            $('#id').val('@Model.id');



    });


</script>
