@model Models.itemMaster
<!DOCTYPE html>
<div class="form-group">
    <label class="control-label col-sm-2" for="ddlType">@Resources.Resources.SI_OSP_GBL_GBL_GBL_023<i class="clsMandatory">*</i>:</label>
    <div class="col-sm-45">
        @Html.DropDownListFor(m => m.type, new SelectList(Model.listType.Select(x => new { Value = x.value, Text = x.key }), "Value", "Text"), "Select Type", new { @class = "chosen-select col-sm-12", @style = "padding:0;", @id = "ddlType", @onchange = "ddlChangeRemoveCss(this.id, 'Type');" })
    </div>
    <label class="control-label col-sm-2" for="ddlBrand">@Resources.Resources.SI_OSP_GBL_GBL_GBL_024<i class="clsMandatory">*</i>:</label>
    <div class="col-sm-45">
        @Html.DropDownListFor(m => m.brand, new SelectList(Model.lstBrand.Select(x => new { Value = x.value, Text = x.key }), "Value", "Text"), "Select Brand", new { @class = "chosen-select col-sm-12", @style = "padding:0;", @id = "ddlBrand", @onchange = "ddlChangeRemoveCss(this.id, 'Brand');" })
    </div>

</div>
<div class="form-group">

    <label class="control-label col-sm-2" for="ddlmodel">@Resources.Resources.SI_OSP_GBL_GBL_GBL_025<i class="clsMandatory">*</i>:</label>

    <div class="col-sm-45">
        @Html.DropDownListFor(m => m.model, new SelectList(Model.lstModel.Select(x => new { Value = x.value, Text = x.key }), "Value", "Text"), "Select Model", new { @class = "chosen-select col-sm-12", @style = "padding:0;", @id = "ddlmodel", @onchange = "ddlChangeRemoveCss(this.id, 'Model');" })
        @*<i class="fa fa-eye" style="font-size:15px"></i>*@
    </div>


    <label class="control-label col-sm-2" for="ddlClosureConstruction">@Resources.Resources.SI_OSP_CAB_NET_FRM_024<i class="clsMandatory">*</i>:</label>
    <div class="col-sm-45">
        @Html.DropDownListFor(m => m.construction, new SelectList(Model.lstConstruction.Select(x => new { Value = x.value, Text = x.key }), "Value", "Text"), "Select Construction", new { @class = "chosen-select col-sm-45", @style = "padding:0;", @onchange = "ddlChangeRemoveCss(this.id, 'Construction Stage');" })
    </div>



</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="ddlClosureActivation">@Resources.Resources.SI_OSP_CAB_NET_FRM_025<i class="clsMandatory">*</i>:</label>
    <div class="col-sm-45">
        @Html.DropDownListFor(m => m.activation, new SelectList(Model.lstActivation.Select(x => new { Value = x.value, Text = x.key }), "Value", "Text"), "Select Activation", new { @class = "chosen-select col-sm-45", @style = "padding:0;", @onchange = "ddlChangeRemoveCss(this.id, 'Activation Stage');" })
    </div>

    <label class="control-label col-sm-2" for="ddlClosureAccessibility">@Resources.Resources.SI_OSP_CAB_NET_FRM_026<i class="clsMandatory">*</i>:</label>
    <div class="col-sm-45">
        @Html.DropDownListFor(m => m.accessibility, new SelectList(Model.lstAccessibility.Select(x => new { Value = x.value, Text = x.key }), "Value", "Text"), "Select Accessibility", new { @class = "chosen-select col-sm-45", @style = "padding:0;", @onchange = "ddlChangeRemoveCss(this.id, 'Accessibility');" })
    </div>
</div>
<script>
    function fnSetValue()
    {
        $('#hdnModel').val($('#ddlmodelNew').val());
    }
</script>
