

@model List<Models.temp_auto_network_plan>
    @using SmartInventory.Settings;
    @{
    int counter = 0;
    }
    @*@{
    var lstInputSettings = ApplicationSettings.formInputSettings.Where(m => m.form_name.ToLower() == Models.EntityType.Cable.ToString().ToLower()).ToList();
    var startEndReading = lstInputSettings.Count > 0 ? lstInputSettings.Where(m => m.form_feature_name.ToLower() == Models.formFeatureName.start_end_reading.ToString() && m.form_feature_type.ToLower() == Models.formFeatureType.feature.ToString() && m.is_active == true).FirstOrDefault() : null;
    }*@

<!DOCTYPE html>
    <div class="libDetail">
        @using (Ajax.BeginForm("SaveLoop", "Plan", new AjaxOptions
        {
        HttpMethod = "POST",
        UpdateTargetId = "dvModalBody",
        LoadingElementId = "dvProgress",
        OnFailure = "si.handleError",
        OnSuccess = "networkdata.loopDetails()"
        //OnBegin = "return ValidateNetworkId(" + Model.system_id + ",'" + Model.network_id + "','" + Model.networkIdType + "','" + EntityType.Area.ToString() + "');"
        },
        new { id = "frmLoopManage", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
        {


        <div class="libTabContent" style="overflow:visible;">
            <!-- Tab panes -->
            <div class="form-group">
                <div class="tab-content">
                    @*Loop Managment*@
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">@Resources.Resources.SI_OSP_CAB_NET_FRM_004</legend>
                        <div id="Grid" style="border:none;">
                            <div class="tab-pane active" id="divLoopDetail" style="max-height: 350px; overflow: auto;">

                                @if (Model.Count > 0)
                                {
                                <div class="Boxes">
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                    counter = counter + 1;
                                    <div class="displayRows">
                                        @*@Html.TextBox("lstLoopMangment[" + i + "].loop_length", @Model[i].loop_length, new { id = "lstLoopMangment_" + i + "_start_reading", @class = "form-control  enableControl", @onblur = "si.calculateLoopLength(" + i + ", " + @Model[i].loop_length + ");", @onkeydown = "return ValidateNumberDecimal(this,event,8,2);" })*@
                                        @Html.TextBoxFor(x => x[i].loop_length, new { @class = "form-control  enableControl", id = "lstLoopMangment_" + i, @onblur = "return networkdata.CheckLoopLenght(this)", onkeydown = "return ValidateNumberDecimal(this,event,5,2);" })
                                        @if (Model[i].site_id == "" || Model[i].site_id == null)
                                        {
                                            @counter
                                        }
                                        else
                                        {
                                            @(Model[i].site_id + "-" + counter.ToString("D2"))
                                        }
                                    </div>
                                    <div>
                                        @Html.HiddenFor(x => x[i].system_id)
                                        @Html.HiddenFor(x => x[i].entity_type)
                                        @Html.HiddenFor(x => x[i].fraction)
                                        @Html.HiddenFor(x => x[i].is_middle_point)
                                        @Html.HiddenFor(x => x[i].latitude)
                                        @Html.HiddenFor(x => x[i].longitude)
                                        @Html.HiddenFor(x => x[i].plan_id)
                                        @Html.HiddenFor(x => x[i].sp_geometry)
                                    </div>
                                    }

                                </div>
                                }
                                else
                                {
                                <div>@Resources.Resources.SI_OSP_MPOD_NET_RPT_006 .</div>
                                }
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
        <div class="form-group ModalFooter" id="dvBtnAction">
            <div class="col-md-6 col-sm-6 ModalFooterControll">
                <button type="submit" class="btn btn-primary" id="btnUpdatenetworkLoop" onclick="networkdata.loopUpdate();">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_003</button>
                <a href="javascript:void(0);" class="btn btn-default" data-dismiss="modal" id="btnCancel">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_006</a>
            </div>
        </div>
        }
    </div>


