@model Models.FiberLinkFilter
@using Models;
@using Utility;


<link href="~/Content/css/FiberLink.css" rel="stylesheet" />
<style>
    .mr-01 .chosen-container {
        width: 200px !important;
    }
</style>
@{
    var userModuleList = (List<string>)Session["ApplicableModuleList"];
    WebGrid grid = new WebGrid(rowsPerPage: Model.pageSize, canSort: true, ajaxUpdateContainerId: "VwFiberLinkGrid", ajaxUpdateCallback: "onGridHeaderClick('tblFiberLinkGrid');fiberLink.GridColor();");

    grid.Bind(Model.lstFiberLinkDetails, autoSortAndPage: false, rowCount: Model.totalRecord);
    if (Model.totalRecord > 0)
    {
        grid.PageIndex = Model.currentPage - 1;
    }
}
@helper CreateFiberLink()
{
    { Html.RenderPartial("~/Views/FiberLink/_CreateFiberlink.cshtml", Model.objFiberLink); }
}
@helper UploadFiberLink()
{
    { Html.RenderPartial("~/Views/FiberLink/_UploadFiberlink.cshtml", Model.objFiberLink); }
}

@Html.HiddenFor(m => m.objFiberLink.system_id)

@Html.HiddenFor(m => m.SearchbyText)
@Html.HiddenFor(m => m.Searchtext)

<!DOCTYPE html>
<div class="tab-content" id="dvViewLink">
    <ul class="nav nav-tabs ViewLink">

        @if (userModuleList.Contains("VLK"))
        {
            <li id="liViewFiberLink" class="active"><a data-toggle="tab" href="#ViewLink" class="active show">@Resources.Resources.SI_OSP_GBL_NET_FRM_423</a></li>

        }
        @if (userModuleList.Contains("CLK"))
        {
            <li id="liAddFiberLink" class="@(Model.objFiberLink.user_role_id!=1?"":"dvdisabled")" style="@(Model.objFiberLink.user_role_id!=1?"": "pointer-events: none;opacity: 0.4;")"><a data-toggle="tab" href="#CreateFiberLink">@Resources.Resources.SI_OSP_GBL_NET_FRM_424</a></li>
        }

        <li id="liUploadFiberLink"><a data-toggle="tab" href="#UploadFiberLink">Upload Fiber Link</a></li>

    </ul>
    @if (userModuleList.Contains("VLK"))
    {
        <div id="ViewLink" class="tab-pane fade in active show">
            @using (Ajax.BeginForm("ShowFiberLinkDetails", "FiberLink", new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "dvViewLink",
                LoadingElementId = "dvViewLinkProgress",
                InsertionMode = InsertionMode.Replace
            },
                    new { id = "frmViewLink", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
            {

                @*<div id="dvViewLinkProgress" class="ViewLinkGridProgress">
                        <div class="progressHeader"></div>
                        <div class="progressBody"></div>
                    </div>*@
                <div class="space-pad">
                    <div class="d-flex">
                        @if (Model.lstFiberLinkStatus.Count > 0)
                        {
                            foreach (var item in Model.lstFiberLinkStatus)
                            {
                                <div class="d-flex mr-01">
                                    <div class="colorDots" style="background-color:@(item.color_code);"></div>
                                    <div class="Assign assignColor"> @item.fiber_link_status <span>(@item.fiber_link_count)</span></div>
                                </div>
                                if (item.fiber_link_status == "Associated")
                                {
                                    <input type="hidden" value="@item.fiber_link_count" id="hdnAssociatedCount" />
                                    @*Model.associatedCount = item.fiber_link_count;
                                        @Html.HiddenFor(m => m.associatedCount, new { @id = "hdnAssociatedCount" })*@
                                }
                            }
                        }

                        <div class="ml-auto pos-rel">
                            <button type="button" class="exp--btn dropfiles @(Model.lstFiberLinkDetails.Count > 0?"":"dvdisabled")">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_010 <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                            <div class="dropbox_BulkExport">
                                <span id="btnExportLinks" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_010" @string.Format(Model.lstFiberLinkDetails.Count > 0 ? "" : "dvdisabled")>@Resources.Resources.SI_GBL_GBL_NET_FRM_042</span>
                                <span id="btnExportFiberLinkToKML" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_010" @string.Format(Model.lstFiberLinkDetails.Count > 0 ? "" : "dvdisabled")>@Resources.Resources.SI_GBL_GBL_NET_FRM_043</span>
                                <span id="btnExportPDFLinks" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_010" @string.Format(Model.lstFiberLinkDetails.Count > 0 ? "" : "dvdisabled")>PDF</span>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4 divPads text-right"><button type="button" class="btn btn-primary @(Model.lstFiberLinkDetails.Count > 0?"":"dvdisabled")" style="margin-left: auto" id="btnExportLinks" value="Export"><span class="fa fa-download"></span> @Resources.Resources.GBL_GBL_GBL_GBL_GBL_010</button></div>*@
                </div>

                <div class="BdrSet">
                    <div class="d-flex jc-sb tablePad--tn">
                        @*<div>

                                    @Html.DropDownListFor(m => m.customDate, new List<SelectListItem>{
                                new SelectListItem { Text = "-Select-", Value = "0"},
                                new SelectListItem { Text = "Custom", Value = "1"},
                                new SelectListItem { Text = "Today", Value = "2"},
                                new SelectListItem { Text = "Previous Day", Value = "3"},
                                new SelectListItem { Text = "Last 7 Days", Value = "4"},
                                new SelectListItem { Text = "Last 30 Days", Value = "5"},
                                new SelectListItem { Text = "Last 3 Months", Value = "6"},
                                new SelectListItem { Text = "Last 6 Months", Value = "7"},
                              new SelectListItem { Text = "Last 1 Year", Value = "8"},
                            }, new { @class = "chosen-select", @onchange = "fiberLink.onChangeCustomDate();", @id = "customedate", @style = "width:60px" })
                                </div>*@
                        @*<div class="d-flex pos-rel">
                                <label class="control-label pt-0" for="txtDatefrom">@Resources.Resources.SI_OSP_GBL_NET_FRM_130<i class="clsMandatory">*</i>:&nbsp; </label>
                                @Html.TextBoxFor(m => m.fromDate, new { @id = "txtDateFrom", @title = @Resources.Resources.SI_OSP_GBL_NET_FRM_096, @class = "input-sm form-control roTextBox", @readonly = true, @style = "height:26px;" })
                                <img id="imgFromDate" class="assign-calen link--assign mr-05" src="~/Content/images/calendar.png" />
                            </div>
                            <div class="d-flex pos-rel">
                                <label class="control-label pt-0" for="txtDatefrom">&nbsp;&nbsp;@Resources.Resources.SI_OSP_GBL_NET_FRM_131<i class="clsMandatory">*</i>:&nbsp;  </label>
                                @Html.TextBoxFor(m => m.toDate, new { @id = "txtDateTo", @title = @Resources.Resources.SI_OSP_GBL_NET_FRM_097, @class = "input-sm form-control roTextBox", @readonly = true, @style = "height:26px;" })
                                <img id="imgToDate" class="assign-calen link--assign mr-05" src="~/Content/images/calendar.png" />
                            </div>*@
                        <div class="d-flex mr-01">
                            <label class="control-label pt-0" for="txtDatefrom">@Resources.Resources.SI_OSP_GBL_NET_FRM_100:&nbsp; </label>
                            @Html.DropDownListFor(x => x.SearchbyText, new SelectList(Model.lstSearchByColumns.Select(x => new { value = x.column_name, text = x.display_name }), "Value", "Text"), "-Select-", new { @class = "chosen-select form-control", @id = "ddlSearchBy", @onchange = "fiberLink.enableSearchtext();", @style = "width:300px" })
                        </div>
                        <div class="d-flex">
                            @Html.TextBoxFor(m => m.Searchtext, new { @id = "txtSearchTxt", @maxlength = "20", @class = "form-control input-mr search--padding", @style = "height:26px; width:300px", @readonly = true })
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                        <button type="submit" class="btn btn-success ml-auto" id="btnLinkData"> @Resources.Resources.SI_OSP_GBL_GBL_GBL_046</button>
                        <button type="submit" class="btn btn-default ml-10" id="btnResetSearchFilter"> @Resources.Resources.GBL_GBL_GBL_GBL_GBL_005</button>
                    </div>

                    @if (Model.lstFiberLinkDetails.Count > 0)
                    {
                        <div id="VwFiberLinkGrid">
                            <div class="tablePad--tn"><b>@Resources.Resources.SI_OSP_GBL_GBL_GBL_035:&nbsp;@grid.TotalRowCount</b></div>
                            <div class="tablePad--tn">
                                <div class="table-responsive scrollmh">
                                    @grid.GetHtml(tableStyle: "stickyTh",

                            htmlAttributes: new { id = "tblFiberLinkGrid" },
                            mode: WebGridPagerModes.All)
                                    @Html.Hidden("dir", grid.SortDirection)
                                    @Html.Hidden("col", grid.SortColumn)
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="nr-found">
                            <span>  @Resources.Resources.SF_GBL_GBL_NET_FRM_037</span>
                        </div>
                    }
                </div>
            }
        </div>

    }
    @if (userModuleList.Contains("CLK"))
    {
        @*<div id="dvProgress" class="progressIcon"> </div>*@
        <div id="CreateFiberLink" class="tab-pane fade in">

            @CreateFiberLink()
        </div>

    }
    else
    {
        <script>
            if (typeof fiberLink === 'undefined' || fiberLink === null) {
                var fiberLink = new FiberLink();
            }
            $(document).ready(function () {
                fiberLink.InitApp();
            });
        </script>
    }
    <div id="UploadFiberLink" class="tab-pane fade in">

        @UploadFiberLink()
    </div>

</div>

<script>

    $(document).ready(function () {
        $("#liAddFiberLink a").html("Create Link");
        fiberLink.InitApp();
        // fiberLink.setDateTimeCalendar_viewLink("txtDateFrom", "txtDateTo", "imgFromDate", "imgToDate", false);
        $('th a, tfoot a').on("click", function () {
            // onGridHeaderClick('tblFiberLinkGrid');
            $('#frmViewLink').attr('action', $(this).attr('href')).submit();
            return false;
        });
        $("#liAddFiberLink a").html("Create Link");
    });


</script>
