@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@model Models.Dashboard.Kpi_Master

@*<div id="dvPageMessage">
        @{
            Html.RenderPartial("_PageMessage", Model.pageMsg);
        }
    </div>*@

<div id="dvInfoVendor" class="update_panel">

    <div id="" class="title d-flex">
        <h4>Add KPI</h4>
        <a href="@Url.Action("ListKPICategory", "Home")" class="ml-auto kpiBtn">View KPI</a>
    </div>

    @using (Html.BeginForm("SaveKPIMaster", "Home", FormMethod.Post, new { autocomplete = "off", @id = "frmKpiMaster", enctype = "multipart/form-data", @class = "form-horizontal  pad_left" }))
    {
        @Html.HiddenFor(m => m.kpi_id, new { id = "hdn_Id" })
        ;
        @Html.HiddenFor(m => m.category_name)
        ;
        @*@Html.HiddenFor(m => m.kpi_source);*@
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="row">
                <div class=" col-md-4">
                    <label class=" control-label">
                        Category Name<i class="clsMandatory">*</i>:
                    </label>
                </div>
                <div class=" col-md-8">
                    <div class="d-flex">
                        @Html.DropDownListFor(model => model.category_id, new SelectList(ViewBag.lstClient, "category_id", "category_name"), new { id = "catName", @class = "form-control", @placeholder = "---Select---" })

                        @Html.ValidationMessageFor(u => u.category_name)
                        <a href="javascript:void(0)" id="popupCategory" class="addCate fw-60">+</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class=" col-md-4">
                    <label class=" control-label">
                        KPI Name<i class="clsMandatory">*</i>:
                    </label>
                </div>
                <div class=" col-md-8">
                    @Html.TextBoxFor(model => model.kpi_name, new { @class = "form-control", @maxlength = "100", @placeholder = "Enter KPI Name", required = "true" })
                    @Html.ValidationMessageFor(model => model.kpi_name)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class=" col-md-4">
                    <label class=" control-label">
                        Source<i class="clsMandatory">*</i>:
                    </label>
                </div>
                <div class=" col-md-8">
                    @Html.TextBoxFor(model => model.kpi_source, new { @class = "form-control", @maxlength = "150", @placeholder = "Enter KPI Source", required = "true" })
                    @Html.ValidationMessageFor(model => model.kpi_source)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class=" col-md-4">
                    <label class=" control-label">
                        X-Axis Column<i class="clsMandatory">*</i>:
                    </label>
                </div>
                <div class=" col-md-8">
                    @Html.TextBoxFor(model => model.x_axis_column, new { @class = "form-control", @maxlength = "500", @placeholder = "Enter X-Axis", Name = "X_axis", required = "true" })
                    @Html.ValidationMessageFor(model => model.x_axis_column)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class=" col-md-4">
                    <label class=" control-label">
                        Y-Axis Column<i class="clsMandatory">*</i>:
                    </label>
                </div>
                <div class=" col-md-8">
                    @*<input id="phone" name="phone" class="required" type="text" />*@
                    @Html.TextBoxFor(model => model.y_axis_columns, new { @class = "form-control", @maxlength = "500", @placeholder = "Enter Y-Axis", required = "true" })
                    @Html.ValidationMessageFor(model => model.y_axis_columns)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label class=" control-label">
                        Is Visible:
                    </label>
                </div>

                <div class="col-md-8">
                    @Html.CheckBoxFor(model => model.is_visible)
                </div>
            </div>
        </div>


        <div class="d-flex" id="dvBtnAction">
            <a href="@Url.Action("Index","Home")" class="btn btn-danger ml-auto mr-05 allBtn" title="Reset">Reset</a>
            <input type="button" class="btn btn-primary allBtn" name="btnvalidate" id="btnValidate" value="Validate & Save" />&nbsp;&nbsp;
            <input type="submit" class="btn btn-primary allBtn" name="btnaction" id="btnSubmit" value="Save" style="display:none;" />
        </div>

    }

</div>
<div class="modalPopup" id="popupAddCategory" style="width:33%">
    <div class="title d-flex">
        <h4>Add Category</h4>
        <a href="#" class="closeBox">X</a>
    </div>
    <div>
        @{
            Html.RenderPartial("_KpiCategory");
        }
    </div>

</div>


@section Scripts
{
    <script type="text/javascript">
	var val="";
var kpi_nameoldvalue = '';
		$(document).ready(function() {


			$('#hdn_Id').val("@Model.kpi_id")
            kpi_nameoldvalue = $('#kpi_name').val();
			$('#category_name').val($('#catName option:selected').text());
			$('#popupCategory').click(function() {
				$('.modalPopup').toggleClass('showHide');
			})
			$('.closeBox').click(function() {
				$('.modalPopup').removeClass('showHide')
			});
			$('#catName').change(function() {

				$('#category_name').val($('#catName option:selected').text());

			})

			if ('@Model.kpi_id' != 0) {
				$('#btnValidate').attr('value',"Validate & Update");
			}
		});



		$('#kpi_source,#y_axis_columns,#x_axis_column,#kpi_name').keyup(function(){
		   if($(this).val().length===0)
			  $(this).css({"border":"1px solid red"});
		   else
			  $(this).css({"border": ""});
		});


var validkpiName = true;
		    function validate_kpi_name(){
				$.ajax(
					{
					url: "/Home/validate_kpi_name",
					data:{ k_name: $('#kpi_name').val() },
                    async: false,
					success: function(data){
					 if (data.status == "OK")
						validkpiName= true;
					else {
						pageMessageFromhtml(data.message);
						validkpiName= false;
						}
					}
				});
			}

$("#btnValidate").click(function() {
    let k_name = $('#kpi_name').val();
    let source = $('#kpi_source').val();
    let x_axis = $('#x_axis_column').val();
    let y_axis = $('#y_axis_columns').val()
    let x_y_axis = $('#x_axis_column').val() + ',' + $('#y_axis_columns').val();

    let allrequired = true;
	$('#frmKpiMaster input[type="text"]').each(function(i,item){
        if($(item).val().length===0){
			$(item).css({"border":"1px solid red"});
            allrequired = false;
		  }
		  else {
			$(item).css({"border": ""});
		   }
	});
    if (allrequired) {
        if ('@Model.kpi_id' != 0 &&  kpi_nameoldvalue != $('#kpi_name').val()) {
            validate_kpi_name();
        }
        if (validkpiName) {
            $.ajax({
                type: 'POST',
                url: '/Home/Validate',
                data: { source: source, x_y_axis: x_y_axis },
                success:
                    function(data) {
                        if (data.status == "OK") {
                            $("#btnSubmit").click();

						}
                        else
                            pageMessageFromhtml(data.message);
                    }
            });
        }
    }
});

    </script>

}