@model Models.ViewAuditMasterModel
@{
    WebGrid grid = new WebGrid(rowsPerPage: Model.objFilterAttributes.pageSize, canSort: true, ajaxUpdateContainerId: "historyRecord", ajaxUpdateCallback: "onGridHeaderClick('tblAuditHistory')");
    grid.Bind(Model.lstData, autoSortAndPage: false, rowCount: Model.objFilterAttributes.totalRecord);
    if (Model.objFilterAttributes.totalRecord > 0)
    {
        grid.PageIndex = Model.objFilterAttributes.currentPage - 1;
    }
}
@helper AuditgeometryHistory()
{
    { Html.RenderPartial("~/Views/Audit/_AuditGeometryHistory.cshtml", Model); }
}

<!DOCTYPE html>
<div class="tab-content" id="dvModalBody">
    <ul class="nav nav-tabs TicketManager">


            <li class="@(Model.lstUserModule.Contains("ENT-HS-AC")?"active":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_GBL_FRM_186 @(Model.lstUserModule.Contains("ENT-HS-AC")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)"><a data-toggle="tab" href="@(Model.lstUserModule.Contains("ENT-HS-AC")?"#AuditHistory":"")" class="active show" onclick="@(Model.lstUserModule.Contains("ENT-HS-AC")?"getAuditHistory()":"")">@Resources.Resources.SI_OSP_GBL_GBL_FRM_186</a></li>


            <li class="@(Model.lstUserModule.Contains("ENT-HS-LC")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_GBL_GBL_293 @(Model.lstUserModule.Contains("ENT-HS-LC")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" id="liAddFiberLink"><a data-toggle="tab" href="@(Model.lstUserModule.Contains("ENT-HS-LC")?"#":"")" onclick="@(Model.lstUserModule.Contains("ENT-HS-LC")?"GetGeometryHistory()":"")">@Resources.Resources.SI_OSP_GBL_GBL_GBL_293</a></li>

        

    </ul>

    <div id="ViewLink" class="tab-pane fade in active show">
        @using (Ajax.BeginForm("GetHistory", "Audit", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "dvModalBody", LoadingElementId = "dvProgress", InsertionMode = InsertionMode.Replace },
             new { id = "frmAuditHistory", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
        {

            @Html.HiddenFor(m => m.systemId);
            @Html.HiddenFor(m => m.eType);

            
                <div class="@(Model.lstUserModule.Contains("ENT-HS-AC")?"space-pad":"space-pad dvdisabled")" id="dvAuditHistory">

                    <div class="d-flex mb-15" id="dvBtnAction">
                        <b>@Resources.Resources.SI_OSP_GBL_GBL_GBL_035:&nbsp;<span>@grid.TotalRowCount</span></b>
                        <div class="ml-auto">
                            @if (@grid.TotalRowCount > 0)
                            {
                                <span id="btnExport" value="Export" class="exp--btn"><i class="icon-Export mr-03"></i> @Resources.Resources.GBL_GBL_GBL_GBL_GBL_010</span>
                            }
                            else
                            {
                                <input type="button" id="btnExport" value="Export" disabled="disabled" class=" exp--btn" />
                            }
                        </div>
                    </div>

                    <div id="objViewAuditHistory">

                        @if (Model.lstData.Count > 0)
                        {
                            <div id="historyRecord">
                                <div class="table-responsive">
                                    @grid.GetHtml(tableStyle: "grid tableWFont",
                         htmlAttributes: new { id = "tblAuditHistory" },
                            mode: WebGridPagerModes.All,
                            columns: Model.webColumns)
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="nr-found">
                                <span> @Resources.Resources.SF_GBL_GBL_NET_FRM_037</span>
                            </div>
                        }
                    </div>
                </div>
            

           
        }
    </div>

    <div id="dvAuditGeometryHistory" class="tab-pane fade in">
    </div>
</div>



<script>
        $(document).ready(function () {
             
        $('th a, tfoot a').on("click", function () {
            $('#frmAuditHistory').attr('action', $(this).attr('href')).submit();
            return false;
        });
        addDefaultSortingIcons("tblAuditHistory");
        onGridHeaderClick('tblAuditHistory');
        changeColor('tblAuditHistory');

        $("#btnExport").on("click", function () {
            // SurveyAssignmentExport();
            EntityAuditReport("DownloadAuditHistory");
        });
            // this function for change color for updated records
            if ($('#hdnStructureId').val() !=  undefined)
        {
            $(".TicketManager").hide();
        }
        else
        {
            $(".TicketManager").show();
        }
    });
        function GetGeometryHistory() {
        ajaxReq('Audit/GetGeometryHistory', { 'systemId': '@Model.systemId', 'eType': '@Model.eType'}, true, function (resp) {
             
            $("#dvAuditHistory").hide();
            $("#dvAuditGeometryHistory").show();
            $("#dvAuditGeometryHistory").html(resp);


        }, false, false)

    };
        function getAuditHistory() {
            $("#dvAuditHistory").show();
            $("#dvAuditGeometryHistory").hide();


        }
</script>
