@model Models.EntityDeleteLog
@using Utility
<link href="~/Areas/Admin/Content/css/spectrum.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/js/spectrum.js"></script>
<style>
    .assign-calen {
        position: absolute;
        float: right;
        top: 3px;
        /* margin-right: 5px; */
        cursor: pointer;
        /* margin-right: 0px; */
        right: 19px;
    }

    div.calendar {
        width: 275px;
    }

    .nav {
        display: table-cell !important;
    }
</style>

<!DOCTYPE html>
<div id="dvViewEntityDeleteLog">
    <div class="update_panel fullWidth">
        <div class="title">
            <h4>
                <span class="icon16 icomoon-icon-bars"></span><span>Entity Delete Log</span>
            </h4>

        </div>
        @{
            WebGrid grid = new WebGrid(rowsPerPage: Model.objGridAttributes.pageSize, canSort: true, ajaxUpdateContainerId: "dvViewEntityDeleteLog", ajaxUpdateCallback: "onGridHeaderClick('tblEntityDeleteLog')");
            grid.Bind(Model.listEntityDeleteLog, autoSortAndPage: false, rowCount: Model.objGridAttributes.totalRecord);
            if (Model.objGridAttributes.totalRecord > 0)
            {
                grid.PageIndex = Model.objGridAttributes.currentPage - 1;
            }
        }


        @using (Html.BeginForm("ViewEntityDeleteLog", "Miscellaneous", FormMethod.Post, new { autocomplete = "off", @id = "frmViewEntityDeleteLog" }))
        {
        <div class="pad_left-bn">
            <div class="form-inline filter-sec resourceGap">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.objGridAttributes.customDate, new List<SelectListItem>{
                            new SelectListItem { Text = "Select", Value = "0"},
                            new SelectListItem { Text = "Custom", Value = "1"},
                            new SelectListItem { Text = "Today", Value = "2"},
                            new SelectListItem { Text = "Previous Day", Value = "3"},
                            new SelectListItem { Text = "Last 7 Days", Value = "4"},
                            new SelectListItem { Text = "Last 30 Day", Value = "5"},
                            new SelectListItem { Text = "Last 3 Months", Value = "6"},
                            new SelectListItem { Text = "Last 6 Months", Value = "7"},
                          new SelectListItem { Text = "Last 1 Year", Value = "8"},
                        }, new { @class = "chosen-select form-control", @onchange = "onChangeCustomDate();", @id = "customedate" })
                </div>

                <div class="form-group pose-rel">
                    @Html.TextBoxFor(m => m.objGridAttributes.fromDate, "{0:dd-MMM-yyyy}", new { @id = "txtDateFrom", @title = "Date From", @class = "input-sm form-control", @placeholder = "Date From", @readonly = true, @style = "height:26px;" })
                    <img id="imgFromDate" class="assign-calen" style="margin-right:-10px;margin-top:5px;" src="~/Content/images/calendar.png" />

                </div>
                <div class="form-group pose-rel">
                    @Html.TextBoxFor(m => m.objGridAttributes.toDate, "{0:dd-MMM-yyyy}", new { @id = "txtDateTo", @title = "Date To", @placeholder = "Date To", @class = "input-sm form-control", @readonly = true, @style = "height:26px;" })
                    <img id="imgToDate" class="assign-calen" style="margin-right:-10px;margin-top:5px;" src="~/Content/images/calendar.png" />

                </div>

                <div class="form-group">
                    @Html.DropDownListFor(m => m.objGridAttributes.searchBy, new List<SelectListItem>
             {
               new SelectListItem{ Text="Search By", Value = "" },
                new SelectListItem{ Text="Network Id", Value = "network_id" },
                new SelectListItem{ Text="Entity Type", Value = "entity_type" },
             }, new { @id = "ddlSearchBy", @tabindex = "2", @title = "Search By", @class = "chosen-select form-control" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.objGridAttributes.searchText, new { @id = "txtSearchText", @title = "Search text", @tabindex = "4", @class = "input-sm form-control", @placeholder = "Search text", @maxlength = 100, @onkeypress = "fnOnKeyPress(event)" })

                </div>

                <div class="form-group wtd_set">
                    <button class="btn btn-primary mr-05" id="btnGetSearchResult" name="btnCommandName" value="GetSearchResult" tabindex="5" onclick="return fnGetSearchResult();" type="submit">Search</button>

                    @if (@grid.TotalRowCount > 0)
                        {
                    <input type="button" id="btnViewUserExport" value="Export" class="btn btn-primary mr-05" onclick="ViewEntityDeleteLogReport()" /> }
                        else
                        {
                    <input type="button" id="btnExport" value="Export" disabled="disabled" class="btn btn-primary mr-05" />
                        }

                    <a href="@Url.Action("ViewEntityDeleteLog")" class="btn btn-default" title="Reset">Reset</a>
                </div>
            </div>
        </div>
            if (Model.listEntityDeleteLog.Count > 0)
            {
        <div id="divEntityDeleteLogDetails" class="pad_left-tn">
            <div class="recordCount mb-01"><b>Total Records:@grid.TotalRowCount</b></div>
            <div class="table-responsive tble_cls">
                @grid.GetHtml(tableStyle: "grid",
                 headerStyle: "webGridHeader",
                    alternatingRowStyle: "alt",
                    htmlAttributes: new { id = "tblEntityDeleteLog" },
                    mode: WebGridPagerModes.All,
                    columns: grid.Columns(
grid.Column("network_id", "Network ID", format: @<text>@item.network_id</text>, canSort: true),
grid.Column("entity_type", "Entity Type", format: @<text>@item.entity_type</text>, canSort: true),
grid.Column("action_by", "Action By", format: @<text>@item.action_by</text>, canSort: true),
grid.Column("action_date", "Action Date", format: @<text>@(item.action_date == null ? item.action_date : MiscHelper.FormatDateTime(item.action_date.ToString()))</text>, canSort: true)
))
                @Html.Hidden("dir", grid.SortDirection)
                @Html.Hidden("col", grid.SortColumn)
            </div>
        </div>
            }
            else
            {
        <div style="text-align: center; margin-top: 30px;">
            No Entity Delete Logs Found.
        </div>
            }
        }
    </div>
</div>
<script>
    $(document).ready(function () {
         
        addDefaultSortingIcons("tblEntityDeleteLog");
        setDateTimeCalendar("txtDateFrom", "txtDateTo", "imgFromDate", "imgToDate", false);
        if ($("#customedate option:selected").text() != "Custom") {
            $('#imgFromDate').hide();
            $('#imgToDate').hide();
        }
    });
    function ViewEntityDeleteLogReport() {
        window.location = appRoot + 'Miscellaneous/DownloadEntityDeleteLogs';
    }
</script>
