@model Models.ViewTemplateColumn
@using Utility
@using SmartInventory.Settings;
<link href="~/Areas/Admin/Content/css/spectrum.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/js/spectrum.js"></script>

<!DOCTYPE html>
<input type="hidden" id="hdnNumberFormatType" value="@ApplicationSettings.numberFormatType" />
<div id="dvViewTemplateColumn">
    <div class="update_panel fullWidth">
        <div class="title">
            <h4>
                Data Uploader Column Settings
            </h4>

        </div>
        @{
            WebGrid grid = new WebGrid(rowsPerPage: Model.pageSize, canSort: true, ajaxUpdateContainerId: "dvViewTemplateColumn", ajaxUpdateCallback: "onGridHeaderClick('tblTemplateColumn')");
            grid.Bind(Model.listTemplateColumn, autoSortAndPage: false, rowCount: Model.totalRecord);
            if (Model.totalRecord > 0)
            {
                grid.PageIndex = Model.currentPage - 1;
            }
        }
        <div class="pad_left">
            @using (Html.BeginForm("ViewTemplateColumn", "Miscellaneous", FormMethod.Post, new { autocomplete = "off", @id = "frmViewTemplateColumn" }))
            {

                <div class="form-inline filter-sec">
                    <div class="form-group wtd_set">
                        <label class="control-label col-sm-4">Search By : </label>
                        <div class="col-md-7">

                            @Html.DropDownListFor(m => m.searchBy, new List<SelectListItem>
                     {
                       new SelectListItem{ Text="--Select--", Value = "" },
                        new SelectListItem{ Text="Entity Name", Value = "layer_name" },
                        new SelectListItem{ Text="Display Column Name", Value = "template_column_name" },
                     }, new { @id = "ddlSearchBy", @tabindex = "2", @title = "Search By", @class = "chosen-select form-control" })
                        </div>

                    </div>
                    <div class="form-group wtd_set">
                        <label class="control-label col-sm-4">
                            Search Text :
                        </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.searchText, new { @id = "txtSearchText", @title = "Search text", @tabindex = "4", @class = "input-sm form-control", @placeholder = "Search text", @maxlength = 100, @onkeypress = "fnOnKeyPress(event)" })
                        </div>
                    </div>
                    <div class="form-group wtd_set" id="dvBtnAction">
                        <div class="col-md-8">
                            <button class="btn btn-primary mr-05" id="btnGetSearchResult" name="btnCommandName" value="GetSearchResult" tabindex="5" onclick="return fnGetSearchResult();" type="submit">Search</button>
                            @if (@grid.TotalRowCount > 0)
                            {
                                <input type="button" id="btnViewUserExport" value="Export" class="btn btn-primary mr-05" onclick="ViewTemplateColumnReport()" />
                            }
                            else
                            {
                                <input type="button" id="btnViwTPrExport" value="Export" disabled="disabled" class="btn btn-primary mr-05" />
                            }
                            <a href="@Url.Action("ViewTemplateColumn")" class="btn btn-default mr-05" title="Reset">Reset</a>
                            <span>
                                <input type="button" id="btnAddNew" onclick="AddNewTemplateColumn(0);" value="Add New" class="btn btn-primary" />
                            </span>
                        </div>
                    </div>
                </div>

                if (Model.listTemplateColumn.Count > 0)
                {
                    <div id="divUserDetail">
                        <div class="recordCount mb-01"><b>Total Records:<span data="spanTotalRowCount">@grid.TotalRowCount</span></b></div>
                        <div class="table-responsive tble_cls">
                            @grid.GetHtml(tableStyle: "grid",
                                htmlAttributes: new { id = "tblTemplateColumn" },
                                mode: WebGridPagerModes.All,
                                columns: grid.Columns(
                                           grid.Column("", "Action", format:@<text>
                                                    <a href="#" onclick="AddNewTemplateColumn(@item.id);" class="auto" title="Edit"> <i class="fa fa-pencil action_icon fa-fw m-r-xs"></i></a>
                                                    @if (item.is_mandatory == false)
                                                 {
                                                <a href="javascript:void(0);" onclick="DeleteTemplateColumnById(@item.id);" title="Delete"> <i class="fa fa-fw fa-trash" style="font-size: 13px; color: #f50000;"></i></a>
                                         }
                                        </text>, canSort: false),
                          grid.Column("layer_name", "Entity Name", format: @<text>@item.layer_name</text>, canSort: true),
grid.Column("template_column_name", "Display Column Name", format: @<text>@item.template_column_name</text>, canSort: true),
grid.Column("display_column_data_type", "Display Column Data Type", format: @<text>@item.display_column_data_type</text>, canSort: true),
grid.Column("db_column_name", "Db Column Name", format: @<text>@item.db_column_name</text>, canSort: true),
grid.Column("db_column_data_type", "Db Column Data Type", format: @<text>@item.db_column_data_type</text>, canSort: true),
grid.Column("example_value", "Example Value", format: @<text>@item.example_value</text>, canSort: true),
grid.Column("max_length", "Max Length", format: @<text>@item.max_length</text>, canSort: true),
grid.Column("is_mandatory", "Is Mandatory", format: @<text>@(item.is_mandatory == true ? "Yes" : "NO")</text>, canSort: true),
grid.Column("is_nullable", "Is Null Allowed", format: @<text>@(item.is_nullable == true ? "Yes" : "No")</text>, canSort: true),
grid.Column("is_dropdown", "Is Dropdown Base", format: @<text>@(item.is_dropdown == true ? "Yes" : "No")</text>, canSort: true),
grid.Column("description", "Description", format: @<text>@item.description</text>, canSort: true),
grid.Column("is_kml_attribute", "is Kml Attribute", format: @<text>@(item.is_kml_attribute == true ? "Yes" : "No")</text>, canSort: true),
grid.Column("is_excel_attribute", "Is Excel Attribute", format: @<text>@(item.is_excel_attribute == true ? "Yes" : "No")</text>, canSort: true),
grid.Column("created_by_text", "Created By", format: @<text>@item.created_by_text</text>, canSort: true),
grid.Column("created_on", "Created On", format: @<text>@(item.created_on == null ? item.created_on : MiscHelper.FormatDateTime(item.created_on.ToString()))</text>, canSort: true),
grid.Column("modified_by_text", "Modified By", format: @<text>@item.modified_by_text</text>, canSort: true),
grid.Column("modified_on", "Modified On", format: @<text> @(item.modified_on == null ? item.modified_on : MiscHelper.FormatDateTime(item.modified_on.ToString()))</text>, canSort: true)
))
                            @Html.Hidden("dir", grid.SortDirection)
                            @Html.Hidden("col", grid.SortColumn)
                        </div>
                    </div>
                }
                else
                {
                    <div style="text-align: center; margin-top: 30px;">
                        No Termination Point Found.
                    </div>
                }
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        updateNumberstoFormatedNumber();
        addDefaultSortingIcons("tblTemplateColumn");
    });
    function ViewTemplateColumnReport() {
        window.location = appRoot + 'Miscellaneous/DownloadViewTemplateColumn';
    }
    function updateNumberstoFormatedNumber() {
        $('span[data]').each(function (index) {
            // Get the value of the data-target attribute for each element
            var targetValue = $(this).data('data');

            // Do whatever you want with the element or its data
            $(this).text(getFormattedNumber($(this).text().trim()));
        });
    }
</script>
