@model Models.UserActivityLog
@using Utility
@using SmartInventory.Settings;
<link href="~/Areas/Admin/Content/css/spectrum.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/js/spectrum.js"></script>
<style>
    .assign-calen {
        position: absolute;
        float: right;
        top: 3px;
        /* margin-right: 5px; */
        cursor: pointer;
        /* margin-right: 0px; */
        right: 19px;
    }

    div.calendar {
        width: 275px;
    }

    .nav {
        display: table-cell !important;
    }
</style>
<!DOCTYPE html>
<input type="hidden" id="hdnNumberFormatType" value="@ApplicationSettings.numberFormatType" />
<div id="dvViewUserActivityLog">
    <div class="update_panel fullWidth">
        <div class="title">
            <h4>
                <span class="icon16 icomoon-icon-bars"></span><span>User Activity Log</span>
            </h4>

        </div>
        @{
            WebGrid grid = new WebGrid(rowsPerPage: Model.objGridAttributes.pageSize, canSort: true, ajaxUpdateContainerId: "dvViewUserActivityLog", ajaxUpdateCallback: "onGridHeaderClick('tblUserActivityLog')");
            grid.Bind(Model.listUserActivityLog, autoSortAndPage: false, rowCount: Model.objGridAttributes.totalRecord);
            if (Model.objGridAttributes.totalRecord > 0)
            {
                grid.PageIndex = Model.objGridAttributes.currentPage - 1;
            }
        }


        @using (Html.BeginForm("ViewUserActivityLog", "Miscellaneous", FormMethod.Post, new { autocomplete = "off", @id = "frmViewUserActivityLog" }))
        {
            <div class="pad_left-bn">
                <div class="form-inline filter-sec resourceGap">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.objGridAttributes.customDate, new List<SelectListItem>{
                                new SelectListItem { Text = "Select", Value = "0"},
                                new SelectListItem { Text = "Custom", Value = "1"},
                                new SelectListItem { Text = "Today", Value = "2"},
                                new SelectListItem { Text = "Previous Day", Value = "3"},
                                new SelectListItem { Text = "Last 7 Days", Value = "4"},
                                new SelectListItem { Text = "Last 30 Day", Value = "5"},
                                new SelectListItem { Text = "Last 3 Months", Value = "6"},
                                new SelectListItem { Text = "Last 6 Months", Value = "7"},
                              new SelectListItem { Text = "Last 1 Year", Value = "8"},
                            }, new { @class = "chosen-select form-control", @onchange = "onChangeCustomDate();", @id = "customedate" })
                    </div>

                    <div class="form-group pose-rel">
                        @Html.TextBoxFor(m => m.objGridAttributes.fromDate, "{0:dd-MMM-yyyy}", new { @id = "txtDateFrom", @title = "Date From", @class = "input-sm form-control", @placeholder = "Date From", @readonly = true, @style = "height:26px;" })
                        <img id="imgFromDate" class="assign-calen" style="margin-right:-10px;margin-top:5px;" src="~/Content/images/calendar.png" />

                    </div>
                    <div class="form-group pose-rel">
                        @Html.TextBoxFor(m => m.objGridAttributes.toDate, "{0:dd-MMM-yyyy}", new { @id = "txtDateTo", @title = "Date To", @placeholder = "Date To", @class = "input-sm form-control", @readonly = true, @style = "height:26px;" })
                        <img id="imgToDate" class="assign-calen" style="margin-right:-10px;margin-top:5px;" src="~/Content/images/calendar.png" />

                    </div>

                    <div class="form-group">
                        @Html.DropDownListFor(m => m.objGridAttributes.searchBy, new List<SelectListItem>
                 {
                   new SelectListItem{ Text="Search By", Value = "" },
                    new SelectListItem{ Text="User Name", Value = "user_name" },
                    new SelectListItem{ Text="Controller Name", Value = "controller_name" },
                    new SelectListItem{ Text="Action Name", Value = "action_name" },
                     new SelectListItem{ Text="Client IP", Value = "client_ip" },
                       new SelectListItem{ Text="Server IP", Value = "server_ip" },
                        new SelectListItem{ Text="Source", Value = "source" },

                 }, new { @id = "ddlSearchBy", @tabindex = "2", @title = "Search By", @class = "chosen-select form-control" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.objGridAttributes.searchText, new { @id = "txtSearchText", @title = "Search text", @tabindex = "4", @class = "input-sm form-control", @placeholder = "Search text", @maxlength = 100, @onkeypress = "fnOnKeyPress(event)" })

                    </div>

                    <div class="form-group wtd_set">
                        <button class="btn btn-primary mr-05" id="btnGetSearchResult" name="btnCommandName" value="GetSearchResult" tabindex="5" onclick="return fnGetSearchResult();" type="submit">Search</button>

                        @if (@grid.TotalRowCount > 0)
                        {
                            <input type="button" id="btnViewUserExport" value="Export" class="btn btn-primary mr-05" onclick="ViewUserActivityLogReport()" /> }
                        else
                        {
                            <input type="button" id="btnExport" value="Export" disabled="disabled" class="btn btn-primary mr-05" />
                        }

                        <a href="@Url.Action("ViewUserActivityLog")" class="btn btn-default" title="Reset">Reset</a>
                    </div>
                </div>
            </div>
            if (Model.listUserActivityLog.Count > 0)
            {
                <div id="divUserDetail" class="pad_left-tn">
                    <div class="recordCount mb-01"><b>Total Records:<span data="spanTotalRowCount">@grid.TotalRowCount</span></b></div>
                    <div class="table-responsive tble_cls">
                        @grid.GetHtml(tableStyle: "grid",
                         headerStyle: "webGridHeader",
                            alternatingRowStyle: "alt",
                            htmlAttributes: new { id = "tblUserActivityLog" },
                            mode: WebGridPagerModes.All,
                            columns: grid.Columns(

              grid.Column("user_name", "User Name", format: @<text>@item.user_name</text>, canSort: true),
grid.Column("controller_name", "Controller Name", format: @<text>@item.controller_name</text>, canSort: true),
grid.Column("action_name", "Action Name", format: @<text>@item.action_name</text>, canSort: true),
grid.Column("client_ip", "Client IP", format: @<text>@item.client_ip</text>, canSort: true),
grid.Column("server_ip", "Server IP", format: @<text>@item.server_ip</text>, canSort: true),
grid.Column("source", "Source", format: @<text>@item.source</text>, canSort: true),
grid.Column("action_on", "Action On", format: @<text>@(item.action_on == null ? item.action_on : MiscHelper.FormatDateTime(item.action_on.ToString()))</text>, canSort: true),
grid.Column("description", "Description", format: @<text>@item.description</text>, canSort: true)
))
                        @Html.Hidden("dir", grid.SortDirection)
                        @Html.Hidden("col", grid.SortColumn)
                    </div>
                </div>
            }
            else
            {
                <div style="text-align: center; margin-top: 30px;">
                    No User Activity Logs Found.
                </div>
            }
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        addDefaultSortingIcons("tblUserActivityLog");
        setDateTimeCalendar("txtDateFrom", "txtDateTo", "imgFromDate", "imgToDate", false);
        if ($("#customedate option:selected").text() != "Custom") {
            $('#imgFromDate').hide();
            $('#imgToDate').hide();
        }
        updateNumberstoFormatedNumber();
    });
    function ViewUserActivityLogReport() {
        window.location = appRoot + 'Miscellaneous/DownloadUserActivityLogs';
    }
    function updateNumberstoFormatedNumber() {
        $('span[data]').each(function (index) {
            // Get the value of the data-target attribute for each element
            var targetValue = $(this).data('data');

            // Do whatever you want with the element or its data
            console.log('Span with data-target = ' + targetValue + ': ' + $(this).text());
            $(this).text(getFormattedNumber($(this).text().trim()));
        });
    }

</script>
