@model List<Models.DocumentResult>
@{
    var EntyLst = ((List<Models.DocumentResult>)@Model).Where(m => m.categorytype.ToLower() == "entity").ToList();
    var SpecifnLst = ((List<Models.DocumentResult>)@Model).Where(m => m.categorytype.ToLower() == "specification").ToList();
}
@if (Model != null && Model.Count > 0)
{
    string sysHref = "/Main/DownlTextFormatFile?system_Id=" + @Model[0].EntitySystemId + "&entity_type=" + @Model[0].EntityType + "&DocType=RefLink";
    <div class="space-pad">
        <div class="UploadAction">
            <div class="d-flex jc-sb" id="divDocumentUpload">
                @*<input type="checkbox" class="checkbox-custom doc_parentcheck" id="checkAlldoc"><b>
                        <label for="checkAlldoc" class="checkbox-custom-label" style="font-weight: 500;"> Select All</label>
                    </b>*@
                <label class="icon-Upload cptr">
                    <a href="javascript:void(0)" id="uploadRefLinkupload" onclick="isp.uploadReferenceLink();"><span>@Resources.Resources.GBL_GBL_GBL_GBL_GBL_008</span></a>
                </label>
                <a href="@sysHref"> @Resources.Resources.SI_GBL_GBL_JQ_FRM_038 </a>
                <span>Total Count: @Model.Count()</span>
            </div>
            @*<div class="col-sm-1 icon-Download cptr" id="divDownloadDocuments" title="@Resources.Resources.SI_ISP_GBL_GBL_GBL_038"></div>
                <div class="col-sm-1 icon-Delete cptr" style="color:red;" id="divDeleteDocuments" title="@Resources.Resources.SI_GBL_GBL_GBL_GBL_002"></div>*@

        </div>
        <div class="ImagesContainer" id="ulDocumentUpload">
            @if (EntyLst.Count > 0)
            {
                <div class="div-upload-seprator">Entity Reference Link</div>
            }
            @foreach (var item in EntyLst)
            {
                <div class="docs-main-div">
                    @*<div class="img-div" style="width: 10%;">
                            <div class="UploadedImageBox" title="@item.Id">
                                <div class="ImageSelectDiv">
                                    <input id="chk_doc_@item.Id" name="chk_doc_@item.Id" data-system-id="@item.Id" data-image-location="@item.FileLocation" data-image-name="@item.FileName" class="checkbox-custom doc_childcheck" type="checkbox" style="width: 0px;">
                                    <b style="height: 0px; float: left;margin-left: 2px;margin-top: 11px;">
                                        <label for="chk_doc_@item.Id" class="checkbox-custom-label"></label>
                                    </b>
                                </div>
                            </div>
                        </div>*@
                    <div class="doc-lists">
                        <div class="contentlbl">
                            <a href="javascript:void(0);" onclick="window.open('@item.FileLocation','_blank');">@item.OrgFileName</a>
                        </div>
                        <div class="contentlbl">Uploaded By:  @item.UploadedBy</div>
                        <div class="contentlbl">Uploaded On:  @item.created_on</div>
                    </div>
                    <div class="d-fx">
                        <div class="icons mr-01" id="divDownloadReflink" title="@Resources.Resources.SI_ISP_GBL_GBL_GBL_038">
                            <a href="javascript:void(0)" onclick="DownloadTxtDocs('@item.Id','@item.EntityType','@item.categorytype');">
                                <i class="icon-Download"></i>
                            </a>
                        </div>
                        <div class="icons" id="divDeleteImg" title="@Resources.Resources.SI_GBL_GBL_GBL_GBL_002">
                            <a href="javascript:void(0)" class="deleteRefLnks" onclick="deleteImgDocs('@item.Id', isp.getRefLinksFiles);">
                                <i class="icon-Delete"></i>
                            </a>
                        </div>
                    </div>

                </div>
            }
            @if (SpecifnLst.Count > 0)
            {
                <div class="div-upload-seprator">Specification Reference Link</div>
            }
            @foreach (var item in SpecifnLst)
            {
                <div class="docs-main-div">
                    @*<div class="img-div" style="width: 10%;">
                            <div class="UploadedImageBox" title="@item.Id">
                                <div class="ImageSelectDiv">
                                    <input id="chk_doc_@item.Id" name="chk_doc_@item.Id" data-system-id="@item.Id" data-image-location="@item.FileLocation" data-image-name="@item.FileName" class="checkbox-custom doc_childcheck" type="checkbox" style="width: 0px;">
                                    <b style="height: 0px; float: left;margin-left: 2px;margin-top: 11px;">
                                        <label for="chk_doc_@item.Id" class="checkbox-custom-label"></label>
                                    </b>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-sm-12 doc-lists">
                        <div class="contentlbl">
                            <a href="javascript:void(0);" onclick="window.open('@item.FileLocation','_blank');">@item.OrgFileName</a>
                        </div>
                    </div>
                    <div class="col-sm-12 doc-lists">
                        <div class="contentlbl">Uploaded By: <span class="fw-bold"> @item.UploadedBy</span></div>
                    </div>
                    <div class="col-sm-12 doc-lists">
                        <div class="contentlbl">Uploaded On: <span class="fw-bold"> @item.created_on</span></div>
                    </div>
                    <div>
                        <div class="col-sm-1 pull-right icons" id="divDownloadReflink" title="@Resources.Resources.SI_ISP_GBL_GBL_GBL_038">
                            <a href="javascript:void(0)" onclick="DownloadTxtDocs('@item.Id','@item.EntityType','@item.categorytype');">
                                <i class="icon-Download" style=""></i>
                            </a>
                        </div>
                        @*<div class="col-sm-1 pull-right icons" id="divDeleteImg" title="@Resources.Resources.SI_GBL_GBL_GBL_GBL_002">
                                <a href="javascript:void(0)" onclick="isp.deleteImgDocsByID('.ImagesContainer', '.img_doc_childcheck', 'Main/DeleteEntityImages', '@item.Id', isp.getRefLinksFiles);">
                                    <i class="icon-Delete" style="color:red;"></i>
                                </a>
                            </div>*@
                    </div>
                </div>
            }
        </div>

    </div>
}
else
{
    <div class="UploadBody">
        <div class="col-sm-12 UploadDivlabel Marginbottom">
            <img src="~/Content/images/DocumntEmptyState.svg" class="Marginbottom" />
        </div>
        <div class="col-sm-12 UploadDivlabel" id="divDocumentUpload">
            <a href="javascript:void(0)" onclick="isp.uploadReferenceLink();" id="uploadRefLinkupload" class="cptr btn btn-warning">
                <span class="icon-Upload"></span>
                <span>@Resources.Resources.GBL_GBL_GBL_GBL_GBL_008</span>
            </a>
            @*onclick="isp.uploadReferenceLink();"*@
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('.UploadAction [title!=""]').tooltip({ title: '', html: true, placement: "top" });
        $('#divDocument [title!=""]').tooltip({ title: '', html: true, placement: "top" });

        $(".doc_parentcheck").on("click", function () {
            CheckUnCheckAll('doc_parentcheck', false, 'doc_childcheck', false);
        })
        $(".doc_childcheck").on("click", function () {
            CheckUnCheckAllOnSingle('doc_parentcheck', false, 'doc_childcheck', false);
        });
    });

    function DownloadTxtDocs(systemid, EntityType, category) {
        isp.downloadDocsFullParams('Main/DownlTextFormatFile', 'system_Id=' + systemid + '&entity_type=' + EntityType + '&DocType=RefLink&category=' + category+'')
    }
    function LoadRefLinkUpload() {
        popup.LoadModalDialog("PARENT", "ISP/_UploadRefLinks", null, 'Upload Reference Link', "modal-sm");
        popup.LoadModalDialog('Parent', 'Library/AddCDB', { networkIdType: 'M', no_of_ports: resp.no_of_ports, vendor_id: resp.vendor_id, geom: resp.geom, isConvert: true, sc_system_id: resp.system_id }, 'CDB', 'modal-lg');
       // var htmls = $("#UploadIspRefLink").html();
        @*var htmls = "";
        htmls+= '<div id="UploadIspRefLink"><div style="height:120px; width:100%; padding:10px;"><div class="form-group">';
        htmls += '<label class="control-label col-sm-4" for="DocrefLinkText" style=" padding-right: 0px; margin-bottom:5px"> Display Name:<i class="clsMandatory">*</i></label>';
        htmls +=  '<div class="col-sm-8" style="height: 30px; margin-bottom:5px"><input type="text" id="DocrefLinkText" maxlength="190" style=" width: 100%;"></div>';
        htmls +=  '<label class="control-label col-sm-4" for="DocrefLink" style=" padding-right: 0px; margin-bottom:5px">Reference Link:<i class="clsMandatory">*</i></label>';
        htmls +=  '<div class="col-sm-8" style="height:30px; margin-bottom:5px"><input type="text" id="DocrefLink" maxlength="498" style=" width: 100%;"></div></div>';
        htmls += '<div class="form-group" id="dvBtnActionRefLink">';
        htmls += '<div class="col-sm-10 col-sm-offset-2" style="float: right; text-align: right; padding-right: 25px;">';
        htmls += '<button type="submit" class="btn btn-primary" onclick="isp.uploadRefLink();" id="btnSaveRefLink" style="border: solid 1px #428600;border-radius: 5px;margin-right: 6px;">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_004</button>';
        htmls +='<a href="javascript:void(0);" class="btn btn-warning" data-dismiss="modal" style="border-color:red;" id="btnCancel">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_006</a>';
        htmls += '</div></div></div></div>';
        popup.LoadModalHtmlDialog('PARENT', htmls, "Upload Reference Link", "modal-sm");*@
    }

    function deleteImgDocs(systemid, RefreshFn) {
         
        isp.deleteImgDocsByID('.ImagesContainer', '.img_doc_childcheck', 'Main/DeleteEntityImages', systemid, RefreshFn, '', 'Reference Link');

    }
    //$("#myModal").on("show.bs.modal", function (e) {

    //    $(this).find(".modal-body").html(link);
    //});
</script>
