
<table class="DoorContext">
    <tbody>
        <tr>
            <td></td>
            <td class='doorPosition' data-position="NR" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_048"></td>
            <td></td>
            <td class='doorPosition' data-position="NM" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_049"></td>
            <td></td>
            <td class='doorPosition' data-position="NL" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_050"></td>
            <td></td>
        </tr>

        <tr>
            <td class='doorPosition' data-position="WL" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_051"></td>
            <td colspan="5" rowspan="5" align='center'>
                <div>
<img src="~/Content/css/images/door_direction.PNG" height='150' width='150' />
                </div>
            </td>

            <td class='doorPosition' data-position="ER" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_052"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td class='doorPosition' data-position="WM" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_053"></td>
            <td class='doorPosition' data-position="EM" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_054"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td class='doorPosition' data-position="WR" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_055"></td>
            <td class='doorPosition' data-position="EL" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_056"></td>
        </tr>

        <tr>
            <td></td>
            <td class='doorPosition' data-position="SL" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_057"></td>
            <td></td>
            <td class='doorPosition' data-position="SM" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_058"></td>
            <td></td>
            <td class='doorPosition' data-position="SR" title="@Resources.Resources.SI_ISP_GBL_NET_FRM_059"></td>
            <td></td>
        </tr>
    </tbody>
</table>