@model Models.CableMaster
@using Models;
@using SmartInventory.Settings;
@helper CableTemplateMaster()
{
    { Html.RenderPartial("~/Views/ItemTemplate/_CableTemplateMaster.cshtml", (CableTemplateMaster)Model); }
}

@helper ProjectSpecifications()
{
    { Html.RenderPartial("~/Views/Library/_ProjectSpecification.cshtml", (IProjectSpecification)Model); }
}
@helper OwnershipInfo()
{
    { Html.RenderPartial("~/Views/Library/_OwnershipInfo.cshtml", (IOwnershipInfo)Model); }
}

@helper AcquireFrom()
{
    { Html.RenderPartial("~/Views/Library/_AcquireFrom.cshtml", (IAcquireFrom)Model); }
}


@helper pageMessage()
{
    { Html.RenderPartial("_PageMessage", Model.objPM); }
}
<!--Reigon Additional Attribute to show the partial view-->
@helper AdditionalAttributes()
{
    { Html.RenderPartial("~/Views/Shared/_AdditionalAttributesForm.cshtml", Model.objDynamicControls); }
}
<!--End Reigon Additional Attribute-->
@helper Reference()
{
    { Html.RenderPartial("~/Views/Library/_Reference.cshtml", (IReference)Model); }
}
@helper GeographicDetails()
{
    { Html.RenderPartial("~/Views/Library/_GeographicDetails.cshtml", (IGeographicDetails)Model); }
}
@helper AdditionalFields()
{
    { Html.RenderPartial("~/Views/Library/_AdditionalFields.cshtml", (IAdditionalFields)Model); }
}
@helper CDBAttribute()
{
    { Html.RenderPartial("~/Views/Library/_CDBAttributes.cshtml", (CableMaster)Model); }
}
@{
    var startEndReading = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.start_end_reading.ToString() && m.form_feature_type.ToLower() == formFeatureType.feature.ToString() && m.is_active == true).FirstOrDefault() : null;
    var subCategory = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.sub_category.ToString() && m.form_feature_type.ToLower() == formFeatureType.field.ToString() && m.is_active == true).FirstOrDefault() : null;
    var execustionMethod = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.execution_method.ToString() && m.form_feature_type.ToLower() == formFeatureType.field.ToString() && m.is_active == true).FirstOrDefault() : null;
    var layerDetail = ApplicationSettings.listLayerDetails.Count > 0 ? ApplicationSettings.listLayerDetails.Where(x => x.layer_name.ToUpper() == EntityType.Cable.ToString().ToUpper()).FirstOrDefault() : null;
    var editPermission = Utility.MiscHelper.GetLayerEditPermission(Model.system_id, (List<NetworkLayer>)Session["NerworkLayerDetails"], Model.network_status, EntityType.Cable.ToString());
    var layer_Detail = ApplicationSettings.listLayerDetails.Count > 0 ? ApplicationSettings.listLayerDetails.Where(x => x.layer_name.ToUpper() == EntityType.POD.ToString().ToUpper()).FirstOrDefault() : null;
    var innerOuterDimension = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.inner_outer_dimension.ToString() && m.form_feature_type.ToLower() == formFeatureType.field.ToString() && m.is_active == true).FirstOrDefault() : null;
    var route_id = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.route_id.ToString() && m.form_feature_type.ToLower() == formFeatureType.field.ToString() && m.is_active == true).FirstOrDefault() : null;
    var route_name = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.route_name.ToString() && m.form_feature_type.ToLower() == formFeatureType.field.ToString() && m.is_active == true).FirstOrDefault() : null;
    var gis_design_id = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.gis_design_id.ToString() && m.form_feature_type.ToLower() == formFeatureType.field.ToString() && m.is_active == true).FirstOrDefault() : null;
    var a_location_code = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.a_location_code.ToString() && m.form_feature_type.ToLower() == formFeatureType.field.ToString() && m.is_active == true).FirstOrDefault() : null;
    var b_location_code = Model.formInputSettings.Count > 0 ? Model.formInputSettings.Where(m => m.form_feature_name.ToLower() == formFeatureName.b_location_code.ToString() && m.form_feature_type.ToLower() == formFeatureType.field.ToString() && m.is_active == true).FirstOrDefault() : null;
    Model.cable_name = (string.IsNullOrEmpty(Model.cable_name) ? Model.a_location + ":" + Model.b_location : Model.cable_name);
}
<!DOCTYPE html>
<div>
    @using (Ajax.BeginForm("SaveCable", "Library", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = Model.childModel == "" ? "dvModalBody" : "dvChildModalBody",
        LoadingElementId = "dvProgress",
        OnSuccess = "SaveLMCInfo",
        OnBegin = "return ValidateNetworkId(" + Model.system_id + ",'" + Model.network_id + "','" + Model.networkIdType + "','" + EntityType.Cable.ToString() + "');"
    },

    new { id = "frmAddCable", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.system_id)
        @Html.HiddenFor(m => m.region_id)
        @Html.HiddenFor(m => m.province_id)
        @*@Html.HiddenFor(m => m.geom)*@
        @Html.HiddenFor(m => m.a_entity_type)
        @Html.HiddenFor(m => m.a_system_id)
        @Html.HiddenFor(m => m.b_entity_type)
        @Html.HiddenFor(m => m.b_system_id)
        @Html.HiddenFor(m => m.networkIdType)
        @Html.HiddenFor(m => m.network_id)
        @Html.HiddenFor(m => m.pSystemId)
        @Html.HiddenFor(m => m.pEntityType)
        @Html.HiddenFor(m => m.pNetworkId)
        @Html.HiddenFor(m => m.parent_system_id)
        @Html.HiddenFor(m => m.parent_network_id)
        @Html.HiddenFor(m => m.parent_entity_type)
        @Html.HiddenFor(m => m.childModel)
        @Html.HiddenFor(m => m.modified_on, new { Value = Model.modified_on != null ? ((DateTime)Model.modified_on).ToString("dd-MMM-yyyy HH:mm:ss.fffff") : "" })
        @Html.HiddenFor(m => m.calculated_length_remark, new { @id = "hdncblComment" })
        @Html.HiddenFor(m => m.audit_item_master_id)
        @Html.HiddenFor(m => m.cable_calculated_length, new { @id = "hdncblCalLen" })
        // @Html.HiddenFor(m => m.cable_name, new { @id = "hdnProvinceAbbr" })



        <input type="hidden" value="@Model.geom" name="geom" id="geom" />
        <input name="actionTab" type="hidden" value="CableInfoTab" id="hdnCableTab" />
        //Add the other_info as hidden field for additional attributes
        @Html.HiddenFor(m => m.other_info, new { @id = "hdnOtherInfo" })
        <!-- Message Pop-up -->
        @pageMessage()
        <div class="libTabs">
            <div class="scrollmenu">
                <div><span class="spanSide go-left" id="spnRightMenu" style="display:none;"><i class="fa fa-angle-left" aria-hidden="true"></i></span></div>
                <div class="scrollerhide overflow-hidden">
                    <ul class="nav nav-tabs tabs-left" id="ulCableTabs">
                        <li class="active"><a href="@(Model.lstUserModule.Contains("ENT-DTL-GI")?"#GISInfo":"")" class="@(Model.lstUserModule.Contains("ENT-DTL-GI")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_GBL_GBL_010 @(Model.lstUserModule.Contains("ENT-DTL-GI")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-GI") ? "" : "block;")" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_GBL_GBL_010</a></li>
                        @if (ApplicationSettings.isCDBAttributeEnabled == 1)
                        {
                            <li>
                                <a title="CDB Attributes" style="display:block;" href="#CDBAttributes" data-toggle="tab">CDB Attributes</a>
                            </li>
                        }
                        <li><a href="@(Model.lstUserModule.Contains("ENT-DTL-ISP")?"#ItemSpecf":"")" class="@(Model.lstUserModule.Contains("ENT-DTL-ISP")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_NET_FRM_005 @(Model.lstUserModule.Contains("ENT-DTL-ISP")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-ISP") ? "" : "block;")" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_NET_FRM_005</a></li>
                        @if (layerDetail != null && layerDetail.is_pod_association_allowed)
                        {
                            <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-COAS")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_GBL_GBL_159 @(Model.lstUserModule.Contains("ENT-DTL-COAS")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-COAS") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-COAS")?"#PODAssoctn":"")" id="Pod_Association" onclick="si.GetPODAssociationDetail('@Model.geom','@Model.system_id','@EntityType.Cable.ToString()', '@Model.primary_pod_system_id', '@Model.secondary_pod_system_id');" data-toggle="tab">@layer_Detail.layer_title <label>@Resources.Resources.SI_OSP_GBL_GBL_GBL_159</label></a></li>
                        }
                        @if (Model.system_id > 0)
                        {
                            <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-TCC")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_CAB_NET_FRM_002 @(Model.lstUserModule.Contains("ENT-DTL-TCC")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-TCC") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-TCC")?"#TubeColor":"")" onclick="si.GetCableTubeCoretInfo('@Model.system_id');" data-toggle="tab">@Resources.Resources.SI_OSP_CAB_NET_FRM_002</a></li>
                            <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-FDTL")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_CAB_NET_FRM_003 @(Model.lstUserModule.Contains("ENT-DTL-FDTL")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-FDTL") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-FDTL")?"#FiberDetail":"")" onclick="si.GetCableFiberDetail('@Model.system_id');" data-toggle="tab">@Resources.Resources.SI_OSP_CAB_NET_FRM_003</a></li>
                            <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-LDTL")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_CAB_NET_FRM_004 @(Model.lstUserModule.Contains("ENT-DTL-LDTL")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-LDTL") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-LDTL")?"#LoopDetails":"")" onclick="getLoopDetailsForCable('@Model.system_id');" data-toggle="tab">@Resources.Resources.SI_OSP_CAB_NET_FRM_004</a></li>
                            if (layerDetail != null && layerDetail.is_reference_allowed)
                            {
                                <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-GRF")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_NET_FRM_006 @(Model.lstUserModule.Contains("ENT-DTL-GRF")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-GRF") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-GRF")?"#dvRefrence":"")" onclick="si.getEntityReference('@Model.system_id','@EntityType.Cable.ToString()','@editPermission.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_NET_FRM_006</a></li>
                            }
                            if (Model.system_id > 0 && layerDetail != null && layerDetail.is_barcode_enabled)
                            {
                                <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-BRC")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_HTB_NET_FRM_001 @(Model.lstUserModule.Contains("ENT-DTL-BRC")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-BRC") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-BRC")?"#BarCodeInfo":"")" onclick="si.GetBarCode('@Model.system_id','@EntityType.Cable.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_HTB_NET_FRM_001</a></li>
                            }
                            if (Model.system_id > 0 && layerDetail != null && layerDetail.is_at_enabled)
                            {
                                <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-ACT")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_BUL_NET_FRM_032 @(Model.lstUserModule.Contains("ENT-DTL-ACT")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-ACT") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-ACT")?"#dvAT":"")" onclick="si.GetATAcceptance('@Model.system_id','@EntityType.Cable.ToString()','@editPermission.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_BUL_NET_FRM_032</a></li>
                            }
                            if (Model.system_id > 0 && layerDetail != null && layerDetail.is_maintainence_charges_enabled)
                            {
                                <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-MC")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_CAB_NET_FRM_005 @(Model.lstUserModule.Contains("ENT-DTL-MC")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-MC") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-MC")?"#dvMaintainenceCharges":"")" onclick="si.GetMaintainenceCharges('@Model.system_id','@EntityType.Trench.ToString()','@editPermission.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_CAB_NET_FRM_005</a></li>
                            }
                            if (Model.system_id > 0 && layerDetail != null && layerDetail.is_lmc_enabled)
                            {
                                <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-LMCI")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_CAB_NET_FRM_006 @(Model.lstUserModule.Contains("ENT-DTL-LMCI")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-LMCI") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-LMCI")?"#dvLMCInfo":"")" "#" onclick="si.GetLMCInformation('@Model.system_id','@EntityType.Cable.ToString()','@editPermission.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_CAB_NET_FRM_006</a></li>
                            }
                            <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-ENS")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_GBL_GBL_152 @(Model.lstUserModule.Contains("ENT-DTL-ENS")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-ENS") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-ENS")?"#NwEntityHistory":"")" id="Nw_EntityHistory" onclick="si.GetNetworkEntityHistory('@Model.system_id','@EntityType.Cable.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_GBL_GBL_152</a></li>
                            if (Model.system_id > 0 && layerDetail != null && layerDetail.is_reference_allowed == true)
                            {
                                <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-ENR")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_NET_FRM_537 @(Model.lstUserModule.Contains("ENT-DTL-ENR")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-ENR") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-ENR")?"#Reference":"")" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_NET_FRM_537</a></li>
                            }
                        }
                        <!--Reigon Additional Attribute to show the partial view-->
                        <li>
                            <a class="@(Model.lstUserModule.Contains("ENT-DTL-ADA")?"":"roledisabled")"
                               title="@Resources.Resources.SI_OSP_GBL_GBL_FRM_222 @(Model.lstUserModule.Contains("ENT-DTL-ADA")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-ADA") ? "" : "block;")"
                               href="@(Model.lstUserModule.Contains("ENT-DTL-ADA")?"#AdditionalAttributes":"")" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_GBL_FRM_222</a>
                        </li>
                        <!--End Reigon Additional Attribute-->
                    </ul>
                </div>
                <div id="divRightMenu" style="display:none;">
                    <span class="spanSide go-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span class="spanSide" id="dropdown" style="border-left: 1px solid #b9b7b7;     margin-left: -4px;"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    <div class="arrowDropUp"></div>
                    <div class="dropMenu">
                        <div class="alltabs">@Resources.Resources.SI_OSP_CAB_NET_FRM_014</div>
                        <ul>
                            <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-GI")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_GBL_GBL_010 @(Model.lstUserModule.Contains("ENT-DTL-GI")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-GI") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-GI")?"#GISInfo":"")" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_GBL_GBL_010</a></li>
                            @if (ApplicationSettings.isCDBAttributeEnabled == 1)
                            {
                                <li>
                                    <a title="CDB Attributes" style="display:block;" href="#CDBAttributes" data-toggle="tab">CDB Attributes</a>
                                </li>
                            }
                            <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-ISP")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_NET_FRM_005 @(Model.lstUserModule.Contains("ENT-DTL-ISP")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-ISP") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-ISP")?"#ItemSpecf":"")" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_NET_FRM_005</a></li>
                            @if (layerDetail != null && layerDetail.is_pod_association_allowed)
                            {
                                <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-COAS")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_GBL_GBL_159 @(Model.lstUserModule.Contains("ENT-DTL-COAS")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-COAS") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-COAS")?"#PODAssoctn":"")" id="Pod_Association" onclick="si.GetPODAssociationDetail('@Model.geom', '@Model.system_id','@EntityType.Cable.ToString()', '@Model.primary_pod_system_id', '@Model.secondary_pod_system_id');" data-toggle="tab">@layer_Detail.layer_title <label>@Resources.Resources.SI_OSP_GBL_GBL_GBL_159</label></a></li>
                            }
                            @if (Model.system_id > 0)
                            {
                                <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-TCC")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_CAB_NET_FRM_002 @(Model.lstUserModule.Contains("ENT-DTL-TCC")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-TCC") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-TCC")?"#TubeColor":"")" onclick="si.GetCableTubeCoretInfo('@Model.system_id');" data-toggle="tab">@Resources.Resources.SI_OSP_CAB_NET_FRM_002</a></li>
                                <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-FDTL")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_CAB_NET_FRM_003 @(Model.lstUserModule.Contains("ENT-DTL-FDTL")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-FDTL") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-FDTL")?"#FiberDetail":"")" onclick="si.GetCableFiberDetail('@Model.system_id');" data-toggle="tab">@Resources.Resources.SI_OSP_CAB_NET_FRM_003</a></li>
                                <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-LDTL")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_CAB_NET_FRM_004 @(Model.lstUserModule.Contains("ENT-DTL-LDTL")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-LDTL") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-LDTL")?"#LoopDetails":"")" onclick="getLoopDetailsForCable('@Model.system_id');" data-toggle="tab">@Resources.Resources.SI_OSP_CAB_NET_FRM_004</a></li>
                                if (layerDetail != null && layerDetail.is_reference_allowed)
                                {
                                    <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-GRF")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_NET_FRM_006 @(Model.lstUserModule.Contains("ENT-DTL-GRF")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-GRF") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-GRF")?"#dvRefrence":"")" onclick="si.getEntityReference('@Model.system_id','@EntityType.Cable.ToString()','@editPermission.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_NET_FRM_006</a></li>
                                }
                                if (layerDetail != null && layerDetail.is_barcode_enabled)
                                {
                                    <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-BRC")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_HTB_NET_FRM_001 @(Model.lstUserModule.Contains("ENT-DTL-BRC")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-BRC") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-BRC")?"#BarCodeInfo":"")" onclick="si.GetBarCode('@Model.system_id','@EntityType.Cable.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_HTB_NET_FRM_001</a></li>
                                }
                                if (layerDetail != null && layerDetail.is_at_enabled)
                                {
                                    <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-ACT")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_BUL_NET_FRM_032 @(Model.lstUserModule.Contains("ENT-DTL-ACT")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-ACT") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-ACT")?"#dvAT":"")" onclick="si.GetATAcceptance('@Model.system_id','@EntityType.Cable.ToString()','@editPermission.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_BUL_NET_FRM_032</a></li>
                                }
                                if (Model.system_id > 0 && layerDetail != null && layerDetail.is_maintainence_charges_enabled)
                                {
                                    <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-MC")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_CAB_NET_FRM_005 @(Model.lstUserModule.Contains("ENT-DTL-MC")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-MC") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-MC")?"#dvMaintainenceCharges":"")" onclick="si.GetMaintainenceCharges('@Model.system_id','@EntityType.Trench.ToString()','@editPermission.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_CAB_NET_FRM_005</a></li>
                                }
                                if (Model.system_id > 0 && layerDetail != null && layerDetail.is_lmc_enabled)
                                {
                                    <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-LMCI")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_CAB_NET_FRM_006 @(Model.lstUserModule.Contains("ENT-DTL-LMCI")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-LMCI") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-LMCI")?"#dvLMCInfo":"")" "#" onclick="si.GetLMCInformation('@Model.system_id','@EntityType.Cable.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_CAB_NET_FRM_006</a></li>
                                }
                                <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-ENS")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_GBL_GBL_152 @(Model.lstUserModule.Contains("ENT-DTL-ENS")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-ENS") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-ENS")?"#NwEntityHistory":"")" id="Nw_EntityHistory" onclick="si.GetNetworkEntityHistory('@Model.system_id','@EntityType.Cable.ToString()');" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_GBL_GBL_152</a></li>
                                if (Model.system_id > 0 && layerDetail != null && layerDetail.is_reference_allowed == true)
                                {
                                    <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-ENR")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_NET_FRM_537 @(Model.lstUserModule.Contains("ENT-DTL-ENR")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-ENR") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-ENR")?"#Reference":"")" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_NET_FRM_537</a></li>
                                }
                            }
                            <!--Reigon Additional Attribute to show the partial view-->
                            <li><a class="@(Model.lstUserModule.Contains("ENT-DTL-ADA")?"":"roledisabled")" title="@Resources.Resources.SI_OSP_GBL_GBL_FRM_222 @(Model.lstUserModule.Contains("ENT-DTL-ADA")? "" : Resources.Resources.GBL_GBL_GBL_GBL_GBL_021)" style="display:@(Model.lstUserModule.Contains("ENT-DTL-ADA") ? "" : "block;")" href="@(Model.lstUserModule.Contains("ENT-DTL-ADA")?"#AdditionalAttributes":"")" data-toggle="tab">@Resources.Resources.SI_OSP_GBL_GBL_FRM_222</a></li>
                            <!--End Reigon Additional Attribute-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="TabContent--max-over">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="@(Model.lstUserModule.Contains("ENT-DTL-GI")?"tab-pane active":"tab-pane active dvDisabled")" id="GISInfo">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">@layerDetail.layer_title @Resources.Resources.SI_OSP_GBL_GBL_GBL_052</legend>
                        <div class="row">
                            <label class="control-label col-md-2  col-sm-2" for="txtCableCode">
                                @Resources.Resources.SI_OSP_GBL_GBL_GBL_001
                                @if (Model.networkIdType == NetworkIdType.M.ToString())
                                {
                                    <i class="clsMandatory">*</i>
                                }
                                :
                            </label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                <div id="txtMaskedNetworkId"></div>

                            </div>
                            <label class="control-label col-md-2 col-sm-2" for="txtRegionName">
                                @Resources.Resources.SI_OSP_GBL_NET_FRM_059
                                @if (Model.networkIdType == NetworkIdType.M.ToString())
                                {
                                    <i class="clsMandatory">*</i>
                                }:
                            </label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.cable_name,
                                        SmartInventory.Helper.CustomHtmlHelper.GetHtmlAttributes(
                                   new
                                   {
                                       autocomplete = "do-not-show-ac",
                                       @class = "form-control",
                                       @id = "txtCabinetName",
                                       @style = "width: 96.6 %; ",
                                       @maxlength = "100"
                                   }, (Model.networkIdType == "M" ? new { @required = true } : null)))

                            </div>
                            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Start Name:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.a_location_name, new { @class = "form-control clsReadOnly", autocomplete = "do-not-show-ac" })
                            </div>

                            <label class="control-label col-md-2 col-sm-2" for="txtSubAreaName">End Name:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.b_location_name, new { @class = "form-control clsReadOnly", autocomplete = "do-not-show-ac" })
                            </div>

                            @*@if (ApplicationSettings.isterminationpointenable)
        {*@
                            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">@Resources.Resources.SI_OSP_ROW_NET_FRM_009:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.a_location, new { @class = "form-control clsReadOnly", @readonly = true })
                            </div>

                            <label class="control-label col-md-2 col-sm-2" for="txtSubAreaName">@Resources.Resources.SI_OSP_ROW_NET_FRM_010:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.b_location, new { @class = "form-control clsReadOnly", @readonly = true })
                            </div>
                            @*}*@
                            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Start  Lat/Lon:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.a_latitude, new { @class = "form-control clsReadOnly", @readonly = true })
                            </div>

                            <label class="control-label col-md-2 col-sm-2" for="txtSubAreaName">End  Lat/Lon:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.b_longitude, new { @class = "form-control clsReadOnly", @readonly = true })
                            </div>
                            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">A Region Name:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.a_region, new
                                {
                                    @class = "form-control clsReadOnly",
                                    @readonly = true@*, @id = "txtlocationName"*@})
                            </div>

                            <label class="control-label col-md-2 col-sm-2" for="txtSubAreaName">B Region Name:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.b_region, new { @class = "form-control clsReadOnly", @readonly = true, autocomplete = "do-not-show-ac" })
                            </div>
                            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">A City Name:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.a_city, new { @class = "form-control clsReadOnly", @readonly = true, @id = "txtProvinceName", autocomplete = "do-not-show-ac" })
                            </div>

                            <label class="control-label col-md-2 col-sm-2" for="txtSubAreaName">B City Name:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.b_city, new { @class = "form-control clsReadOnly", @readonly = true, autocomplete = "do-not-show-ac" })
                            </div>
                            <label class="control-label col-md-2 col-sm-2">
                                A Location @if (a_location_code.is_required)
                                {<i class="clsMandatory">*</i>}
                                else { }:
                            </label>
                            <div class="col-md-4 col-sm-4 mrgn_btm">
                                @Html.DropDownListFor(m => m.a_location_code, new SelectList(Model.listALocation.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Text", "Value"), "-Select-", new { @class = "chosen-select form-control ", @id= "ddlALocationCode" })
                            </div>
                            <label class="control-label col-md-2 col-sm-2">
                                B Location @if (b_location_code.is_required)
                                {<i class="clsMandatory">*</i>}
                                else { }:
                            </label>
                            <div class="col-md-4 col-sm-4 mrgn_btm">
                                @Html.DropDownListFor(m => m.b_location_code, new SelectList(Model.listBLocation.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Text", "Value"), "-Select-", new { @class = "chosen-select form-control " , @id = "ddlBLocationCode" })
                            </div>
                            <label class="control-label col-md-2 col-sm-2" for="txtSubAreaName">@Resources.Resources.SI_OSP_GBL_GBL_GBL_009:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.pin_code, new { @class = "form-control", @onkeypress = "return si.allowOnlyNumber(event);", @maxlength = "6", @minlength = "6", autocomplete = "new-password" })
                                @Html.ValidationMessageFor(model => model.pin_code)
                            </div>
                            <label class="control-label col-sm-2">@layerDetail.layer_title @Resources.Resources.SI_OSP_GBL_GBL_GBL_023:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm">
                                @Html.DropDownListFor(m => m.cable_type, new SelectList(Model.listcableType.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Value", "Text"), "-Select-", new { @class = "chosen-select form-control" })
                            </div>
                            @*<label class="control-label col-md-2 col-sm-2" for="txtSubAreaName">Cable Type<i class="clsMandatory">*</i>:</label>
        <div class="col-md-4 col-sm-4 mrgn_btm ">
            @Html.TextBoxFor(m => m.cable_type, new { @class = "form-control", @readonly = true })
        </div>*@


                            @if (startEndReading != null)
                            {

                                <label class="control-label col-md-2 col-sm-2" for="txtRemarks">@Resources.Resources.SI_OSP_CAB_NET_FRM_015<i class="clsMandatory">@(Model.network_status == "A" ? "*" : "")</i>:</label>
                                <div class="col-md-4 col-sm-4 mrgn_btm ">
                                    @{
                                        //Model.start_reading = Model.network_status == "A" && Model.start_reading == 0 ? null : Model.start_reading;
                                        @Html.TextBoxFor(m => m.start_reading,
                                            SmartInventory.Helper.CustomHtmlHelper.GetHtmlAttributes(new
                                            {
                                                @class = "form-control",
                                                //@onkeypress = "return allowNumberwithOneDot(event,'start_reading');",
                                                @onkeyup = "si.calculateCableLength(this,'" + Model.network_status + "','start_reading','end_reading','cable_calculated_length');",
                                                @onkeypress = "return ValidateNumberDecimal(this,event,8,2);"
                                            }, (Model.network_status == "A" ? new { @required = true } : null)))
                                    }
                                </div>
                                <label class="control-label col-md-2 col-sm-2" for="txtSubAreaName">@Resources.Resources.SI_OSP_CAB_NET_FRM_016<i class="clsMandatory">@(Model.network_status == "A" ? "*" : "")</i>:</label>
                                <div class="col-md-4 col-sm-4 mrgn_btm ">
                                    @{
                                        // Model.end_reading = Model.network_status == "A" && Model.end_reading == 0 ? null : Model.end_reading;
                                        @Html.TextBoxFor(m => m.end_reading,
                                            SmartInventory.Helper.CustomHtmlHelper.GetHtmlAttributes(
                                                new
                                                {
                                                    @class = "form-control",
                                                    //@onkeypress = "return allowNumberwithOneDot(event,'end_reading');",
                                                    @onkeyup = "si.calculateCableLength(this,'" + Model.network_status + "','start_reading','end_reading','cable_calculated_length');",
                                                    @onkeypress = "return ValidateNumberDecimal(this,event,8,2);"
                                                }, (Model.network_status == "A" ? new { @required = true } : null))
                                            )
                                    }
                                </div>

                            }

                            <label class="control-label col-md-2 col-sm-2" for="txtSubAreaName">@Resources.Resources.SI_OSP_CAB_NET_FRM_009<i class="clsMandatory">*</i>:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.cable_measured_length, new { @class = "form-control clsReadOnly", @readonly = true })
                            </div>
                            <label class="control-label col-md-2 col-sm-2" for="txtRemarks">@Resources.Resources.SI_OSP_CAB_NET_FRM_010<i class="clsMandatory">*</i>:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @{
                                    Model.cable_calculated_length = (Model.system_id == 0 && startEndReading != null ? 0 : Model.cable_calculated_length);
                                    @Html.TextBoxFor(m => m.cable_calculated_length,
                                    SmartInventory.Helper.CustomHtmlHelper.GetHtmlAttributes(new
                                    {
                                        @class = "form-control",
                                        //@onkeypress = "return allowNumberwithOneDot(event,'cable_calculated_length');"
                                        @onkeypress = "return ValidateNumberDecimal(this,event,8,2);"
                                    }, (startEndReading != null) ? new { @readonly = "readonly" } : null))
                                }
                            </div>

                            <label class="control-label col-md-2 col-sm-2" for="txtSubAreaName">@Resources.Resources.SI_OSP_CAB_NET_FRM_011:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.total_loop_count, new { @class = "form-control clsReadOnly", @readonly = true })
                            </div>
                            <label class="control-label col-md-2 col-sm-2" for="txtRemarks">@Resources.Resources.SI_OSP_CAB_NET_FRM_012:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm ">
                                @Html.TextBoxFor(m => m.total_loop_length, new { @class = "form-control clsReadOnly", @readonly = true })
                            </div>
                            @if (innerOuterDimension != null)
                            {
                                <label class="control-label col-md-2 col-sm-2 ">@Resources.Resources.SI_OSP_DUC_NET_FRM_008:</label>
                                <div class="col-md-4 col-sm-4  mrgn_btm">
                                    @Html.TextBoxFor(m => m.inner_dimension, new { @class = "form-control", @onkeypress = "return si.allowNumberwithOneDot(event,'inner_dimension') && ValidateNumberDecimal(this,event,8,2);" })
                                </div>
                                <label class="control-label col-md-2 col-sm-2 ">@Resources.Resources.SI_OSP_DUC_NET_FRM_007:</label>
                                <div class="col-md-4 col-sm-4  mrgn_btm">
                                    @Html.TextBoxFor(m => m.outer_dimension, new { @class = "form-control", @onkeypress = "return si.allowNumberwithOneDot(event,'outer_dimension') && ValidateNumberDecimal(this,event,8,2);" })
                                </div>
                            }

                            <label class="control-label col-md-2 col-sm-2">@Resources.Resources.SI_OSP_GBL_NET_GBL_003:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm">

                                @Html.DropDownListFor(m => m.cable_category, new SelectList(Model.listcableCategory.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Value", "Text"), "-Select-", new { @class = "chosen-select form-control clsReadOnly" })
                            </div>

                            @if (subCategory != null)
                            {
                                <label class="control-label col-md-2 col-sm-2">@Resources.Resources.SI_OSP_GBL_GBL_GBL_022:</label>
                                <div class="col-md-4 col-sm-4 mrgn_btm ">
                                    @Html.DropDownListFor(m => m.cable_sub_category, new SelectList(Model.listcableSubCategory.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Value", "Text"), "-Select-", new { @class = "chosen-select form-control clsReadOnly" })
                                </div>
                            }


                            @*<label class="control-label col-sm-2">@Resources.Resources.SI_GBL_GBL_GBL_GBL_009<i class="clsMandatory">*</i>:</label>
        <div class="col-md-4 col-sm-4 mrgn_btm">
            @Html.DropDownListFor(m => m.ownership, new SelectList(Model.listOwnership.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Value", "Text"), "-Select-", new { @class = "chosen-select form-control" })
        </div>*@
                            @*<label class="control-label col-md-2 col-sm-2" for="txtAcquireFrom">@Resources.Resources.SI_GBL_GBL_GBL_GBL_010:</label>
        <div class="col-md-4 col-sm-4 mrgn_btm">
            @Html.TextBoxFor(m => m.acquire_from, new { @class = "form-control" })
        </div>*@

                        </div>
                        <div id="dvOwnerShip">
                            @OwnershipInfo()
                        </div>
                        <div class="form-group row">
                            @AcquireFrom()
                        </div>
                        <div>@AdditionalFields()</div>
                        <div class="form-group row">
                            @if (execustionMethod != null)
                            {

                                <label class="control-label col-md-2 col-sm-2">@Resources.Resources.SI_OSP_CAB_NET_FRM_017:</label>
                                <div class="col-md-4 col-sm-4">
                                    @Html.DropDownListFor(m => m.execution_method, new SelectList(Model.listExecutionMethod.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Value", "Text"), "-Select-", new { @class = "chosen-select form-control" })
                                </div>


                            }
                        </div>
                        <div class="form-group row">
                            @if (route_id != null)
                            {
                                <label class="control-label col-md-2 col-sm-2" for="txtRemarks">
                                    @Resources.Resources.SI_OSP_CAB_NET_FRM_013
                                    @if (route_id.is_required)
                                    {<i class="clsMandatory">*</i>}
                                    else { }:
                                </label>
                                <div class="col-md-4 col-sm-4">
                                    @{
                                        @Html.TextBoxFor(m => m.route_id,
                                        SmartInventory.Helper.CustomHtmlHelper.GetHtmlAttributes(new
                                        {
                                            @class = "form-control",
                                                 @maxlength = "20"
                                        }, (route_id.is_required) ? new { @required = "required" } : null))
                                    }
                                </div>
                            }
                            @if (route_name != null)
                            {
                                <label class="control-label col-md-2 col-sm-2">
                                    Route Name
                                    @if (route_name.is_required)
                                    {<i class="clsMandatory">*</i>}
                                    else { }:
                                </label>
                                <div class="col-md-4 col-sm-4">
                                    @{
                                        @Html.TextBoxFor(m => m.route_name,
                                        SmartInventory.Helper.CustomHtmlHelper.GetHtmlAttributes(new
                                        {
                                            @class = "form-control",
                                                 @maxlength = "100"
                                        }, (route_id.is_required) ? new { @required = "required" } : null))
                                    }
                                </div>
                            }
                        </div>
                        @if (Model.calculated_length_remark != null)
                        {
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2" for="txtCableComment">@Resources.Resources.SI_OSP_CAB_NET_FRM_071:</label>
                                <div class="col-sm-10 col-sm-10">
                                    @Html.TextAreaFor(m => m.calculated_length_remark, new { @class = "form-control textarea-maxlen-validate", @maxlength = "1000", @readonly = true })
                                </div>
                            </div>
                        }

                        <div class="form-group row">
                            <label class="control-label col-sm-2">@Resources.Resources.SI_OSP_CAB_NET_FRM_075:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm">
                                @Html.DropDownListFor(m => m.aerial_location, new SelectList(Model.listaerialLocation.Select(x => new { Value = x.dropdown_value, Text = x.dropdown_key }), "Value", "Text"), "-Select-", new { @class = "chosen-select form-control" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2 col-sm-2 ">@Resources.Resources.SI_OSP_CAB_NET_FRM_073:</label>
                            <div class="col-md-4 col-sm-4  mrgn_btm">
                                @Html.TextBoxFor(m => m.section_name, new { @class = "form-control" })
                            </div>

                            <label class="control-label col-md-2 col-sm-2 ">@Resources.Resources.SI_OSP_CAB_NET_FRM_074:</label>
                            <div class="col-md-4 col-sm-4  mrgn_btm">
                                @Html.TextBoxFor(m => m.generic_section_name, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-2">@Resources.Resources.SI_OSP_CAB_NET_FRM_077:</label>
                            <div class="col-md-4 col-sm-4 mrgn_btm">
                                @Html.TextBoxFor(m => m.manhole_count, new { @class = "form-control clsReadOnly", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2 col-sm-2" for="txtRemarks">@Resources.Resources.SI_OSP_GBL_GBL_GBL_006:</label>
                            <div class="col-sm-10 col-sm-10">
                                @Html.TextAreaFor(m => m.remarks, new { @class = "form-control textarea-maxlen-validate", @maxlength = "1000" })
                            </div>
                        </div>

                    </fieldset>
                    @if (Model.lstUserModule.Contains("PROJ"))
                    {
                        <fieldset class="the-fieldset">
                            <legend class="the-legend">@Resources.Resources.SI_OSP_GBL_GBL_FRM_001</legend>
                            @ProjectSpecifications()
                        </fieldset>
                    }
                    <div>
                        @GeographicDetails()
                    </div>
                </div>

                <div class="tab-pane" id="ItemSpecf">
                    @CableTemplateMaster()
                </div>

                <div id="TubeColor" class="tab-pane">
                </div>

                <div id="FiberDetail" class="tab-pane"></div>

                <div id="LoopDetails" class="tab-pane">  </div>
                <div class="tab-pane" id="PODAssoctn"></div>

                <div id="dvRefrence" class="tab-pane ">  </div>

                <div class="tab-pane" id="BarCodeInfo"></div>

                <div class="tab-pane" id="dvAT"></div>
                <div class="tab-pane" id="dvMaintainenceCharges"></div>
                <div class="tab-pane" id="dvLMCInfo"></div>
                <div id="NwEntityHistory" class="tab-pane"></div>
                <!--Reigon Additional Attribute to show the partial view-->
                <div class="tab-pane" id="AdditionalAttributes">
                    @AdditionalAttributes()
                </div>
                <!--End Reigon Additional Attribute-->
                <div class="tab-pane" id="Reference">
                    @Reference()
                </div>
                @if (ApplicationSettings.isCDBAttributeEnabled == 1)
                {
                    <div class="tab-pane" id="CDBAttributes">
                        @CDBAttribute()
                    </div>
                }
            </div>
        </div>
        <div class="@(Model.lstUserModule.Contains("ENT-DTL-GI")?"d-flex ModalFooter":"d-flex ModalFooter dvdisabled")" id="dvBtnAction">
            @if (Model.system_id > 0)
            {
                <div class="ModelFooterInfo">
                    <label>@Resources.Resources.SI_OSP_GBL_GBL_GBL_014:</label>
                    <label class="model-label-info">@(Model.network_status != null ? Utility.MiscHelper.GetNetworkStatus(Model.network_status.ToUpper()) : string.Empty)</label>
                    <label for="txtLongitude">@Resources.Resources.SI_OSP_GBL_GBL_GBL_007:</label>
                    <label class="model-label-info" title="@(Model.created_on != null ? Utility.MiscHelper.FormatDateTime(Model.created_on.ToString()) : string.Empty)">@(Model.created_on != null ? Utility.MiscHelper.TimeAgo(Model.created_on.ToString()) : string.Empty)</label>
                </div>
            }
            <div class="ml-auto">
                @*<button type="submit" class="btn btn-primary" id="btnSaveCable" disabled="disabled">@(Model.system_id > 0 ? "Update" : "Save")</button>
                    <a href="javascript:void(0);" class="btn btn-default" data-dismiss="modal" id="btnCableCancel" onclick="si.clearTPRelatedObjects();">Cancel</a>*@
                @if (Model.system_id == 0)
                {
                    <a href="javascript:void(0);" class="btn btn-default mr-01" data-dismiss="modal" id="btnCableCancel" onclick="si.clearTPRelatedObjects();">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_006</a>
                    <input type="button" formmethod="post" class="btn btn-primary @(editPermission==true?"":"dvdisabled")" name="actionTab" id="btnSaveCable" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_004" />


                }

                else if (Model.system_id != 0)
                {
                    <a href="javascript:void(0);" class="btn btn-default mr-01" data-dismiss="modal" id="btnCableCancel" onclick="si.clearTPRelatedObjects();">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_006</a>
                    <input type="button" formmethod="post" class="btn btn-primary @(editPermission==true?"":"dvdisabled")" id="btnSaveCable" value="@Resources.Resources.GBL_GBL_GBL_GBL_GBL_003" />

                }
            </div>
        </div>
    }
</div>


<script type="text/javascript">
    $("#btnSaveCable").on("click", function() {
        var gis_design_id = $('#gisDesignId').val();
        ajaxReq('Library/checkOverlappingDesignId', { design_id: gis_design_id,system_id:'@Model.system_id' }, false, function (resp) {
            ;
            if (resp.data.status == '1') {
                showConfirm(resp.data.message, function () {
                    saveCableContinue();
                });

            }
            else {
                saveCableContinue();
            }
        });
    });
    function saveCableContinue() {
         var ddlFiberCount = $("#ddlIOP_chosen").children('a').text().trim();
         var tubeCount = parseInt($('#no_of_tube').val());
         var corePerTubeCount = parseInt($('#no_of_core_per_tube').val());
         $("#hdn_no_of_core_per_tube").val(corePerTubeCount);
         $("#hdn_no_of_tube").val(tubeCount);

         if (ddlFiberCount == "Select Fiber Count") {
             alert(MultilingualKey.SI_OSP_CAB_JQ_FRM_002);//Please select fiber count!!
             return false;
         }
         else {
             var totalCount = tubeCount * corePerTubeCount;
             ddlFiberCount = ddlFiberCount.split(' ');
             if (totalCount != ddlFiberCount[0]) {
                 alert(MultilingualKey.SI_OSP_GBL_JQ_FRM_012);
                 return false;
             }
         }
         if (($(si.DE.startReading).length == 0 && $(si.DE.endReading).length == 0) || ($(si.DE.startReading).val() == 0 && $($(si.DE.endReading).val() == 0)) || (parseFloat($('#cable_calculated_length').val()) != 0)) {
             var cableStatus = ValidateCableLenght('#cable_measured_length', '#cable_calculated_length', 'Cable');
             if (cableStatus == false) {
                 return false;
             }
         }

         if ((parseFloat($(si.DE.endReading).val()) != 0 || parseFloat($(si.DE.startReading).val()) != 0) && (parseFloat($(si.DE.endReading).val()) <= parseFloat($(si.DE.startReading).val()))) {
             alert(MultilingualKey.SI_OSP_GBL_JQ_FRM_052);
             return false;
         }
         if ((($("#start_reading").val()) == 0 && $("#end_reading").val() == 0) && ("@Model.network_status" == "A")) {
             alert("Cable Calculated Length can't be 0 !");
             return false;
         }

         $('#hdnCableTab').val('CableInfoTab');
         $("#network_id").val($("#txtMaskedNetworkId").dxTextBox("option", "text").toUpperCase());
         var selected_ownership = $("input[name='rdbOwnershipType']:checked").val();
         if (selected_ownership == 'Third Party' && $('#txt3rdPartyVendor').val() == "") {
             $('#txt3rdPartyVendor').next().addClass('input-validation-error');
             return false;
         }
         if (selected_ownership == 'Own' && $('#txtOwnVendor').val() == "") {
             $('#txtOwnVendor').next().addClass('input-validation-error');
             return false;
         }

         else if (selected_ownership == 'Third Party' && $('#thirdparty_circuit_id').val() == "") {
             $('#thirdparty_circuit_id').addClass('input-validation-error');
             return false;
         }

         si.upperCaseNetWorkId();
         if (!entityReferencevalidation() && !entityMaintainence()) {
             return false;
         }
         if ((@ApplicationSettings.IsCableExtraValidationRequired) && (parseFloat($('#cable_calculated_length').val()) > (((@ApplicationSettings.CableExtraLengthPercentage) * parseFloat($('#cable_measured_length').val()) / 100) + parseFloat($('#cable_measured_length').val()))) && $('#hdncblCalLen').val() != $('#cable_calculated_length').val())
         {
             $('#hdncblCalLen').val($('#cable_calculated_length').val());
             si.openCableRemarksCommentbox();
         }



         else {

             $('#hdncblCalLen').val($('#cable_calculated_length').val());
             $("#frmAddCable").submit();
         }
    }
</script>


<script type="text/javascript">


    var inputs = [];
    $(document).ready(function () {

        if ('@gis_design_id.form_feature_name' == "gis_design_id" && '@gis_design_id.is_required' == 'True')
        {
            $('#gisDesignId').attr('required', true);
        }

        if ('@a_location_code.is_required' == 'True') {
            $('#ddlALocationCode').attr('required', true);
        }
         if ('@b_location_code.is_required' == 'True') {
            $('#ddlBLocationCode').attr('required', true);
        }

        callFormValidator("frmAddCable");
        $('.chosen-select').chosen({ width: '100%' });

        EnableDisableUpdateButton("frmAddCable", '@Model.system_id' > 0 ? "btnSaveCable" : "btnSaveCable");
        //APPLY INPUT MASK ON NETWORK ID..
        getMaskedNetworkId('@Model.network_id', '@Model.system_id', '@Model.networkIdType');

        //$("#frmAddCable").on("submit", function () {
        ////    $("#network_id").val($("#txtMaskedNetworkId").dxTextBox("option", "text").toUpperCase());
        //    si.upperCaseNetWorkId();
        //    if (!entityReferencevalidation())
        //        return false;

        //    if (!entityMaintainence())
        //        return false;
        //});


        //Region Additional-Attributes
        $("#frmAddCable").on("submit", function () {
            //For AdditionalAttributes to set json and saving
            additionalAttributesUtility.SetJsonValue("#frmOtherInfo", "#hdnOtherInfo");
            //end region Additional-Attributes
        });
        //end region

        $('.ModalFooter [title!=""]').tooltip({ title: '', html: true, placement: "top" });

    });
    if ($(si.DE.startReading).length == 0 && $(si.DE.endReading).length == 0) {
        $("#cable_calculated_length").on('onblur', function (e) {
            si.checkCblLength()
        });
    }
    $("#fiberCountIn").on('change', function (e) {

        var ddlFiberCount = $("#fiberCountIn_chosen").children('a').text().trim();
        if (ddlFiberCount != "Select Fiber Count") {

            ddlFiberCount = ddlFiberCount.split(' ');
            $('#no_of_tube').val('1').attr('readonly', false);
            $('#no_of_core_per_tube').val(ddlFiberCount[0]).attr('readonly', false);
            $('#total_core').val(ddlFiberCount[0]);
        }
        else {
            $('#no_of_tube').val(0);
            $('#no_of_core_per_tube').val(0);
            $('#total_core').val(0);
        }
    });

    function SaveLMCInfo(objLMCInfo) {

        if (objLMCInfo.ActionTab == "LMCInfoTab") {
            if (objLMCInfo.objPM.status != "OK") {
                alert(objLMCInfo.objPM.message);
            }
            else {
                $("#closeModalPopup").trigger("click");
                alert(objLMCInfo.objPM.message);
            }
        }

    }

    $("#ulCableTabs li a").on("click", function () {

        var url = $(this).attr('href'); //
        if (url == '#dvLMCInfo') {
            // $('#dvBtnAction').hide();
            $('div#dvBtnAction').hide();
        }
        else {
            // $('#dvBtnAction').show();
            $('div#dvBtnAction').show();
        }
    });
    $("#divRightMenu .dropMenu ul li a").on("click", function () {

        var url = $(this).attr('href'); //
        if (url == '#dvLMCInfo') {
            // $('#dvBtnAction').hide();
            $('div#dvBtnAction').hide();
        }
        else {
            // $('#dvBtnAction').show();
            $('div#dvBtnAction').show();
        }
    });
    function validateTextboxLowFrom(elementId) {
        if ($('#' + elementId).length > 0) {
            var value = $('#' + elementId).val();
            if ($('#SelectedNetworkStatus').val() != 'Spectra' && (value == 'undefined' || value == null || value == "")) {
                $('#' + elementId).addClass('input-validation-error').removeClass('valid');
                return false;
            }
            else {
                $('#' + elementId).addClass('valid').removeClass('input-validation-error');
                return true;
            }
        }
        return true;
    }
</script>

<style>
    #FiberDetail, #LoopDetails, #TubeColor, #dvRefrence,#dvLMCInfo,#PODAssoctn {
        background-image: url('@Url.Content("~/content/images/loading_new.gif")');
        background-position: center;
        background-repeat: no-repeat;
    }
</style>