@model Models.CableMaster
    <style>
        .cdbAttri .col-md-2, .cdbAttri .col-sm-2, .cdbAttri .col-md-4, .cdbAttri .col-sm-4 {
            padding-right: 0;
        }
        .cdbAttri .col-md-2, .cdbAttri .col-sm-2 {
            width: 24.66666667%;
        }
        .cdbAttri .col-md-4, .cdbAttri .col-sm-4 {
            width: 24.33333333%;
        }
        .cdbAttri .form-control {
            height: 25px;
        }
        .cdbAttri .assign-calen {
            right: 8px;
        }
    </style>


<div class="tab-content">
    <fieldset class="the-fieldset">
        <legend class="the-legend">CDB Attributes Info</legend>

        <div class="row cdbAttri">
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Circle Name:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.circle_name, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Major Route Name:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.major_route_name, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Route ID:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.route_id, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Section Name:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.section_name, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Section ID:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.section_id, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-sm-2">Route Type:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm">
                @Html.DropDownListFor(m => m.LstCDBAttribute.route_type, new SelectList(Model.LstCDBAttribute.lstRoute.Select(x => new { Value = x.dropdown_key, Text = x.dropdown_value }), "Value", "Text"), "-Select-", new { @class = "chosen-select form-control" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Operator:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.DropDownListFor(m => m.LstCDBAttribute.operator_type, new SelectList(Model.LstCDBAttribute.lstOperator.Select(x => new { Value = x.dropdown_key, Text = x.dropdown_value }), "Value", "Text"), "-Select-", new { @class = "chosen-select form-control" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Route Category:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.route_category, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Distance(km):</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.distance, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Fiber Type:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.DropDownListFor(m => m.LstCDBAttribute.fiber_type, new SelectList(Model.LstCDBAttribute.lstFiber.Select(x => new { Value = x.dropdown_key, Text = x.dropdown_value }), "Value", "Text"), "-Select-", new { @class = "chosen-select form-control" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">ROW Valid/Exp By:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.row_valid_or_exp, new { @class = "form-control clsReadOnly", placeholder = "DD-MMM-YYYY", @style = "background:#fff;", @id = "rowValidDate" })
                <img id="img_row_valid_or_exp" class="assign-calen" src="~/Content/images/calendar.png" />
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Route lit up Date:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.route_lit_up_date, new { @class = "form-control clsReadOnly", placeholder = "DD-MMM-YYYY", @style = "background:#fff;", @id = "routeDate" })
                <img id="img_route_date" class="assign-calen" src="~/Content/images/calendar.png" />
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Fiber pairs laid:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.fiber_pairs_laid, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Total Used Pair:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.total_used_pair, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Fiber pairs used by VIL:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.fiber_pairs_used_by_vil, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Fiber pairs given to Airtel:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.fiber_pairs_given_to_airtel, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Fiber pairs given to others:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.fiber_pairs_given_to_others, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Fiber pairs free:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.fiber_pairs_free, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Faulty Fiber pairs:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.faulty_fiber_pairs, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Start Lattitude:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.start_latitude, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Start Longitude:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.start_longitude, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">End Lattitude:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.end_latitude, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">End Longitude:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.end_longitude, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Non-VIL tenancies on route:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.count_non_vil_tenancies_on_route, new { @class = "form-control clsReadOnly" })
            </div>

            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Aerial KMs:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.aerial_km, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Avg. Loss per km:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.avg_loss_per_km, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Avg. Last 6 Months Fiber Cut:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.avg_last_six_months_fiber_cut, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">ROW(Rs. Mn/km):</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.row, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Material(Rs. Mn/km):</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.material, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Execution(Rs. Mn/km):</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.execution, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">ROW Availablity(KM):</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.row_availablity, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">IRU given to Airtel:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.iru_given_airtel, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">IRU given to JIO:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.iru_given_jio, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">IRU given to TTSL/TTML(KM):</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.iru_given_ttsl_or_ttml, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">IRU given to TCL(KM):</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.iru_given_tcl, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">IRU to given Others(KM):</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.iru_given_others, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Network Category:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.network_category, new { @class = "form-control clsReadOnly" })
            </div>

            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Remarks:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.remarks, new { @class = "form-control clsReadOnly" })
            </div>
            <label class="control-label col-md-2 col-sm-2" for="txtProvinceName">Cable Owner:</label>
            <div class="col-md-4 col-sm-4 mrgn_btm ">
                @Html.TextBoxFor(m => m.LstCDBAttribute.cable_owner, new { @class = "form-control clsReadOnly" })
            </div>
        </div>
    </fieldset>
</div>

<script>
    $(document).ready(function () {
        si.setDateTimeCalendar_cdb("rowValidDate", "img_row_valid_or_exp",'',true);
        si.setDateTimeCalendar_cdb("routeDate", "img_route_date",'',true);
    });
</script>
