@using Models
@model Models.FMSMaster
<style>
    .webgrid th, .webgrid td {
        border: none;
        padding: 5px;
    }

    .pose-plus {
        position: absolute;
        right: -28px;
        top: 0;
        z-index: 9;
    }

        .pose-plus button {
            min-height: 28px;
        }

        .pose-plus i {
            line-height: 21px;
        }
</style>
<link href="~/Content/css/HPSMTicket.css" rel="stylesheet" />
@Html.HiddenFor(m => m.requiredcore, new { @id = "hdnCheckforCLP" })
@Html.HiddenFor(m => m.lstFiberlinkdetails.FirstOrDefault().network_id, new { @id = "hdnFiberLinkNetworkId" })
<div class="space-pad">
    <div class="row form-group">
    </div>
    <div class="row form-group">
        <label class="control-label col-md-2 col-sm-2">
            ODF1 <i class="clsMandatory">*</i>
        </label>
        <div class="col-md-4 col-sm-4">
            @*@Html.DropDownListFor(x => x.network_id, new SelectList(Model.lstODFdetails.Select(x => new { Value = x.network_id, Text = x.network_id }), "Value", "Text"), " -Select ODF1-", new { @class = "chosen-select form-control", @id = "ddlNetworkid1", @required = "required" })*@

            <input type="text" id="txtODF1" class="input-sm form-control" placeholder="Search ODF1" onclick="if (this.placeholder !== '') { this.placeholder = '' }" onblur="if(this.placeholder===''){this.placeholder='Search ODF'}" autocomplete="off">

        </div>
        <label class="control-label col-md-2 col-sm-2">
            ODF2<i class="clsMandatory">*</i>
        </label>
        <div class="col-md-4 col-sm-4">
            @*@Html.DropDownListFor(x => x.network_id, new SelectList(Model.lstODFdetails.Select(x => new { Value = x.network_id, Text = x.network_id }), "Value", "Text"), " -Select ODF2-", new { @class = "chosen-select form-control", @id = "ddlNetworkid2", @required = "required" })*@

            <input type="text" id="txtODF2" class="input-sm form-control" placeholder="Search ODF2" onclick="if (this.placeholder !== '') { this.placeholder = '' }" onblur="if(this.placeholder===''){this.placeholder='Search ODF'}" autocomplete="off">
        </div>
    </div>
    <div class="row form-group">
        <label class="control-label col-md-2 col-sm-2">
            Required Core <i class="clsMandatory">*</i>
        </label>
        <div class="col-md-4 col-sm-4">
            @Html.TextBoxFor(m => m.requiredcore, new { @id = "txtRequiredCore", @class = "input-sm form-control", @maxlength = "2", @required = "required" })

        </div>
        <div class="col-md-6 col-sm-6 d-flex">
            <button type="button" class="ml-auto btn btn-default" onclick="si.checkAvailability();" id="btnCheckAvailability">Check Feasibility</button>

            <button type="button" class="btn btn-success ml-10" onclick="si.showReport();" id="btnShowReport">Download Report</button>
        </div>
    </div>

    <div class="row form-group">
        <label class="control-label col-md-2 col-sm-2">
            FiberLink <i class="clsMandatory">*</i><span class="vdesc"></span>
        </label>
        <div class="col-md-4 col-sm-4">
            @*@Html.DropDownListFor(x => x.system_id, new SelectList(Model.lstFiberlinkdetails.Select(x => new { Value = x.system_id, Text = x.network_id }), "Value", "Text"), " -Select fiberLink-", new { @class = "chosen-select form-control", @id = "ddlfiberlink" })*@
            <input type="text" id="txtfiberlink" class="input-sm form-control" placeholder="@Resources.Resources.SI_ISP_GBL_GBL_GBL_035 @Resources.Resources.SI_OSP_GBL_NET_FRM_421 / @Resources.Resources.SI_OSP_GBL_GBL_GBL_001" onclick="if (this.placeholder !== '') { this.placeholder = '' }" onblur="if(this.placeholder===''){this.placeholder='@Resources.Resources.SI_ISP_GBL_GBL_GBL_035 @Resources.Resources.SI_OSP_GBL_NET_FRM_421 / @Resources.Resources.SI_OSP_GBL_GBL_GBL_001'}" autocomplete="off">
            <div class="pose-plus"><button class="btn btn-primary" id="btncreatelinkCPL" title="Create new fiberlink"><i class="fa fa-plus"></i></button> </div>
        </div>

        <div class="col-md-6 col-sm-6 d-flex">
            <button type="button" class="ml-auto btn btn-success ml-10" onclick="validate();" disabled="disabled" id="btnSubmit">Submit</button>

        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        $("input.numbers-only").on("paste", function () {
            var thisvalue = this;
            setTimeout(function () {
                var OnlyNumber = new RegExp(/^[0-9]{1,10}$/);

                if (!OnlyNumber.test(thisvalue.value)) {
                    thisvalue.value = "";
                }
            }, 0);
        });

        $("#txtODF1, #txtODF2, #txtRequiredCore, #txtfiberlink").on("input", function () {
            if ($(this).val() != '') {
                $(this).removeClass("error-border");
            }
        });

        $('.chosen-select').chosen({ placeholder_text_multiple: '-All-', width: '100%' });
        //----------------------------------------------ODF1-------------------------------------------------------------------
        $('#txtODF1').on('keyup', function (e) {
            debugger;
            $('#txtODF1').autocomplete({

                source: function (request, response) {
                    debugger;
                    // var ntxt = request
                    var IsSrchValid = false;
                    //IsSrchValid = request.term.length >= 3 && (ntxt.length == 0 || ntxt.length == 1) ? true : ntxt.length > 1 && ntxt[1].length >= 3 ? true : false;
                    IsSrchValid = request.term.length >= 3 ? true : false;
                    if (IsSrchValid) {
                        var res = ajaxReq('Library/GetSearchResult', { searchText: request.term, search_type: 'ODF' }, true, function (data) {
                            if (data.length == 0) {
                                var result = [
                                    {
                                        label: 'No match Found'
                                    }
                                ];
                                response(result);
                                $("#txtODF1").removeClass('ui-autocomplete-loading');
                            }
                            else {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.network_id
                                    }
                                }))
                            }
                        }, true, false);
                    }
                    else { $("#txtODF1").removeClass('ui-autocomplete-loading'); }
                },
                minLength: 3,
                select: function (event, ui) {
                    debugger;
                    if (ui.item.label == 'No match Found') {
                        // this prevents "no results" from being selected
                        event.preventDefault();
                        $("#txtODF1").removeClass('ui-autocomplete-loading');
                    }
                    else {
                        event.preventDefault();

                        if (ui.item.networ_id != null) {
                            $("#txtODF1").val(ui.item.network_id);

                            $("#txtODF1").removeClass('ui-autocomplete-loading');
                        }
                        else {
                            $("#txtODF1").val(ui.item.label);
                        }
                    }
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });
        });
        $('#txtODF1').bind('paste', function (e) {
            $('#txtODF1').autocomplete({

                source: function (request, response) {
                    debugger;
                    // var ntxt = request
                    var IsSrchValid = false;
                    //IsSrchValid = request.term.length >= 3 && (ntxt.length == 0 || ntxt.length == 1) ? true : ntxt.length > 1 && ntxt[1].length >= 3 ? true : false;
                    IsSrchValid = request.term.length >= 3 ? true : false;
                    if (IsSrchValid) {
                        var res = ajaxReq('Library/GetSearchResult', { searchText: request.term, search_type: 'ODF' }, true, function (data) {
                            if (data.length == 0) {
                                var result = [
                                    {
                                        label: 'No match Found'
                                    }
                                ];
                                response(result);
                                $("#txtODF1").removeClass('ui-autocomplete-loading');
                            }
                            else {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.network_id
                                    }
                                }))
                            }
                        }, true, false);
                    }
                    else { $("#txtODF1").removeClass('ui-autocomplete-loading'); }
                },
                minLength: 3,
                select: function (event, ui) {
                    debugger;
                    if (ui.item.label == 'No match Found') {
                        // this prevents "no results" from being selected
                        event.preventDefault();
                        $("#txtODF1").removeClass('ui-autocomplete-loading');
                    }
                    else {
                        event.preventDefault();

                        if (ui.item.networ_id != null) {
                            $("#txtODF1").val(ui.item.network_id);

                            $("#txtODF1").removeClass('ui-autocomplete-loading');
                        }
                        else {
                            $("#txtODF1").val(ui.item.label);
                        }
                    }
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });
        });
        //----------------------------------------------ODF2-------------------------------------------------------------------
        $('#txtODF2').on('keyup', function (e) {
            debugger;
            $('#txtODF2').autocomplete({

                source: function (request, response) {
                    debugger;
                    // var ntxt = request
                    var IsSrchValid = false;
                    //IsSrchValid = request.term.length >= 3 && (ntxt.length == 0 || ntxt.length == 1) ? true : ntxt.length > 1 && ntxt[1].length >= 3 ? true : false;
                    IsSrchValid = request.term.length >= 3 ? true : false;
                    if (IsSrchValid) {
                        var res = ajaxReq('Library/GetSearchResult', { searchText: request.term, search_type: 'ODF' }, true, function (data) {
                            if (data.length == 0) {
                                var result = [
                                    {
                                        label: 'No match Found'
                                    }
                                ];
                                response(result);
                                $("#txtODF2").removeClass('ui-autocomplete-loading');
                            }
                            else {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.network_id
                                    }
                                }))
                            }
                        }, true, false);
                    }
                    else { $("#txtODF2").removeClass('ui-autocomplete-loading'); }
                },
                minLength: 3,
                select: function (event, ui) {
                    debugger;
                    if (ui.item.label == 'No match Found') {
                        // this prevents "no results" from being selected
                        event.preventDefault();
                        $("#txtODF2").removeClass('ui-autocomplete-loading');
                    }
                    else {
                        event.preventDefault();

                        if (ui.item.networ_id != null) {
                            $("#txtODF2").val(ui.item.network_id);

                            $("#txtODF2").removeClass('ui-autocomplete-loading');
                        }
                        else {
                            $("#txtODF2").val(ui.item.label);
                        }
                    }
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });
        });
        $('#txtODF2').bind('paste', function (e) {
            debugger;
            $('#txtODF2').autocomplete({

                source: function (request, response) {
                    debugger;
                    // var ntxt = request
                    var IsSrchValid = false;
                    //IsSrchValid = request.term.length >= 3 && (ntxt.length == 0 || ntxt.length == 1) ? true : ntxt.length > 1 && ntxt[1].length >= 3 ? true : false;
                    IsSrchValid = request.term.length >= 3 ? true : false;
                    if (IsSrchValid) {
                        var res = ajaxReq('Library/GetSearchResult', { searchText: request.term, search_type: 'ODF' }, true, function (data) {
                            if (data.length == 0) {
                                var result = [
                                    {
                                        label: 'No match Found'
                                    }
                                ];
                                response(result);
                                $("#txtODF2").removeClass('ui-autocomplete-loading');
                            }
                            else {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.network_id
                                    }
                                }))
                            }
                        }, true, false);
                    }
                    else { $("#txtODF2").removeClass('ui-autocomplete-loading'); }
                },
                minLength: 3,
                select: function (event, ui) {
                    debugger;
                    if (ui.item.label == 'No match Found') {
                        // this prevents "no results" from being selected
                        event.preventDefault();
                        $("#txtODF2").removeClass('ui-autocomplete-loading');
                    }
                    else {
                        event.preventDefault();

                        if (ui.item.networ_id != null) {
                            $("#txtODF2").val(ui.item.network_id);

                            $("#txtODF2").removeClass('ui-autocomplete-loading');
                        }
                        else {
                            $("#txtODF2").val(ui.item.label);
                        }
                    }
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });
        });
        // ----------------------------------------------FiberLink---------------------------------------------------------------------------
        $('#txtfiberlink').on('keyup', function (e) {
            debugger;
            $('#txtfiberlink').autocomplete({

                source: function (request, response) {
                    debugger;
                    // var ntxt = request
                    var IsSrchValid = false;
                    //IsSrchValid = request.term.length >= 3 && (ntxt.length == 0 || ntxt.length == 1) ? true : ntxt.length > 1 && ntxt[1].length >= 3 ? true : false;
                    IsSrchValid = request.term.length >= 3 ? true : false;
                    if (IsSrchValid) {
                        var res = ajaxReq('Library/GetSearchResult', { searchText: request.term, search_type: 'fiberlink' }, true, function (data) {
                            if (data.length == 0) {
                                var result = [
                                    {
                                        label: 'No match Found'
                                    }
                                ];
                                response(result);
                                $("#txtfiberlink").removeClass('ui-autocomplete-loading');
                            }
                            else {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.Link_Id,
                                        value: item.network_id,
                                    }
                                }))
                            }
                        }, true, false);
                    }
                    else { $("#txtfiberlink").removeClass('ui-autocomplete-loading'); }
                },
                minLength: 3,
                select: function (event, ui) {
                    debugger;
                    if (ui.item.label == 'No match Found') {
                        // this prevents "no results" from being selected
                        event.preventDefault();
                        $("#txtfiberlink").removeClass('ui-autocomplete-loading');
                    }
                    else {
                        event.preventDefault();

                        if (ui.item.networ_id != null) {
                            $("#txtfiberlink").val(ui.item.label);
                            $("#hdnFiberLinkNetworkId").val(ui.item.value);

                            $("#txtfiberlink").removeClass('ui-autocomplete-loading');
                        }
                        else {
                            $("#txtfiberlink").val(ui.item.label);
                            $("#hdnFiberLinkNetworkId").val(ui.item.value);
                        }
                    }
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });
        });

        $('#txtfiberlink').bind('paste', function (e) {
            debugger;
            $('#txtfiberlink').autocomplete({

                source: function (request, response) {
                    debugger;
                    // var ntxt = request
                    var IsSrchValid = false;
                    //IsSrchValid = request.term.length >= 3 && (ntxt.length == 0 || ntxt.length == 1) ? true : ntxt.length > 1 && ntxt[1].length >= 3 ? true : false;
                    IsSrchValid = request.term.length >= 3 ? true : false;
                    if (IsSrchValid) {
                        var res = ajaxReq('Library/GetSearchResult', { searchText: request.term, search_type: 'fiberlink' }, true, function (data) {
                            if (data.length == 0) {
                                var result = [
                                    {
                                        label: 'No match Found'
                                    }
                                ];
                                response(result);
                                $("#txtfiberlink").removeClass('ui-autocomplete-loading');
                            }
                            else {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.Link_Id,
                                        value: item.network_id,
                                    }
                                }))
                            }
                        }, true, false);
                    }
                    else { $("#txtfiberlink").removeClass('ui-autocomplete-loading'); }
                },
                minLength: 3,
                select: function (event, ui) {
                    debugger;
                    if (ui.item.label == 'No match Found') {
                        // this prevents "no results" from being selected
                        event.preventDefault();
                        $("#txtfiberlink").removeClass('ui-autocomplete-loading');
                    }
                    else {
                        event.preventDefault();

                        if (ui.item.networ_id != null) {
                            $("#txtfiberlink").val(ui.item.label);
                            $("#hdnFiberLinkNetworkId").val(ui.item.value);

                            $("#txtfiberlink").removeClass('ui-autocomplete-loading');
                        }
                        else {
                            $("#txtfiberlink").val(ui.item.label);
                            $("#hdnFiberLinkNetworkId").val(ui.item.value);
                        }
                    }
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });
        });
    });


    function validate() {
        debugger;
        if ($("#txtfiberlink").val() == "") {
            $("#txtfiberlink").addClass("error-border");
            alert('The field Fiber Link is required.'); return false;
        }

        if ($("#txtODF1").val() == $("#txtODF2").val()) {
            $("#txtODF1").addClass("error-border");
            $("#txtODF2").addClass("error-border");
            alert('The fields ODF1 and ODF2 can not be same');
            return false;
        }

        var number = Number($("#txtRequiredCore").val());

        if (isNaN(number)) {
            $("#btnSubmit").prop("disabled", false);
            $("#txtRequiredCore").addClass("error-border");
            alert("Invalid input: " + "Please enter a valid number.");
            return false;

        } else if (number < 1 || number > 48) {
            $("#btnSubmit").prop("disabled", false);
            $("#txtRequiredCore").addClass("error-border");
            alert("Invalid input: " + "The required core must be between 1 and 48.");
            return false;
        }
        else {
            si.saveCorePlanLogic();
        }
    }

    $("#btncreatelinkCPL").on("click", function () {
        $('#txtfiberlink').val('');
        $('#hdnCheckforCLP').val('fined');
        si.createFiberlinkCPL();
    });
  /*  $('#txtRequiredCore').on('keypress', function (event) {
        if (event.which >= 48 && event.which <= 57) {
            //event.preventDefault();  
            if ($(this).val().length === 0 && event.which === 48) {
                event.preventDefault();
            }
        } else {
            event.preventDefault();       
        }
    });*/
    $('#txtRequiredCore').on('keypress', function (event) {
        if (event.which >= 48 && event.which <= 57) {
            var value = $(this).val() + String.fromCharCode(event.which);
            if (/^0\d/.test(value) || value === '0' || value === '00') {
                event.preventDefault();
            }
        } else {
            event.preventDefault();
        }
    });

    $('#txtRequiredCore').on('paste', function (event) {
        let clipboardData = event.originalEvent.clipboardData || window.clipboardData;
        let pastedData = clipboardData.getData('Text');
        if (/^0\d*$/.test(pastedData) || !/^\d+$/.test(pastedData)) {
            event.preventDefault();
        }
    });



</script>