@model Models.Legend
@using SmartInventory.Settings;
<style>
    #maindiv {
        background-color: white !important;
    }

    .slayer {
        display: flex;
        align-items: flex-end;
    }

    #subLayer img {
        width: 17px;
    }

    #subLayer span {
        margin-left: 8px;
    }

    #dvLegend {
        width: 50px;
        float: left;
        height: auto;
        background-color: #1b9461 !important;
        display: none;
    }
    .dash-dot {
        /*height: 50px;*/
        width: 25px;
        background: radial-gradient(circle at center,#000 2px,transparent 3px) 5px 50%/20px 5px repeat-x, repeating-linear-gradient(to right,#000,#000 10px,transparent 10px,transparent 20px) center/100% 3px no-repeat;
    }
</style>

<!DOCTYPE html>
<div class="libTabContentLegend">
    <div id="LegendDetails">
        <div id="staticLegned">
            <div id="maindiv">
                <div id="dvLegendContent" class="dvLegendContent">
                    @if (Model.legendList != null && Model.legendList.Count > 0)
                    {
                        var ctrD = 0;
                        var ctrT = 0;
                        var groupItem = (from c in Model.legendList
                                         select c.group_name)
                                                .Distinct();
                        //.OrderBy(x => x);
                        <div>
                            <div class="d-fx justify-content-between mb-15">
                                <div id="subLayer" class="slayer">
                                    <img src="Content/images/icons/lib/Legend/Planned.svg" class="mr-05" alt="printLayerImg">Planned
                                </div>
                                @if (ApplicationSettings.IsDormantEnabled)
                                {
                                <div id="subLayer" class="slayer">
                                    <img src="Content/images/icons/lib/Legend/Dorment.svg" class="mr-05" alt="printLayerImg">Dormant
                                </div>
                                }
                                <div id="subLayer" class="slayer">
                                    <img src="Content/images/icons/lib/Legend/AsBuilt.svg" class="mr-05" alt="printLayerImg">As Built
                                </div>
                            </div>

                            @foreach (var grpLayer in groupItem)
                            {
                                <div id="LayerTitle" class="l-title">@grpLayer</div>

                                <div class="d-fx flex-dir-column">
                                    @if (ApplicationSettings.IsWMSLayerLoadingEnabled)
                                    {

                                            foreach (var item in Model.legendList.Where(x => x.group_name == grpLayer).ToList())
                                            {

                                                if (item.group_name == "Duct" && ctrD == 0)
                                                {
                                                         ctrD = ctrD + 1;
                                                    <div id="subLayer" class="d-flex bm-nl-child">
                                                      
                                                        <img src="@(String.Format("{0}{1}{2}", Model.baseUrl, "Content/images/icons/lib/Legend/", @item.icon_path))" alt="printLayerImg" style="width:@(item.layer_id == 19 ? "35px" : "16px;")">                                                                                          
                                                     </div>
                                                }

                                                if (item.group_name == "Trench" && ctrT == 0)
                                                {
                                                    ctrT = ctrT + 1;
                                                    <div id="subLayer" class="d-flex bm-nl-child">
                                                        <img src="@(String.Format("{0}{1}{2}", Model.baseUrl, "Content/images/icons/lib/Legend/", @item.icon_path))" alt="printLayerImg" style="width:@(item.layer_id == 19 ? "35px" : "16px;")">                                                   
                                                    </div>
                                                }
                                                if (item.group_name != "Trench" && item.group_name != "Duct")
                                                {
                                                    <div id="subLayer" class="d-flex bm-nl-child">
                                                        <img src="@(String.Format("{0}{1}{2}", Model.baseUrl, "Content/images/icons/lib/Legend/", @item.icon_path))" alt="printLayerImg" style="width:@(item.layer_id == 19 ? "35px" : "16px;")">

                                                        @if (item.group_name == "Feeder Cable" || item.group_name == "Distribution Cable" || item.group_name == "Access Cable")
                                                        {
                                                            <span>@item.sub_Layer.Substring(0, 8)</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@item.sub_Layer</span>
                                                        }
                                                    </div>
                                                }




                                            }
                                     }
                                            else
                                            {
                                                foreach (var item in Model.legendList.Where(x => x.group_name == grpLayer).ToList())
                                                {
                                                    <div id = "subLayer" class="d-flex bm-nl-child">

                                                        @if (item.group_name == "Boundary")
                                        {
                                                            <div id="@item.layer_id" style="outline-width: thin; width: 15px; height: 10px; background-color: @item.color_code_hex; outline-style: solid; outline-color: @item.outline_color_hex;"></div>
                                                        }
                                                        else if (item.group_name == "Feeder Cable" || item.group_name == "Distribution Cable" || item.group_name == "Access Cable" || item.group_name.ToUpper() == "DUCT" || item.group_name.ToUpper() == "TRENCH")
                                                        {
                                                            if (item.sub_Layer.Contains("As-Built"))
                                                            {
                                                                <span style=" width: 64px; border-bottom:3px solid; color: @item.color_code_hex; margin-left:0"></span>
                                                            }
                                                            else if (item.sub_Layer.Contains("Dormant"))
                                                            {
                                                                <span style="width: 64px; height: 3px; background: repeating-linear-gradient(90deg,@item.color_code_hex 0 20px,#0000 0 23px); margin-left: 0"></span>
                                                                @*<div class="dash-dot"></div>*@
                                                            }
                                                            else
                                                            {
                                                                <span style=" width: 64px; border-bottom: 3px dashed; color: @item.color_code_hex; margin-left: 0"></span>
                                                            }
                                                        }

                                                        else
                                                        {
                                                            <img src="@(String.Format("{0}{1}{2}", Model.baseUrl, "Content/images/icons/lib/Legend/", @item.icon_path))" alt="printLayerImg" style="width:@(item.layer_id == 19 ? "35px" : "20px;")">
                                                        }
                                                        @*<img src="@(String.Format("{0}{1}{2}", Model.baseUrl, "Content/images/icons/lib/Legend/", @item.icon_path))" alt="printLayerImg" style="width:@(item.layer_id== 19 ? "35px" : "16px;")">*@
                                                        @if (item.group_name == "Feeder Cable" || item.group_name == "Distribution Cable" || item.group_name == "Access Cable")
                                                        {
                                                            <span>@item.sub_Layer.Substring(0, 8)</span>
                                                        }

                                                        else
                                                        { <span>@item.sub_Layer</span>}

                                                    </div>
                                                    }



                                                    }

                                                </div>
                                            }
                                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</div>