@model  Models.AssociateLineEntity
@using Models;

@helper pageMessage()
{

    { Html.RenderPartial("_PageMessage", Model.pageMsg); }

}

<style>
    .disabledCheckbox {
        background: #ccc !important;
        color: #ccc !important;
        cursor: no-drop !important;
        pointer-events: none !important;
        opacity: 0.5 !important;
    }

    .disableRow {
        background-color: #ffff0042;
    }

    .table-responsive {
        min-height: .01%;
        overflow: auto;
        max-height: 342px;
    }

    .TerminationPoint {
        background-color: #fcaf88 !important;
    }
</style>
<!DOCTYPE html>
<div>
    @using (Ajax.BeginForm("SaveLineEntityAssociate", "Library", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dvModalBody"
    },
            new { id = "frmAssociateLineEntity", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.parent_system_id)
        @Html.HiddenFor(m => m.parent_entity_type)
        @Html.HiddenFor(m => m.parent_multi_association)
        <!-- Message Pop-up -->
        @pageMessage()
        if (Model.listLineEntityInfo.Count() > 0)
        {
            <input type="hidden" id="hdn_isgeoupdateallowed" value="@SmartInventory.Settings.ApplicationSettings.IsGeometryUpdateOnAssociationAllowed.ToString()"/>
            <div class="d-flex tablePad-bn jc-sb">
                <b>@Resources.Resources.SI_OSP_GBL_GBL_GBL_035:&nbsp; @Model.listLineEntityInfo.Count()</b>
                <div class="d-flex">
                    <div class="asso--box ass--backY">
                    </div>
                    <b class="ml-10">@Resources.Resources.SI_OSP_CAB_NET_RPT_001</b>
                </div>
                <div class="d-flex ml-10">
                    <div class="asso--box ass--backR">
                    </div>
                    <b class="ml-10">@Resources.Resources.SI_OSP_CAB_NET_RPT_002</b>
                </div>
                <b>@Resources.Resources.SI_OSP_GBL_GBL_GBL_001:&nbsp;&nbsp;@Model.parent_network_id</b>
                @*<div style="float: right;text-transform: uppercase;margin-right: 62px;">Is Multi Association Allowed For <b>@Model.parent_entity_type</b> : <b>@(Model.parent_multi_association?"YES":"NO")</b></div>*@

            </div>
            <div class="TabContent--max-over">
                <div class="table-responsive">
                    <table id="tblLineEnLstInfo" class="grid" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" style="opacity: 1;  position: inherit;" id="checkAllAssociation" onchange="si.checkAllAssociation();">
                                    <span class="ml-05">@Resources.Resources.SI_OSP_GBL_GBL_GBL_037</span>
                                </th>
                                <th scope="col">@Resources.Resources.SI_OSP_GBL_GBL_GBL_001</th>
                                <th scope="col">Display Name</th>
                                <th scope="col">@Resources.Resources.SI_OSP_GBL_NET_FRM_020</th>
                                <th scope="col">@Resources.Resources.SI_OSP_CAB_NET_RPT_003</th>
                                <th scope="col">@Resources.Resources.SI_OSP_CAB_NET_RPT_004</th>
                                <th scope="col">@Resources.Resources.SI_OSP_GBL_GBL_GBL_028</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.listLineEntityInfo.Count; i++)
                            {

                                var geomType = "Point";
                                <tr class="@(i%2==0?"alt":"") @(Model.listLineEntityInfo[i].is_disabled?"disableRow":"") @(Model.listLineEntityInfo[i].is_termination_point ? "TerminationPoint" : "ass--backR")">
                                    <td>



                                        @Html.CheckBoxFor(m => Model.listLineEntityInfo[i].is_associated, new
                                       {
                                           systemId = Model.listLineEntityInfo[i].system_id,
                                           entityType = Model.listLineEntityInfo[i].entity_type,
                                           network_id = Model.listLineEntityInfo[i].entity_network_id,
                                           onchange = "si.checkAssociation(this,'" + Model.parent_entity_type + "','" + Model.listLineEntityInfo[i].is_multi_association + "')",
                                           id = "chk_" + (Model.listLineEntityInfo[i].system_id) + "_" + Model.listLineEntityInfo[i].entity_type + "",
                                           @class = (Model.listLineEntityInfo[i].is_disabled || Model.listLineEntityInfo[i].is_termination_point) == true ? "disabledcheckbox" : "",
                                           data_geom_type = Model.listLineEntityInfo[i].geom_type
                                       })


                                        @Html.HiddenFor(m => m.listLineEntityInfo[i].is_associated, new { id = "hdnIsAssociate_" + Model.listLineEntityInfo[i].entity_type + "_" + Model.listLineEntityInfo[i].system_id, entityType = Model.listLineEntityInfo[i].entity_type })
                                    </td>
                                    <td>
                                        <span>@Model.listLineEntityInfo[i].entity_network_id</span>
                                        @Html.HiddenFor(m => m.listLineEntityInfo[i].entity_network_id)

                                    </td>
                                    <td>
                                        <span>@Model.listLineEntityInfo[i].display_name</span>
                                        @Html.HiddenFor(m => m.listLineEntityInfo[i].display_name)

                                    </td>
                                    <td>
                                        @Html.HiddenFor(m => m.listLineEntityInfo[i].system_id)
                                        <span>@(Model.listLineEntityInfo[i].entity_title)</span>
                                        @Html.HiddenFor(m => m.listLineEntityInfo[i].entity_type)
                                    </td>
                                    <td>@Model.listLineEntityInfo[i].associated_by</td>
                                    <td>@Model.listLineEntityInfo[i].associated_on</td>
                                    <td>
                                        @if (Model.listLineEntityInfo[i].entity_type == EntityType.Duct.ToString() || Model.listLineEntityInfo[i].entity_type == EntityType.Trench.ToString() || Model.listLineEntityInfo[i].entity_type == EntityType.Cable.ToString())
                                        {
                                            geomType = "Line";
                                        }
                                        <a href="#" onclick="si.ShowEntityOnMap('@Model.listLineEntityInfo[i].system_id','@Model.listLineEntityInfo[i].entity_type','@geomType');$(popup.DE.MinimizeModel).trigger('click');" class="dropdown-toggle" title="@Resources.Resources.SI_OSP_GBL_GBL_GBL_036">
                                            <i class="fa fa-globe fa-fw m-r-xs"></i>
                                        </a>
                                        <a href="#" onclick="si.viewEntityAssociation('@Model.listLineEntityInfo[i].system_id', '@Model.listLineEntityInfo[i].entity_type','@Model.listLineEntityInfo[i].entity_network_id')" class="dropdown-toggle" title="@Resources.Resources.SI_OSP_CAB_NET_RPT_005">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex ModalFooter" id="dvBtnAction">
                <a href="javascript:void(0);" class="btn btn-default ml-auto mr-01" data-dismiss="modal" id="btnCancel">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_006</a>
                <button type="button" class="btn btn-primary" style="display:none;" id="btnExportAssociation">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_010</button>
                <button type="button" class="btn btn-primary @(Model.parent_is_buried?"dvdisabled":"")" id="btnSaveAssociation" onclick="si.saveLineEntityAssociation();">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_004</button>

            </div>
        }
        else
        {
            <div class="nr-found">
                <span> @Resources.Resources.SI_OSP_GBL_GBL_RPT_001</span>
            </div>
        }
    }
</div>
<script>
    $(function () {
        if ('@Model.listLineEntityInfo.Count()' > 0 && $('#tblLineEnLstInfo input:checkbox:not(".disabledcheckbox"):checked').length == '@Model.listLineEntityInfo.Where(m=>m.is_disabled==false).Count()') {
            $('#tblLineEnLstInfo #checkAllAssociation').prop("checked", true);
        }
        if ('@Model.listLineEntityInfo.Count()' == 0) {
            $('#tblLineEnLstInfo').hide();
        }
        else {
            $('#tblLineEnLstInfo').show();
            //setTimeout(function () {
            $('#tblLineEnLstInfo tbody tr').each(function (i, val) {
                //$("#lstShaftInfo_" + i + "__shaft_position").val($("#shaft_position_" + i + "_Info").val());
            });
            // }, 500);
        }
        if ($('#tblLineEnLstInfo input:checkbox:checked').length > 0) {
            $('#btnExportAssociation').show();
        }
        $('#closeModalPopup').on('click', function () {
            si.removeSrchHoverItem();
        });
        if ($('#tblLineEnLstInfo tbody :checkbox:checked').length > 0 && (($('#tblLineEnLstInfo tbody :checkbox:checked:not(".disabledcheckbox")').length) + ($('#tblLineEnLstInfo tbody .disabledcheckbox').length)) == $('#tblLineEnLstInfo tbody tr').length) {
            $('#checkAllAssociation').prop("checked", true);
        }
    });

</script>
