@model Models.TrenchCustomerDetailsList
<style>
    .addChargeBtn {
        width: 40px;
        text-align: center;
        border-radius: 25px;
        height: 40px;
    }
</style>
<div class="libDetail">
    <fieldset class="the-fieldset">
        <legend class="the-legend">Customer Details</legend>

        <div class="form-group" style="text-align: right; margin-top: -19px; padding-bottom: 0px; display: @(Model.listTrenchCustomerDetailsRecords.Count > 0?"block;":"none;")" id="dvAddTrenchCustomerDetails2">
            <span value="Export" style="margin-right: 10px; cursor: pointer; font-size: 1.3em;" title="@Resources.Resources.SI_OSP_GBL_NET_FRM_056"
                  onclick="si.TrenchCustomerDetails.addCustomerDetails(0,'@Model.trench_id','Trench')">
                <i class="glyphicon glyphicon-plus"></i>
                @Resources.Resources.SI_OSP_GBL_NET_FRM_056
            </span>
        </div>

        <div class="form-group" style="text-align:center;display:@(Model.listTrenchCustomerDetailsRecords.Count == 0?"block;":"none;")" id="dvAddTrenchCustomerDetails1">
            <button type="button" class="btn btn-primary addChargeBtn glyphicon glyphicon-plus" onclick="si.TrenchCustomerDetails.addCustomerDetails(0,'@Model.trench_id','Trench')"></button>
        </div>

        <div style="max-height: 400px; padding-top: 10px; margin-top: -21px; overflow-y: auto; " id="dvTrenchCustomerDetailsList">
            @Html.Partial("_TrenchCustomerDetailsList", Model.listTrenchCustomerDetailsRecords)
        </div>
    </fieldset>
    @*<fieldset class="the-fieldset  attach">
            <legend class="the-legend">@Resources.Resources.SI_OSP_GBL_NET_FRM_047</legend>
            <div class="col-md-12 col-sm-12 UploadAction" id="uploadcustomerwisedata" style="display:none;">
                <input type="hidden" id="hdnCustomerDetails_id" value="0" />
                <div class="col-md-6 col-sm-6" id="divDocumentUpload" style="display:flex; text-decoration:underline;">
                    <input type="file" class="file" name="DocUpload" id="DocUpload" multiple>
                    <a href="#" onclick="si.TrenchCustomerDetails.attachment.upload(@Model.trench_id,'Trench');" value="Upload" id="btnUploadDocument">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_008</a>
                    <a href="#" onclick="si.TrenchCustomerDetails.clear();" value="Clear" id="btnClearDocument">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_009</a>
                </div>
                <div class="col-md-6 col-sm-6" id="divDocumentUpload"></div>
                <div id="divTrenchCustomerDocument" class="tab-pane y-scroll">
                @Html.Partial("_TrenchCustomerDetailsFiles", Model.lstDocuments)
            </div>
            </div>
        </fieldset>*@
</div>
