@model Models.PODAssociation
@using Models;
@using SmartInventory.Settings;

@{
    var layerDetail = ApplicationSettings.listLayerDetails.Count > 0 ? ApplicationSettings.listLayerDetails.Where(x => x.layer_name.ToUpper() == EntityType.POD.ToString().ToUpper()).FirstOrDefault() : null;
}

@Html.Hidden("primary_pod_system_id")
@Html.Hidden("secondary_pod_system_id")

<!DOCTYPE html>
<div class="form-group">
    <div class="tab-content">
        <fieldset class="the-fieldset">
            <legend class="the-legend">@Resources.Resources.SI_OSP_ONT_NET_FRM_009 @layerDetail.layer_title</legend>

            <div id="Grid">
                <div class="tab-pane active" id="divPrimaryPODAssDetail">

                    @if (Model.lstPODAssociation.Count > 0)
                    {
                        <table id="tblLoopDetail" class="grid" cellpadding="0" cellspacing="0">

                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@Resources.Resources.SI_OSP_GBL_NET_RPT_070</th>
                                    <th>@Resources.Resources.SI_OSP_GBL_NET_FRM_059</th>
                                    <th>@Resources.Resources.SI_OSP_GBL_GBL_GBL_023</th>
                                    <th>@Resources.Resources.SI_OSP_GBL_GBL_GBL_102</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.lstPODAssociation.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="radio" class="rButton" id="rbPrimaryPODAssc" name="rbPrimaryPODAssc" value=@Model.lstPODAssociation[i].system_id>

                                        </td>
                                        <td>
                                            @Model.lstPODAssociation[i].network_id-(@Model.lstPODAssociation[i].network_status)
                                        </td>
                                        <td>
                                            @Model.lstPODAssociation[i].pod_name
                                        </td>
                                        <td>
                                            @Model.lstPODAssociation[i].pod_type
                                        </td>
                                        <td>
                                            @Model.lstPODAssociation[i].distance
                                        </td>
                                    </tr>
                                    <tr></tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="nr-found">
                            <span>@Resources.Resources.SI_OSP_GBL_NET_RPT_042</span>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
        <fieldset class="the-fieldset">
            <legend class="the-legend">@Resources.Resources.SI_OSP_ONT_NET_FRM_010 @layerDetail.layer_title</legend>

            <div id="Grid">
                <div class="tab-pane active" id="divSecondaryPODAssDetail">

                    @if (Model.lstPODAssociation.Count > 0)
                    {

                        <table id="tblLoopDetail" class="grid" cellpadding="0" cellspacing="0">

                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@Resources.Resources.SI_OSP_GBL_NET_RPT_070</th>
                                    <th>@Resources.Resources.SI_OSP_GBL_NET_FRM_059</th>
                                    <th>@Resources.Resources.SI_OSP_GBL_GBL_GBL_023</th>
                                    <th>@Resources.Resources.SI_OSP_GBL_GBL_GBL_102</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.lstPODAssociation.Count; i++)
                                {

                                    <tr>
                                        <td>
                                            <input type="radio" class="rButton" id="rbSecondaryPODAssc" name="rbSecondaryPODAssc" value=@Model.lstPODAssociation[i].system_id>
                                        </td>
                                        <td>
                                            @Model.lstPODAssociation[i].network_id-(@Model.lstPODAssociation[i].network_status)
                                        </td>
                                        <td>
                                            @Model.lstPODAssociation[i].pod_name
                                        </td>
                                        <td>
                                            @Model.lstPODAssociation[i].pod_type
                                        </td>
                                        <td>
                                            @Model.lstPODAssociation[i].distance
                                        </td>
                                    </tr>
                                    <tr></tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="nr-found">
                            <span>@Resources.Resources.SI_OSP_GBL_NET_RPT_042</span>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            if ('@Model.primary_pod_system_id' != 0 && '@Model.primary_pod_system_id' != '') {
                    $("input[name=rbPrimaryPODAssc][value=" + $('#primary_pod_system_id').val() + "]").attr('checked', 'checked');
                }
            if ('@Model.secondary_pod_system_id' != 0 && '@Model.secondary_pod_system_id' != '') {
                    $("input[name=rbSecondaryPODAssc][value=" + $('#secondary_pod_system_id').val() + "]").attr('checked', 'checked');
                }
        });
        $('input[name=rbPrimaryPODAssc]').change(function () {
            var rbPrimaryValue = $('input[name=rbPrimaryPODAssc]:checked').val();
            $('#primary_pod_system_id').val(rbPrimaryValue);
        })
        $('input[name=rbSecondaryPODAssc]').change(function () {
            var rbSecondaryValue = $('input[name=rbSecondaryPODAssc]:checked').val();
            $('#secondary_pod_system_id').val(rbSecondaryValue);
        })
    </script>

</div>