@*@model  IEnumerable<Models.BomBoqInfo>*@
@model Models.BomBoqInfoSummary
@using SmartInventory.Settings;
@{
    var grpmasterList = @Model.lstBomBoqInfo.Where(m => m.is_master == true).ToList();
    //var jsStatus = @Model.status;
}

<style>
    .ui-draggable, .ui-droppable {
        background-position: top;
    }


    .grid tbody td input[type=text] {
        width: 50px;
    }

    .content {
        height: auto !important;
    }

    .modal-dialog {
         width: 1330px;
    }

    #ModalPopUp .modal-dialog {
        left: 0 !important;
        right:0 !important;
        top: 5% !important;
        margin:0 auto !important;
    }

    /* .grid thead th, .grid tbody td {
        width: 90px;
    }*/
    .grid {
        border-top: none;
        border-bottom: none;
        white-space:normal;
    }

        .grid table {
            border-collapse: collapse;
            border-top: none;
            border-bottom: none;
        }

        .grid thead tr, .grid tbody tr {
            display: flex;
           /* align-items: center;*/
        }

        .grid thead th {
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            /*height: 34px;*/
            line-height: 16px;
            position: sticky;
            text-align:left;
            border-left:none;
        }

        .grid tbody td {
            /*width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;*/
            min-height: 33px;
           /* line-height: 28px;*/
        }

            .grid tbody td:last-child {
                border-right: none;
            }

    .content .grid tbody td:last-child {
        border-right: 1px solid var(--tableBorder);
    }

    /*, .ui-state-active .ui-state-active td {
        background: rgba(0,0,0,0.05) !important;
    }*/

    .grid tbody td .btn {
        padding: 1px 6px !important;
    }

    .ui-accordion .ui-accordion-content {
        padding: 0 !important;
    }

    .ui-state-default, .th-Outer {
        border: none;
    }

    .ui-accordion .ui-accordion-header, .th-Outer {
        @if (@Model.status == "TEMP")
        {
            @("width: 1788!important;");

        } else
        {
             @("width: 2138px!important;");

            }
        padding: 0;
        margin: 0;
        }

    .bom-max-h {
        overflow:hidden;
    }

    .theaderOverflow {
        overflow: hidden;
    }
    .newScroller{
        width:1298px;
        overflow-x:auto;
        overflow-y:hidden;
    }

    .tbodyOverflow {

         @if (@Model.status == "TEMP")
         {
            @("width: 1788!important;");

         } else
         {
             @("width: 2251!important;");

             }
             overflow-y:auto;
             overflow-x:hidden;
             max-height: 250px;
             scrollbar-color: #c9d0d8 #efefef;
             scrollbar-width: thin;
         }

    .CustomSuccess {
        color: #449d44;
        background-color: white;
        border-radius: 4px 0px 0px 4px;
        border-color: #949292;
        outline: none;
        padding: 2px 8px;
        border-right-width: 0px;
        font-size: 12px;
    }

    .CustomSuccessDisabled {
        color: gray;
        background-color: white;
        border-radius: 4px 0px 0px 4px;
        border-color: #949292;
        outline: none;
        padding: 2px 8px;
        border-right-width: 0px;
        font-size: 12px;
        cursor: not-allowed !important;
    }

        .CustomSuccessDisabled:hover, .CustomSuccessDisabled:focus, .CustomSuccessDisabled:active {
            color: gray;
            background-color: white !important;
        }

    .CustomError {
        color: red;
        background-color: white;
        border-radius: 0px 4px 4px 0px;
        border-color: #949292;
        outline: none;
        padding: 2px 12px;
        margin-left: -4px;
        font-size: 12px;
    }

    .CustomErrorDisabled {
        color: gray;
        background-color: white;
        border-radius: 0px 4px 4px 0px;
        border-color: #949292;
        outline: none;
        padding: 2px 12px;
        margin-left: -4px;
        font-size: 12px;
        cursor: not-allowed !important;
    }

        .CustomErrorDisabled:hover, .CustomErrorDisabled:focus, .CustomErrorDisabled:active {
            color: gray;
            background-color: white !important;
        }
        @if (@Model.status == "TEMP")
        {
            @("#th-Outer{width: 1788px !important;}");

        }
    .bodytOuter{
        width:1788px;
    }


    h3.NoChild > span.ui-icon-plus {
        display: none;
    }

    h3.NoChild > span.ui-icon-minus {
        display: none;
    }
    .warning-text{
        color:#ff0000;
        font-size:1.4rem;
    }

    .hide_element{
        display:none;
    }
    .thTd00 {
        width: 100px !important;
    }

    .thTd01 {
        width: 130px !important;
    }
    .grid tbody td:first-child {      
        padding-left: 36px;
    }
    .thTd02 {
        width: 90px !important;
    }
    .thTd03 {
        width: 110px !important;
    }
    .thTd04 {
        width: 110px !important;
    }
    .thTd05 {
        width: 152px !important;
    }
    .thTd06 {
        width: 76px !important;
    }
    .thTd07 {
        width: 155px !important;
    }
    .thTd08 {
        width: 170px !important;
    }
    .thTd09 {
        width: 100px !important;
    }
    .thTd10 {
        width: 148px !important;
    }
    .thTd11 {
        width: 83px !important;
    }
    .thTd12 {
        width: 104px !important;
    }
    .thTd13 {
        width: 119px !important;
    }
    .thTd14 {
        width: 82px !important;
    }
    .thTd15 {
        width: 110px !important;
    }
    .thTd16 {
        width: 155px !important;
    }
    .thTd17, .thTd18 {
       width: 350px !important;
    }
    .thTd19 {
        width: 85px !important;
    }
    .thTd20 {
        width: 75px !important;
    }
    .thTd21 {
        width:84px !important;
    }
    .thTd22 {
        width: 103px !important;
    }
    .thTd03, .thTd04, .thTd05, thTd06, .thTd17, .thTd18, .thTd19 {
        white-space: normal !important;
        word-break: break-word;
    }

    .ui-icon {
        width: 18px !important;
        height: 18px !important;
        padding: 0.4rem;
        background-color: #CCCCCC;
        margin-top: 0px !important;
    }
    .subChild {
        border: 1px solid #d3e3da !important;
    }
        .subChild tr {
            background: #ebebeb !important;
        }

    .thTd18, .thTd14, .thTd06, .thTd07, .thTd09 {
        display: none;
    }
    .ui-accordion .ui-accordion-header .ui-accordion-header-icon{
        top:27%;
    }
    .grid thead th:last-child{
        text-align:center;
    }

</style>

<div class="space-pad bom-max-h">
    @if (@Model.status != "NA")
    {
        <div class="d-flex mb-01">
            <button onclick="ExportBOMBOQ('@Model.bom_boq_id','@Model.status')" class="btn exp--btn ml-auto"><span class="fa fa-download"></span> Export</button>
        </div>
        <div class="newScroller">
            <div id="th-Outer" class="th-Outer">
                <table border="1" class="grid">
                    <thead>
                        <tr>
                            <th class="thTd01" title="fsa_id">FSA ID</th>
                            <th class="thTd02">FSA Name</th>
                            <th class="thTd04">Entity Class</th>
                            <th class="thTd03">Entity Type</th>
                            <th class="thTd05">Model Name</th>
                            <th class="thTd15">Item Code</th>
                            <th class="thTd17">Short Description</th>
                            <th class="thTd18">Long Description</th>
                            <th class="thTd14">GIS UOM</th>
                            <th class="thTd19">UOM</th>
                            <th class="thTd06">GIS QTY</th>
                            <th class="thTd07" title="Overhead Percentage">Overhead Percentage</th>
                            @if (!Model.status.Equals("temp", StringComparison.OrdinalIgnoreCase))
                            {
                                <th class="thTd08">Construction BOM QTY</th>
                                <th class="thTd09">Logical QTY</th>
                                <th class="thTd10" title="Additional NON Design Material QTY">Additional NON Design Material QTY</th>
                            }
                            else
                            {
                                <th class="thTd08">Design QTY</th>
                            }
                            <th class="thTd11">Final QTY</th>
                            <th class="thTd12">Cost Per Unit</th>
                            <th class="thTd13">JFP Total Capex</th>
                            <th class="thTd16">PTS Code</th>
                            <th class="thTd20">Revision</th>
                            <th class="thTd21">JC SAP ID</th>
                            <th class="thTd22">JC Name</th>
                            @if (!Model.status.Equals("temp", StringComparison.OrdinalIgnoreCase))
                            {
                                <th class="thTd00" title="Action" align="center">Action</th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="bodytOuter">
                <div id="accordion" class="tbodyOverflow">
                    @foreach (var grpitem in grpmasterList)
                    {
                        <h3 class='@(Model.lstBomBoqInfo.Where(m => m.item_master_code == grpitem.item_master_code && m.is_master != true).ToList().Count == 0 ? "NoChild" : "WithChild")'>
                            @if (@grpitem.is_master == true)
                            {
                                <table class="grid">
                                    <tbody>
                                        <tr>
                                            <td class="thTd01" title="@grpitem.fsa_id">@grpitem.fsa_id </td>
                                            <td class="thTd02" title="@grpitem.fsa_name">@grpitem.fsa_name</td>
                                            <td class="thTd04" title="@grpitem.entity_class">@grpitem.entity_class</td>
                                            <td class="thTd03" title="@grpitem.entity_type">@grpitem.entity_type</td>
                                            <td class="thTd05" title="@grpitem.specification">@grpitem.specification</td>
                                            <td class="thTd15"> <span style="display:none;"> @grpitem.item_code</span></td>
                                            <td class="thTd17" title="@grpitem.sub_category_1">@grpitem.sub_category_1</td>
                                            <td class="thTd18" title="@grpitem.sub_category_2">@grpitem.sub_category_2</td>
                                            <td class="thTd14" title="@grpitem.gis_uom">@grpitem.gis_uom</td>
                                            <td class="thTd19" title="@grpitem.uom_sap">@grpitem.uom_sap</td>
                                            <td class="thTd06" title="@grpitem.gis_qty">@grpitem.gis_qty</td>
                                            <td class="thTd07" title="@grpitem.overhead_percentage">@grpitem.overhead_percentage</td>
                                            @if (!Model.status.Equals("temp", StringComparison.OrdinalIgnoreCase))
                                            {
                                                <td class="thTd08" title="">
                                                    @Html.TextBox(@grpitem.item_code + "_" + @grpitem.id + "_" + "design_qty", @grpitem.design_qty, new { @Maxlength = 5, @onkeypress = "return allowOnlyNumber(event);", @onkeyup = "return CalculateTotal('" + @grpitem.item_code + "_" + @grpitem.id + "');", @dataismaster = "Y", @dataorgdesignqty = @grpitem.original_design_qty, @dataid = @grpitem.id, @dataitemcode = @grpitem.item_code, @class = "form-control " + (@grpitem.is_non_design_item == true ? "hide_element" : ""), @Id = @grpitem.item_code + "_" + @grpitem.id + "_" + "design_qty", @ParentGroup = @grpitem.item_code })
                                                    <span class='@(grpitem.is_non_design_item == true ? "" : "hide_element")'>@grpitem.design_qty</span>
                                                </td>
                                                <td class="thTd09" title="">
                                                    @Html.TextBox(@grpitem.item_code + "_" + @grpitem.id + "_" + "additional_qty", @grpitem.additional_qty, new { @Maxlength = 5, @onkeypress = "return allowOnlyNumber(event);", @onkeyup = "return CalculateTotal('" + @grpitem.item_code + "_" + @grpitem.id + "');", @dataismaster = "Y", @dataorgdesignqty = @grpitem.original_design_qty, @dataid = @grpitem.id, @dataitemcode = @grpitem.item_code, @class = "form-control " + (@grpitem.is_non_design_item == true ? "hide_element" : ""), @Id = @grpitem.item_code + "_" + @grpitem.id + "_" + "additional_qty", @ParentGroup = @grpitem.item_code })
                                                    <span class='@(grpitem.is_non_design_item == true ? "" : "hide_element")'>@grpitem.additional_qty</span>
                                                </td>
                                                <td class="thTd10" >
                                                    @Html.TextBox(@grpitem.additional_non_design_material_qty + "_" + @grpitem.id + "_" + "additional_non_design_material_qty", @grpitem.additional_non_design_material_qty, new { @Maxlength = 5, @onkeypress = "return allowOnlyNumber(event);", @onkeyup = "return CalculateTotal('" + @grpitem.item_code + "_" + @grpitem.id + "');", @dataismaster = "Y", @dataorgdesignqty = @grpitem.original_design_qty, @dataid = @grpitem.id, @dataitemcode = @grpitem.item_code, @class = "form-control " + (@grpitem.is_non_design_item == true && grpitem.is_master == false ? "" : "hide_element"), @Id = @grpitem.item_code + "_" + @grpitem.id + "_" + "additional_non_design_material_qty", @ParentGroup = @grpitem.item_code })
                                                    <span class='@(grpitem.is_non_design_item == true && grpitem.is_master == false ? "hide_element" : "")'>@grpitem.additional_non_design_material_qty</span>
                                                </td>

                                            }
                                            else
                                            {
                                                <td class="thTd08" title="@grpitem.design_qty">@grpitem.design_qty</td>

                                            }
                                            <td class="thTd11" title="@grpitem.final_qty">
                                                <span id='@(grpitem.item_code + "_" + grpitem.id + "_" + "final_qty")'>@grpitem.final_qty.ToString("0.00")</span>
                                                @*@Html.Label(@grpitem.final_qty.ToString("##,#.##"), new { @Id = @grpitem.item_code + "_" + @grpitem.id + "_" + "final_qty" })*@
                                            </td>
                                            <td class="thTd12">
                                                <span id='@(grpitem.item_code + "_" + grpitem.id + "_" + "cost_per_unit")'>@grpitem.cost_per_unit.ToString("0.00")</span>
                                                @*@Html.Label(@grpitem.cost_per_unit, new { @Id = @grpitem.item_code + "_" + @grpitem.id + "_" + "cost_per_unit" })*@
                                                @*@Html.Label(@grpitem.item_code + "_" + @grpitem.id + "_" + "cost_per_unit",@grpitem.cost_per_uni, new { @Id = @grpitem.item_code + "_" + @grpitem.id + "_" + "cost_per_unit" })*@
                                            </td>
                                            <td class="thTd13">
                                                <span id='@(grpitem.item_code + "_" + grpitem.id + "_" + "jpf_total_capex")'>@grpitem.jpf_total_capex.ToString("0.00")</span>
                                                @*@Html.Label(@grpitem.jpf_total_capex.ToString(), new { @Id = @grpitem.item_code + "_" + @grpitem.id + "_" + "jpf_total_capex" })*@
                                            </td>
                                            <td class="thTd16" title="@grpitem.pts_code">@grpitem.pts_code</td>
                                            <td class="thTd20" title="@grpitem.revision">@grpitem.revision</td>
                                            <td class="thTd21" title="@grpitem.jc_sap_id">@grpitem.jc_sap_id</td>
                                            <td class="thTd22" title="@grpitem.jc_name">@grpitem.jc_name</td>
                                            @if (!Model.status.Equals("temp", StringComparison.OrdinalIgnoreCase))
                                            {
                                                <td class="thTd00" title="" align="center"><input type="button" value="Save" class="btn btn-success" onclick="saveBomBOQItem('@grpitem.item_code')" /></td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            }

                        </h3>
                        <div class="content th-Outer">
                            <table class="grid subChild">
                                @foreach (var item in @Model.lstBomBoqInfo.Where(m => m.item_master_code == grpitem.item_master_code && m.is_master != true).ToList())
                                {
                                    <tr>
                                        <td class="thTd01" title="@item.fsa_id">@item.fsa_id</td>
                                        <td class="thTd02" title="@item.fsa_name">@item.fsa_name</td>
                                        <td class="thTd04" title="@item.entity_class">@item.entity_class</td>
                                        <td class="thTd03" title="@item.entity_type">@item.entity_type</td>
                                        <td class="thTd05" title="@item.specification">@item.specification</td>
                                        <td class="thTd15" title="@item.item_code">@item.item_code</td>
                                        <td class="thTd17" title="@item.sub_category_1">@item.sub_category_1</td>
                                        <td class="thTd18" title="@item.sub_category_2">@item.sub_category_2</td>
                                        <td class="thTd14" title="@item.gis_uom">@item.gis_uom</td>
                                        <td class="thTd19" title="@item.uom_sap">@item.uom_sap</td>
                                        <td class="thTd06" title="@item.gis_qty">@item.gis_qty</td>
                                        <td class="thTd07" title="@item.overhead_percentage">@item.overhead_percentage</td>
                                        @if (!Model.status.Equals("temp", StringComparison.OrdinalIgnoreCase))
                                        {
                                            <td class="thTd08" title="">
                                                @Html.TextBox(@item.item_code + "_" + @item.id + "_" + "design_qty", @item.design_qty, new { @Maxlength = 5, @onkeypress = "return allowOnlyNumber(event);", @onkeyup = "return CalculateTotal('" + @item.item_code + "_" + @item.id + "');", @dataismaster = "Y", @dataorgdesignqty = @item.original_design_qty, @dataid = @item.id, @dataitemcode = @item.item_code, @class = "form-control " + (@item.is_non_design_item == true ? "hide_element" : ""), @Id = @item.item_code + "_" + @item.id + "_" + "design_qty", @ParentGroup = @item.item_master_code })
                                                <span class='@(@item.is_non_design_item == true ? "" : "hide_element")'>@item.design_qty</span>
                                            </td>
                                            <td class="thTd09" title="">
                                                @Html.TextBox(@item.item_code + "_" + @item.id + "_" + "additional_qty", @item.additional_qty, new { @Maxlength = 5, @onkeypress = "return allowOnlyNumber(event);", @onkeyup = "return CalculateTotal('" + @item.item_code + "_" + @item.id + "');", @dataismaster = "Y", @dataorgdesignqty = @item.original_design_qty, @dataid = @item.id, @dataitemcode = @item.item_code, @class = "form-control " + (@item.is_non_design_item == true ? "hide_element" : ""), @Id = @item.item_code + "_" + @item.id + "_" + "additional_qty", @ParentGroup = @item.item_master_code })
                                                <span class='@(@item.is_non_design_item == true ? "" : "hide_element")'>@item.additional_qty</span>
                                            </td>
                                            <td class="thTd10">
                                                @Html.TextBox(@item.additional_non_design_material_qty + "_" + @item.id + "_" + "additional_non_design_material_qty", @item.additional_non_design_material_qty, new { @Maxlength = 5, @onkeypress = "return allowOnlyNumber(event);", @onkeyup = "return CalculateTotal('" + @item.item_code + "_" + @item.id + "');", @dataismaster = "Y", @dataorgdesignqty = @item.original_design_qty, @dataid = @item.id, @dataitemcode = @item.item_code, @class = "form-control " + (@item.is_non_design_item == true ? "" : "hide_element"), @Id = @item.item_code + "_" + @item.id + "_" + "additional_non_design_material_qty", @ParentGroup = @item.item_master_code })
                                                <span class='@(@item.is_non_design_item == true ? "hide_element" : "")'>@item.additional_non_design_material_qty</span>
                                            </td>


                                            @*<td class="thTd08" title="">@Html.TextBox(@item.item_code + "_" + @item.id + "_" + "design_qty", @item.design_qty, new { @Maxlength = 5, @onkeypress = "return allowOnlyNumber(event);", @onkeyup = "return CalculateTotal('" + @item.item_code + "_" + @item.id + "');", @dataismaster = "N", @dataorgdesignqty = @item.original_design_qty, @dataid = @item.id, @dataitemcode = @item.item_code, @class = "form-control", @Id = @item.item_code + "_" + @item.id + "_" + "design_qty", @ParentGroup = @item.item_master_code })</td>
            <td class="thTd09" title="">@Html.TextBox(@item.item_code + "_" + @item.id + "_" + "additional_qty", item.additional_qty, new { @Maxlength = 5, @onkeypress = "return allowOnlyNumber(event);", @onkeyup = "return CalculateTotal('" + @item.item_code + "_" + @item.id + "');", @dataismaster = "N", @dataorgdesignqty = @item.original_design_qty, @dataid = @item.id, @dataitemcode = @item.item_code, @class = "form-control", @Id = @item.item_code + "_" + @item.id + "_" + "additional_qty", @ParentGroup = @item.item_master_code })</td>
            <td class="thTd10" title="@item.additional_non_design_material_qty">@item.additional_non_design_material_qty</td>*@
                                        }
                                        else
                                        {
                                            <td class="thTd08" title="@item.design_qty">@item.design_qty</td>

                                        }
                                        <td class="thTd11">
                                            <span id='@(item.item_code + "_" + item.id + "_" + "final_qty")'>@item.final_qty.ToString("0.00")</span>
                                            @*@Html.Label(@item.final_qty.ToString(), new { @Id = @item.item_code + "_" + @item.id + "_" + "final_qty" })*@
                                        </td>
                                        <td class="thTd12">
                                            <span id='@(item.item_code + "_" + item.id + "_" + "cost_per_unit")'>@item.cost_per_unit.ToString("0.00")</span>
                                            @*@Html.Label(@item.cost_per_unit.ToString(), new { @Id = @item.item_code + "_" + @item.id + "_" + "cost_per_unit" })*@
                                        </td>
                                        <td class="thTd13">
                                            <span id='@(item.item_code + "_" + item.id + "_" + "jpf_total_capex")'>@item.jpf_total_capex.ToString("0.00")</span>
                                            @*@Html.Label(@item.jpf_total_capex.ToString(), new { @Id = @item.item_code + "_" + @item.id + "_" + "jpf_total_capex" })*@
                                        </td>
                                        <td class="thTd16" title="@item.pts_code">@item.pts_code</td>
                                        <td class="thTd20" title="@item.revision">@item.revision</td>
                                        <td class="thTd21" title="@item.jc_sap_id">@item.jc_sap_id</td>
                                        <td class="thTd22" title="@item.jc_name">@item.jc_name</td>
                                        @if (!Model.status.Equals("temp", StringComparison.OrdinalIgnoreCase))
                                        {
                                            <td class="thTd00" title=""></td>
                                        }
                                    </tr>

                                }
                            </table>
                        </div>
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="nr-found">
            <span>@string.Concat("No ", @Model.action == "DesignBOMBOQ" ? "Design" : "Construction", " BOM/BOQ Exists")</span>
        </div>
    }
</div>
<div class="d-flex ModalFooter">

    @Html.Hidden("hdn_bom_boq_id", @Model.bom_boq_id)
    @Html.Hidden("hdn_status", @Model.status)
    @if (@Model.status == "TEMP")
    {
        <span class="warning-text"><b>Note :</b> Incase of any change, modify the design </span>
    }
    <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-warning ml-auto mr-01" />


    @if (@Model.status != "NA")
    {
        <input type="button" value="Submit" id="btnsubmitBOMBOQ" class="btn btn-primary" onclick="submitBOMBOQ();" />
    }

</div>
<script>

    $(function () {

        //alert($('#hdn_status').val());
        var icons = {
            //header: "ui-icon-circle-arrow-e",
            //activeHeader: "ui-icon-circle-arrow-s"

            //header: "ui-icon-circle-plus",
            //activeHeader:"ui-icon-circle-minus"

            header: "ui-icon-plus",
            activeHeader: "ui-icon-minus"

        };
        $("#accordion").accordion({
            icons: icons,
            collapsible: true,
            active: false
        });

        $("#accordion h3 table").on('keydown', function (e) {
            e.stopPropagation();
        })
        
        $("#accordion h3 table").on('click', function (e) {
            e.stopPropagation();
        })
        $("#toggle").button().on("click", function () {
            if ($("#accordion").accordion("option", "icons")) {
                $("#accordion").accordion("option", "icons", null);
            } else {
                $("#accordion").accordion("option", "icons", icons);
            }
        });
        if ($('#hdn_status').val().toLowerCase() == "temp") {
            $(".ui-accordion-header-icon").css("display", "none");
        }
    });

    function allowOnlyNumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (
            (charCode != 46 || $(element).val().indexOf('.') != -1) &&      // “.” CHECK DOT, AND ONLY ONE.
            (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function CalculateTotal(item_code_with_id) {

        var itemlist = $("[id^=" + CSS.escape(item_code_with_id) + "]");
        var temp_cost_per_unit = 0.0;
        for (var i = 0; i < itemlist.length; i++) {
            if (itemlist[i].id.includes("design_qty")) {
                // 
                var AddQtyTextboxId = itemlist[i].id.replace("design_qty", "additional_qty");
                var AddNoNDesignQtyTextboxId = itemlist[i].id.replace("design_qty", "additional_non_design_material_qty");
                var CostPerUnitLabelId = itemlist[i].id.replace("design_qty", "cost_per_unit");
                var FinalQtyLabelId = itemlist[i].id.replace("design_qty", "final_qty");
                var TotalCapexLabelId = itemlist[i].id.replace("design_qty", "jpf_total_capex");

                var DesignQtyTextboxId = $('#' + CSS.escape(itemlist[i].id));
                temp_cost_per_unit = $('#' + CSS.escape(CostPerUnitLabelId)).text();
                temp_FinalQty = parseFloat(getNum($('#' + CSS.escape(AddQtyTextboxId)).val())) + parseFloat(getNum($(DesignQtyTextboxId).val())) + parseFloat(getNum($('#' + CSS.escape(AddNoNDesignQtyTextboxId)).val()));
                $('#' + CSS.escape(TotalCapexLabelId)).text(parseFloat(getNum(temp_FinalQty) * getNum(temp_cost_per_unit)).toFixed(2));
                $('#' + CSS.escape(FinalQtyLabelId)).text(parseFloat(getNum(temp_FinalQty)).toFixed(2));
            }
        }
    }

    function getNum(val) {
        if (isNaN(val)) {
            return 0;
        }
        return val;
    }

    function saveBomBOQItem(item_code) {
        //var itemlist = $("[id^=" + CSS.escape(item_code) + "]");
        var itemlist = $("[parentgroup=" + CSS.escape(item_code) + "]");
        var bomBoqinfo = [];
        var org_design_qty = 0;
        var temp_design_qty = 0;
        var temp_cost_per_unit = 0.0;
        var temp_FinalQty = 0.0;
        var temp_Capex = 0.0;
        var temp_additionalQty = 0.0;

        for (var i = 0; i < itemlist.length; i++) {
             
            if (itemlist[i].id.includes("design_qty")) {

                var AddQtyTextboxId = itemlist[i].id.replace("design_qty", "additional_qty");
                var AddNoNDesignQtyTextboxId = itemlist[i].id.replace("design_qty", "additional_non_design_material_qty");
                var DesignQtyTextboxId = $('#' + CSS.escape(itemlist[i].id));
                console.log(i);
                if (org_design_qty == 0) {
                    org_design_qty = parseFloat($(DesignQtyTextboxId).attr("dataorgdesignqty"));
                }
                temp_design_qty = parseFloat(temp_design_qty) + parseFloat($(DesignQtyTextboxId).val());
                var bomBoqinfoitemlist = {
                    id: $(DesignQtyTextboxId).attr("dataid"),
                    item_code: $(DesignQtyTextboxId).attr("dataitemcode"),
                    design_qty: getNum($(DesignQtyTextboxId).val()),
                    additional_qty: getNum($('#' + CSS.escape(AddQtyTextboxId)).val()),
                    additional_non_design_material_qty: getNum($('#' + CSS.escape(AddNoNDesignQtyTextboxId)).val())
                }
                bomBoqinfo.push(bomBoqinfoitemlist);
            }
        }

        if (org_design_qty != temp_design_qty) {
            alert("Design Qty not matched with original design Qty");
            return false;
        }
        ajaxReq('BOMBOQ/SaveBOMBOQView', { 'objBomBoqInfo': bomBoqinfo }
            , false, function (resp) {
                if (resp.status == 'OK') {
                    // 
                    alert(resp.message);
                } else
                    alert(resp.message, 'Error', 'error');

            }, true, true, true);

       /* $.ajax({
            url: '/BOMBOQ/SaveBOMBOQView',
            type: "POST",
            dataType: "json",
            data: JSON.stringify({ 'objBomBoqInfo': bomBoqinfo }),
            contentType: 'application/json; charset=utf-8',
        }).done(function (data) {
             
            var response = data;
            alert(data.message);
        });*/

    }

    function submitBOMBOQ() {
        // 
        var bomboqinfosummary = {
            bom_boq_id: parseInt($('#hdn_bom_boq_id').val()),
            status: $('#hdn_status').val()
        }
        ajaxReq('BOMBOQ/SubmitBOMBOQ', bomboqinfosummary
            , false, function (resp) {
                if (resp.status == 'OK') {
                    // 
                    $('#btnsubmitBOMBOQ').attr("disabled", true);
                    alert(resp.message);
                } else
                    alert(resp.message, 'Error', 'error');

            }, false, true, true);

      /*  $.ajax({
            url: '/BOMBOQ/SubmitBOMBOQ',
            type: "POST",
            dataType: "json",
            data: JSON.stringify({ 'bomBoqInfoSummary': bomboqinfosummary }),
            contentType: 'application/json; charset=utf-8',
        }).done(function (data) {
             
            var response = data;
            $('#btnsubmitBOMBOQ').attr("disabled", true);
            alert(data.message);


        });*/
    }

    function ExportBOMBOQ() {
        // 
        //var applicationUrl = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
        var bom_boq_id = parseInt($('#hdn_bom_boq_id').val());
        var status = $('#hdn_status').val();
        window.location = baseUrl + '/BOMBOQ/ExportBOMBOQ?id=' + bom_boq_id + '&status=' + status;

    }

</script>
