
@model Models.ConstructionBomDetailsVM
@using SmartInventory.Settings;
@{
    WebGrid grid = new WebGrid(rowsPerPage: Model.viewConstructionBomDetails.pageSize, canSort: true, ajaxUpdateContainerId: "divConstructionBomDetails", ajaxUpdateCallback: "onGridHeaderClick('tblConstructionBomDetails')");
    grid.Bind(Model.constructionBomDetailList, autoSortAndPage: false, rowCount: Model.viewConstructionBomDetails.totalRecord);
    if (Model.viewConstructionBomDetails.totalRecord > 0)
    {
        grid.PageIndex = Model.viewConstructionBomDetails.currentPage - 1;
    }

}

<style>
    .padRow {
        padding: 5px;
        margin: 0px;
    }

    .divPads {
        padding: 3px;
    }

    .padRow .divPads {
        display: flex;
    }

    .modal-body .FilterDiv .padRow .divPads {
        display: inline-block;
    }

    .nav-tabs {
        border-bottom: 1px solid #ddd;
    }


    .SearchIco {
        position: absolute;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.25);
        margin: 8px 0px 0px 125px;
    }

    .WrapText {
        width: 120px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .tooltip-inner {
        color: black;
        background-color: white;
        word-wrap: break-word;
        text-align: left;
        white-space: pre-line;
    }

    .EntitydetailsProgress {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        margin-top: 0px;
        z-index: 5;
        margin-left: 0px;
        background-color: white;
        background-image: url('Content/images/loading_new.gif');
        background-position: center;
        background-repeat: no-repeat;
    }

    .gridHeaderStyle {
        white-space: nowrap;
    }

    .modal-open .modal {
        background-color: rgba(0,0,0,0) !important;
    }

    #dvModelid {
        position: absolute;
        z-index: 9;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.4;
    }


    .selectBox {
        border: 1px solid #dfdfdf;
        padding: 0.4rem 0.6rem;
        margin-left: 0.5rem;
        width: 130px;
    }

    .d-flex {
        display: flex;
        align-items: center;
    }

    .expBtn {
        border: none;
        border-radius: 3px;
        padding: 7px 10px;
        background-color: #00b109;
        color: #ffffff;
        font-size: 14px;
        cursor: pointer;
        margin-left: auto;
    }

    .ml-auto {
        margin-left: auto;
    }

    .mt-01 {
        margin-top: 1rem;
    }

    .mb-01 {
        margin-bottom: 1rem;
    }

    .headerBox {
        background-color: var(--primary-dark) !important;
        font-weight: 600 !important;
    }

    .headerBoxLeft {
        flex: 50%;
        text-align: center;
        border-right: 1px solid #dfdfdf;
    }

    .pad-06 {
        padding: 0.6rem 0;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
        overflow: auto;
    }

    .THheader {
        background-color: #004050;
        color: #ffffff;
    }

    .rowColum {
        background-color: #ffffff;
        color: #6b6b6b;
    }

    .col {
        padding: 0.4rem 0.6rem;
    }

    .d-flex {
        display: flex;
    }

    .alignItem {
        align-items: center;
    }

    .whiteSpace {
        white-space: nowrap;
    }

    .borRigBot {
        border-right: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
    }

    .grid {
        border-collapse: collapse;
        white-space: nowrap;
    }

    .padRow {
        padding: 5px;
        margin: 0px;
    }

    .divPads {
        padding: 3px;
    }

    .padRow .divPads {
        display: flex;
    }

    .modal-body .FilterDiv .padRow .divPads {
        display: inline-block;
    }

    .nav-tabs {
        border-bottom: 1px solid #ddd;
    }


    .SearchIco {
        position: absolute;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.25);
        margin: 8px 0px 0px 125px;
    }

    .WrapText {
        width: 120px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .tooltip-inner {
        color: black;
        background-color: white;
        word-wrap: break-word;
        text-align: left;
        white-space: pre-line;
    }

    .EntitydetailsProgress {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        margin-top: 0px;
        z-index: 5;
        margin-left: 0px;
        background-color: white;
        background-image: url('Content/images/loading_new.gif');
        background-position: center;
        background-repeat: no-repeat;
    }


    .calendar {
        position: absolute;
        display: block;
        left: 650px !important;
        top: 65px !important;
    }

    .gridHeaderStyle {
        white-space: nowrap;
    }

    .modal-open .modal {
        background-color: rgba(0,0,0,0) !important;
    }

    #dvModelid {
        position: absolute;
        z-index: 9;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    .transpBorder {
        border: 1px solid transparent !important;
        visibility: hidden;
    }

    .editColumn {
        text-align: center;
        font-weight: 600 !important;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .grid .linkbtn {
        text-decoration: underline;
        color: var(--primary-dark);
        transition: 0.3s;
        display: inline-block;
        cursor: pointer;
        padding: 0;
    }

        .grid .linkbtn:hover {
            text-decoration: none;
        }

    .construcHeader {
        display: grid;
        grid-template-columns: 35% 35% 8% 8% 10%;
    }
</style>

<div class="tab-content" id="dViewConstructionBomDetails">
    <input type="hidden" id="hdnNumberFormatType" value="@ApplicationSettings.numberFormatType" />
    <div id="ConstructionBOMDetails" class="tab-pane fade in active show">
        @using (Ajax.BeginForm("ConstructionBOMDetail", "BOMBOQ", new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "dViewConstructionBomDetails",
            LoadingElementId = "dvViewConstructionBomDetails",
            InsertionMode = InsertionMode.Replace
        },
                    new { id = "frmViewConstructionBomDetails", enctype = "multipart/form-data", autocomplete = "off", @class = "form-horizontal" }))
        {
            <div class="space-pad construcHeader --gap10">
                <div class="d-flex --gap10">
                    <label class="white-space">Search By:</label>

                    @Html.DropDownListFor(m => m.viewConstructionBomDetails.searchBy, new SelectList(Model.lstBindSearchBy.Select(x => new { Value = x.value.ToString(), Text = x.key }), "Value", "Text"), new { @class = "chosen-select", @id = "txtSearchTypeFSA" })

                </div>
                <div class="d-flex --gap10">
                    <label class="white-space">Search Text:</label>
                    @Html.TextBoxFor(m => m.viewConstructionBomDetails.searchText, new { @id = "txtSearchText", @title = "Search text", @tabindex = "4", @class = "input-sm form-control", @placeholder = "Search text", @maxlength = 100 })

                </div>

                <button type="submit" class="btn btn-success" id="btnConstructionBOM"> @Resources.Resources.SI_OSP_GBL_GBL_GBL_046</button>
                <button type="submit" class="btn btn-default" id="btnResetSearchFilter"> @Resources.Resources.GBL_GBL_GBL_GBL_GBL_005</button>
                <div class="@(Model.constructionBomDetailList.Count > 0 ? "" : "dvdisabled")">
                    <button id="btnConstructionBomDetail" type="button" class="exp--btn" value="Export"><span class="fa fa-download mr-03"></span> @Resources.Resources.GBL_GBL_GBL_GBL_GBL_010</button>
                </div>

            </div>

            if (Model.constructionBomDetailList.Count > 0)
            {
                <div id="divConstructionBomDetails" class="tablePad--tn">
                    <div class="mb-01 d-flex">
                        Total Records:<span data="spanTotalRowCount">@grid.TotalRowCount </span>
                        <div class="ml-auto">
                            Last Updated Design Value on <span class="fw-bold">@Model.modified_on</span>
                        </div>
                    </div>
                    @*<div class="d-flex headerBox">
                            <div class="headerBoxLeft pad-06">Design Details - Non-Editable</div>
                            <div class="headerBoxLeft pad-06">Overhead Logics - Editable</div>
                        </div>*@
                    <div class="table-responsive">
                        @grid.GetHtml(tableStyle: "grid tableWFont",

                        htmlAttributes: new { id = "tblConstructionBomDetails" },
                        mode: WebGridPagerModes.All,
                        columns: grid.Columns(

grid.Column("state", "State", format: @<text>@item.state</text>),
grid.Column("jc", "JC", format: @<text>@item.jc</text>),
grid.Column("town_name", "Town Name", format: @<text>@item.town_name</text>),
grid.Column("town_code", "Town Code", format: @<text>@item.town_code</text>),
grid.Column("fsa_id", "FSA ID", format: @<text>@item.fsa_id</text>),
grid.Column("feeder_length", "Feeder Length - GIS(KM)", format: @<text>@item.feeder_length</text>),
grid.Column("distribution_length", "Distribution Length- GIS(KM)", format: @<text>@item.distribution_length</text>),
grid.Column("pole_count", "Pole Count", format: @<text>@item.pole_count</text>),
grid.Column("oh_feeder_cable", "Feeder Cable (%)", format: @<text>
    <a href="#" onclick="@(Model.lstUserModule.Contains("CON-EOL")?"OpenCBOMVariable('"+@item.feeder_gis_length+"',"+@item.fsa_system_id+",0,'Feeder Cable');":"")" class="auto linkbtn" title="@(Model.lstUserModule.Contains("CON-EOL")?"Edit":"Permission is denied to edit !")">@item.oh_feeder_cable</a>

</text>),
grid.Column("oh_distribution_cable", "Distribution Cable (%)", format: @<text> <a href="#" onclick="@(Model.lstUserModule.Contains("CON-EOL")?"OpenCBOMVariable('"+@item.distribution_gis_length+"',"+@item.fsa_system_id+",0,'Distribution Cable');":"")" class="auto linkbtn" title="@(Model.lstUserModule.Contains("CON-EOL")?"Edit":"Permission is denied to edit !")">@item.oh_distribution_cable</a></text>),
grid.Column("oh_clamps", "Clamps", format: @<text> <a href="#" onclick="@(Model.lstUserModule.Contains("CON-EOL")?"OpenCBOMVariable('"+@item.clamp+"',"+@item.fsa_system_id+",0,'Clamps');":"")" class="auto linkbtn" title="@(Model.lstUserModule.Contains("CON-EOL")?"Edit":"Permission is denied to edit !")"> @item.oh_clamps</a></text>),
grid.Column("oh_jclamps", "Jublee Clamps", format: @<text> <a href="#" onclick="@(Model.lstUserModule.Contains("CON-EOL")?"OpenCBOMVariable('"+@item.jubilee_clamp+"',"+@item.fsa_system_id+",0,'Jublee Clamps');":"")" class="auto linkbtn" title="@(Model.lstUserModule.Contains("CON-EOL")?"Edit":"Permission is denied to edit !")"> @item.oh_jclamps</a></text>),
grid.Column("oh_termination_set", "Termination Set", format: @<text> <a href="#" onclick="@(Model.lstUserModule.Contains("CON-EOL")?"OpenCBOMVariable('"+@item.termination_set+"',"+@item.fsa_system_id+",0,'Termination Set');":"")" class="auto linkbtn" title="@(Model.lstUserModule.Contains("CON-EOL")?"Edit":"Permission is denied to edit !")"> @item.oh_termination_set</a></text>),
grid.Column("oh_suspension_set", "Suspension Set", format: @<text> <a href="#" onclick="@(Model.lstUserModule.Contains("CON-EOL")?"OpenCBOMVariable('"+@item.suspension_set+"',"+@item.fsa_system_id+",0,'Suspension Set');":"")" class="auto linkbtn" title="@(Model.lstUserModule.Contains("CON-EOL")?"Edit":"Permission is denied to edit !")">@item.oh_suspension_set</a></text>),
grid.Column("", "Action", format:
@<text>
    <a id="btnAction" class="pad-0">
        <i class="fa fa-fw fa-refresh i-icons-style i-icons-ptpb @(Model.lstUserModule.Contains("CON-EOL")?(@item.is_default?"roledisabled":""):"roledisabled")" id="iconEdit" title="@(Model.lstUserModule.Contains("CON-EOL")?(@item.is_default?"Already to default":"Reset to default"):"Permission is denied to edit !")" onclick="@(Model.lstUserModule.Contains("CON-EOL")?(@item.is_default?"":"constructionsetdefault('"+@item.fsa_system_id+"');"):"")" tabindex="5"></i>
    </a>

</text>)
))
                        @Html.Hidden("dir", grid.SortDirection)
                        @Html.Hidden("col", grid.SortColumn)
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-4 hidden-xs">
                            </div>
                            <div class="col-sm-4 text-center">
                                <small class="text-muted inline m-t-sm m-b-sm">
                                    @if (Model.constructionBomDetailList.Count() > 0)
                                    {
                                        @:Showing @((grid.RowsPerPage) * (grid.PageIndex) + 1) to @((grid.RowsPerPage) * (grid.PageIndex) + grid.Rows.Count) of @Model.viewConstructionBomDetails.totalRecord items
                                    }
                                </small>
                            </div>

                        </div>
                    </footer>
                </div>
            }
            else
            {
                <div class="nr-found">
                    <span>@Resources.Resources.SI_OSP_GBL_GBL_RPT_001</span>
                </div>
            }
        }
    </div>
</div>
<script src="~/Content/js/Utility.js"></script>
<script>

    $(document).ready(function () {
        $('th a, tfoot a').on("click", function () {

            $('#frmViewConstructionBomDetails').attr('action', $(this).attr('href')).submit();
            return false;
        });
        addDefaultSortingIcons("tblConstructionBomDetails");
        onGridHeaderClick('tblConstructionBomDetails');
        UpdateFormattedNumbers();
        //$('#tblConstructionBomDetails > thead').prepend(
        //    '<tr class="headerBox">'// need to change closing tag to an opening `<tr>` tag.
        //    + '<td colspan="5" class="transpBorder"></td>'
        //    + '<td colspan="3" class="editColumn" style="color: #ffffff !important;">Design Details - Non-Editable</td>'
        //    + '<td colspan="6" class="editColumn" style="color: #ffffff !important;">Overhead Logics - Editable</td>'
        //    + '<td class="transpBorder"></td>'
        //    + '</tr>');
    });

    $('.chosen-select').chosen({ width: '100%', });
    $("#btnConstructionBOM").on("click", function () {
        if ($("#txtSearchTypeFSA").val() == "" || $("#txtSearchTypeFSA").val() == null || $("#txtSearchTypeFSA").val() == 0) {
            alert('Please select Search By!', 'warning');
            return false;

        }
    });
    //function editConstructionBOMDetails(id) {
    //    showConfirm('Are you sure to edit default overhead logics?', function () {
    //
    //        popup.LoadModalDialog('CHILD', 'BOMBOQ/EditConstructionBomDetails', { 'id': id }, 'Default overhead logic', 'modal-md');
    //    });
    //};




    function constructionsetdefault(id) {

        showConfirm('All the over head logic for this FSA will be reset to default,do you want to continue?', function () {
            ajaxReq('bomboq/Constructionsetdefault', { 'id': id }, false, function (resp) {

                alert("FSA Reset to Default Successfully")
                $('#btnConstructionBOM').click()
            });
        });
    };
    $("#btnConstructionBomDetail").on("click", function () {
        window.location = appRoot + 'BOMBOQ/ExportConstructionBomDetail';
    });
    $("#btnResetSearchFilter").on("click", function () {
        $('#txtSearchText').val('');
        $('#txtSearchTypeFSA').val('State');
    });


    function OpenCBOMVariable(column_name, fsa_id, execution_sequence, colname) {


        popup.LoadModalDialog('CHILD', 'BOMBOQ/GetVariables', { column_name: column_name, fsa_id: fsa_id, execution_sequence: execution_sequence }, '' + colname + ' - Expression Builder', 'modal-lg');
    }



    function UpdateFormattedNumbers() {
        // Get the table element
        const table = document.getElementById('tblConstructionBomDetails');

        // Loop through the rows
        if (table && table.row) {
            for (let rowIndex = 0; rowIndex < table.rows.length; rowIndex++) {
                const row = table.rows[rowIndex];


                // Loop through the cells in the row
                for (let cellIndex = 0; cellIndex < row.cells.length; cellIndex++) {
                    const cell = row.cells[cellIndex];

                    // Extract data from the cell
                    const cellData = cell.textContent.trim();

                    // Do something with the cell data
                    if ($.isNumeric(cellData))
                        row.cells[cellIndex].textContent = getFormattedNumber(cellData);
                }
            }
        }
    }
</script>


