@model Models.Admin.UploadVendorSpecificationImageDocVM


<fieldset class="the-fieldset">
    <legend class="doclegend">Uploaded Images</legend>
    @if (Model.lstImages != null && Model.lstImages.Count > 0)
    {
        <div>
            <label><b>Total Records:@Model.lstImages.Count</b></label>
            <a id="btnDownloadAll" title="Download All" class="pull-right" href="javascript:void(0)" onclick="downloadAll(@Model.lstImages[0].specification_id,'IMAGE')">
                <i class="fa fa-download" style="font-size:15px; margin-right:5px;"></i> Download
            </a>
            @*<input type="button" id="btnDownloadAll" value="Download All" style="float:right"  />*@
        </div>
        <div>
            <div class="ImagesContainer" style="max-height: 270px; margin-bottom: 10px; min-height: 253px; overflow: auto; visibility: visible; float: left;width:473px;">
                <div style="" id="Image">
                    @foreach (var item in Model.lstImages)
                    {
                        <div class="docs-main-div" id="dvImages">
                            <div class="img-div">
                                <div class="UploadedImageBox" title="@item.org_file_name">
                                    <div class="ImageSelectDiv">

                                        <a href="@item.ImgSrc" class="example-image-link" data-lightbox="example-set" style="padding:0">
                                            <img src="@item.ImgSrc" />
                                        </a>

                                    </div>

                                </div>
                            </div>
                            <div class="content-div">
                                <div style="width:88%; float:left;">
                                    <div class="col-sm-12 doc-lists">
                                        <div class="contentlbl" style="width:100%;"> @item.org_file_name  (@item.file_size_converted)</div>
                                    </div>
                                    <div class="col-sm-12 doc-lists">
                                        <div class="contentlbl" style="width:100%;"><b>Uploaded By: </b> @item.uploaded_by_name</div>
                                    </div>
                                    <div class="col-sm-12 doc-lists">
                                        <div class="contentlbl" style="width:100%;"><b>Uploaded On: </b> @item.created_on</div>
                                    </div>
                                </div>
                                <div style="width:36px; float:right; padding:5px">
                                    <div class="col-sm-1  icons" id="divDownloadImages" title="Download">
                                        <a href="javascript:void(0)" onclick="downloadSpecificationImgDocLink('IMAGE',@item.id);">
                                            <i class="fa fa-download" style="font-size:15px;"></i>
                                        </a>
                                    </div>
                                    <div class="col-sm-1  icons" id="divDeleteImg" title="Delete">
                                        <a href="javascript:void(0)" onclick="deleteSpecificationImgDoc('IMAGES',@item.id,@item.specification_id);">
                                            <i class="icon-Delete" style="color:red; font-size:16px;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="img-link-doc-nf">
            <img src="~/Content/images/noImage.svg" />
            <p> No image found.</p>
        </div>
    }

</fieldset>


