@model Models.Admin.ViewVendorSpecificationDetailsList
@using Utility
@using SmartInventory.Settings;

<!DOCTYPE html>
<input type="hidden" id="hdnNumberFormatType" value="@ApplicationSettings.numberFormatType" />
<div id="dvViewVendorSpecification" style="white-space: nowrap;">
    <div class="update_panel fullWidth">
        <div class="title">
            <h4>
                View Vendor Specification
            </h4>

        </div>

        @{
            var objUser = (Models.User)Session["userDetail"];
            WebGrid grid = new WebGrid(rowsPerPage: Model.viewVendorSpecificationDetail.pageSize, canSort: true, ajaxUpdateContainerId: "dvViewVendorSpecification", ajaxUpdateCallback: "onGridHeaderClick('tblVendorSpecificationDetail')");
            grid.Bind(Model.VendorDetailSpecificationList, autoSortAndPage: false, rowCount: Model.viewVendorSpecificationDetail.totalRecord);
            if (Model.viewVendorSpecificationDetail.totalRecord > 0)
            {
                grid.PageIndex = Model.viewVendorSpecificationDetail.currentPage - 1;
            }
        }

        <div class="pad_left">

            @using (Html.BeginForm("ViewVendorSpecification", "VendorSepcification", FormMethod.Post, new { autocomplete = "off", @id = "frmViewVendorSpecification" }))
            {
                <section>
                    @*<input type="hidden" id="hdnMaxFileUploadSizeLimit" value="" />*@
                    <div class="form-inline filter-sec ">


                        <div class="form-group wtd_set">

                            <label class="control-label col-sm-4">
                                Status :
                            </label>

                            <div class="col-md-8">


                                @Html.DropDownListFor(m => m.viewVendorSpecificationDetail.is_active, new List<SelectListItem>
                         {
                            new SelectListItem{ Text="Active", Value = "true"},
                            new SelectListItem{ Text="InActive", Value = "false"}
                         }, new { @id = "ddlStatus", @tabindex = "2", @title = "Status", @class = "chosen-select form-control" })

                            </div>

                        </div>



                        <div class="form-group wtd_set">

                            <label class="control-label col-sm-4">
                                Search By :
                            </label>

                            <div class="col-md-8">

                                @Html.DropDownListFor(m => m.viewVendorSpecificationDetail.searchBy, new SelectList(Model.lstBindSearchBy.Select(x => new { Value = x.value.ToString(), Text = x.key }), "Value", "Text"), new { @class = "chosen-select form-control" })

                            </div>

                        </div>


                        <div class="form-group wtd_set">


                            <label class="control-label col-sm-4">
                                Search Text:
                            </label>

                            <div class="col-md-8">

                                @Html.TextBoxFor(m => m.viewVendorSpecificationDetail.searchText, new { @id = "txtSearchText", @title = "Search text", @tabindex = "4", @class = "input-sm form-control", @placeholder = "Search text", @maxlength = 100, @onkeypress = "fnOnKeyPress(event)" })


                            </div>

                        </div>
                        <div class="d-flex --gap-05 ml-05" id="dvBtnAction">
                            <button class="btn btn-primary right" id="btnGetSearchResult" name="btnCommandName" value="GetSearchResult" tabindex="5" onclick="return fnGetSearchResult();" type="submit">Search</button>
                            @if (@grid.TotalRowCount > 0)
                            {
                                <input type="button" id="btnExport" value="Export" class="btn btn-primary" />
                            }
                            else
                            {
                                <input type="button" id="btnExport" value="Export" disabled="disabled" class="btn btn-primary" />
                            }
                            <a href="@Url.Action("ViewVendorSpecification")" class="btn btn-default" title="Reset">Reset</a>
                        </div>
                    </div>

                    @if (Model.VendorDetailSpecificationList.Count > 0)
                    {

                        <div id="divVendorSpecificationDetail">
                            <div class="recordCount mb-01"><b>Total Records:<span data="spanTotalRowCount">@grid.TotalRowCount</span></b></div>

                            <div class="table-responsive tble_cls">
                                @grid.GetHtml(tableStyle: "grid",
                htmlAttributes: new { id = "tblVendorSpecificationDetail" },
                mode: WebGridPagerModes.All,
                columns: grid.Columns(

            grid.Column("", "Action", format:
                                                                        @<text>
                                                                            @{

                                                                                <a href="javascript:OpenUploadImageDocumentModel(@item.id);" title="Upload Image/Document"> <i class="fa fa-upload action_icon fa-fw m-r-xs"></i></a>

                                                                            }

                                                                            <a href="javascript:OpenVendorSpecificationModel(@item.id,'@item.entity_type');" title="History"><i class="fa fa-history action_icon fa-fw m-r-xs" id="dvVendorSpecfhstry_addicon"></i></a>
                                                                            <a href="@Url.Action("AddVendorSpecification", "VendorSepcification", new { id = @item.id })" class="auto" title="Edit"> <i class="fa fa-pencil action_icon fa-fw m-r-xs"></i></a>
                                                                            <a href="javascript:void(0);" onclick="DeleteVendorSpecification(@item.id);" title="Close"> <i class="fa fa-fw fa-trash" style="font-size: 13px; color: #f50000;"></i></a>

                                                                        </text>),
 grid.Column("is_active", "Status", format: @<text>@(item.is_active == true ? "Active" : "InActive")</text>),
grid.Column("entity_type", "Entity Type", format: @<text>@item.entity_type</text>),
@*grid.Column("specify_type", "Entity Category", format: @<text>@item.specify_type</text>),*@
grid.Column("specification", "Specification", format: @<text>@item.specification</text>),
grid.Column("vendor_name", "Vendor Name", format: @<text>@item.vendor_name</text>),
grid.Column("code", "Item Code", format: @<text>@item.code</text>),
grid.Column("cost_per_unit", string.Format("Cost Per Unit/meter({0})", ApplicationSettings.Currency), format: @<text>@item.cost_per_unit</text>),
grid.Column("service_cost_per_unit", string.Format("Service Cost Per Unit/meter({0})", ApplicationSettings.Currency), format: @<text>@item.service_cost_per_unit</text>),
grid.Column("iop_value", "Port/Fiber Info", format: @<text>@item.iop_value</text>),
grid.Column("subcategory_1", "Sub Category 1", format: @<text>@item.subcategory_1</text>),
grid.Column("subcategory_2", "Sub Category 2", format: @<text>@item.subcategory_2</text>),
grid.Column("subcategory_3", "Sub Category 3", format: @<text>@item.subcategory_3</text>),
grid.Column("Item_type", "Item Type", format: @<text>@item.Item_type</text>),
grid.Column("unit_measurement", "Unit Measurement", format: @<text>@item.unit_measurement</text>),
grid.Column("is_arfs", "is A-RFS item", format: @<text>@(item.is_arfs == true ? "Yes" : "No")</text>),
grid.Column("is_brfs", "is B-RFS item", format: @<text>@(item.is_brfs == true ? "Yes" : "No")</text>),
grid.Column("is_crfs", "is C-RFS item", format: @<text>@(item.is_crfs == true ? "Yes" : "No")</text>),


grid.Column("created_by_text", "Created By", format: @<text>@item.created_by_text</text>),
grid.Column("created_on", "Created On", format: @<text>@(item.created_on == null ? item.created_on : MiscHelper.FormatDateTime(item.created_on.ToString()))</text>),

grid.Column("modified_by_text", "Modified By", format: @<text>@item.modified_by_text</text>),

grid.Column("modified_on", "Modified On", format: @<text> @(item.modified_on == null ? item.modified_on : MiscHelper.FormatDateTime(item.modified_on.ToString())) </text>)


))
                                @Html.Hidden("dir", grid.SortDirection)
                                @Html.Hidden("col", grid.SortColumn)


                            </div>

                        </div>

                    }
                    else
                    {
                        <div style="text-align: center; margin-top: 30px;">
                            No Records Found.
                        </div>
                    }

                </section>


            }
        </div>
    </div>

    <script>
        $(document).ready(function () {

            updateNumberstoFormatedNumber();
            addDefaultSortingIcons("tblVendorSpecificationDetail");
        });
        $("#btnExport").on("click", function () {
            Report();
        });

        function Report() {
            window.location = appRoot + 'VendorSepcification/DownloadVendorSpecificationDetail';
        }
        $('th a, tfoot a').on("click", function () {
            $('#frmViewVendorSpecification').attr('action', $(this).attr('href')).submit();
            return false;
        });
        function updateNumberstoFormatedNumber() {
            $('span[data]').each(function (index) {
                // Get the value of the data-target attribute for each element
                var targetValue = $(this).data('data');

                // Do whatever you want with the element or its data
                $(this).text(getFormattedNumber($(this).text().trim()));
            });
        }
    </script>

</div>
