@model Models.ViewLayerSettingDetailList
@using Models;
@using SmartInventory.Settings;
@using Utility


<div id="dvViewlayers">
    <div class="update_panel fullWidth">
        <div class="title">
            <h4>View Layer Details</h4>
        </div>

        @{
            WebGrid grid = new WebGrid(rowsPerPage: Model.viewLayerDetails.pageSize, canSort: true, ajaxUpdateContainerId: "VwLayerDetailGrid", ajaxUpdateCallback: "onGridHeaderClick('tblLayerGrid');");

            grid.Bind(Model.lstlayerDetails, autoSortAndPage: false, rowCount: Model.viewLayerDetails.totalRecord);
            if (Model.viewLayerDetails.totalRecord > 0)
            {
                grid.PageIndex = Model.viewLayerDetails.currentPage - 1;
            }
        }

        @Html.HiddenFor(m => m.viewLayerDetails.searchBy)
        @Html.HiddenFor(m => m.viewLayerDetails.searchText)

        <div class="tab-content" id="dvViewLink">
            <div id="ViewLink" class="tab-pane fade in active show">

                @using (Html.BeginForm("ShowlayerDetails", "LayerSettings", FormMethod.Post, new { autocomplete = "off", @id = "frmLayerDetail" }))
                {
                    <div class="--pad-15">
                        <div class="form-inline filter-sec">
                            @*<div class="form-group wtd_set">

                                    <label class="control-label col-sm-4">&nbsp;Status&nbsp;:</label>

                                    <div class="col-md-8">


                                        @Html.DropDownListFor(m => m.viewLayerDetails.is_active, new List<SelectListItem>
                                 {
                                    new SelectListItem{ Text="Active", Value = "true"},
                                    new SelectListItem{ Text="InActive", Value = "false"}
                                 }, new { @id = "ddlStatus", @tabindex = "2", @title = "Status", @class = "chosen-select form-control" })

                                    </div>

                                </div>*@
                            <div class="form-group wtd_set mr-01">
                                <label class="control-label mr-05">
                                    Search By:
                                </label>
                                <div class="--input-widthMd">
                                    @Html.DropDownListFor(m => m.viewLayerDetails.searchBy, new SelectList(Model.lstBindSearchBy.Select(x => new { Value = x.value.ToString(), Text = x.key }), "Value", "Text"), new { @class = "chosen-select form-control" })
                                </div>
                            </div>
                            <div class="form-group wtd_set mr-05">
                                <label class="control-label mr-05">
                                    Search Text :
                                </label>
                                <div class="--input-widthMd">
                                    @Html.TextBoxFor(m => m.viewLayerDetails.searchText, new { @id = "txtSearchText", @title = "Search text", @tabindex = "4", @class = "input-sm form-control", @placeholder = "Search text", @maxlength = 100, @onkeypress = "fnOnKeyPress(event)" })
                                </div>
                            </div>
                            <div class="form-group wtd_set" id="dvBtnAction">
                                    <button class="btn btn-primary mr-05" id="btnGetSearchResult" name="btnCommandName" value="GetSearchResult" tabindex="5" type="submit">Search</button>
                                    @if (@grid.TotalRowCount > 0)
                                    {
                                        <input type="button" id="btnExport" value="Export" class="btn btn-primary mr-05" />
                                    }
                                    else
                                    {
                                        <input type="button" id="btnExport" value="Export" disabled="disabled" class="btn btn-primary mr-05" />
                                    }
                                    <a href="@Url.Action("ShowlayerDetails")" class="btn btn-default" title="Reset">Reset</a>
                            </div>
                        </div>

                        @if (Model.lstlayerDetails.Count > 0)
                        {
                            <div id="VwLayerDetailGrid">
                                <div class="recordCount mb-01"><b>Total Records:&nbsp;@grid.TotalRowCount</b></div>

                                <div class="table-responsive tble_cls">
                                    @grid.GetHtml(tableStyle: "grid",
                            htmlAttributes: new { id = "tblLayerGrid" },
                            mode: WebGridPagerModes.All)
                                    @Html.Hidden("dir", grid.SortDirection)
                                    @Html.Hidden("col", grid.SortColumn)
                                </div>

                            </div>
                        }
                        else
                        {
                            <div style="text-align: center; margin-top: 30px;">
                                No Record Found!
                            </div>
                        }
                    </div>
                }
            </div>

        </div>

    </div>

</div>
<script>

    $(document).ready(function () {
         
        LayerActionColumn();

        $('th a, tfoot a').on("click",function () {
            $('#frmLayerDetail').attr('action', $(this).attr('href')).submit();
            return false;
        });
    });
    $("#btnExport").on("click",function () {
        Report();
    });

    function Report() {
        window.location = appRoot + 'LayerSettings/DownloadLayerDetail';
    }
</script>
