@model Models.Admin.OrthoImageModel
@using Utility
<link href="~/Areas/Admin/Content/css/spectrum.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/js/spectrum.js"></script>

<!DOCTYPE html>
<div id="dvViewOrthoImage">
    <div class="update_panel fullWidth">
        <div class="title">
            <h4>
                Ortho Image Settings
            </h4>
        </div>
        @{
            WebGrid grid = new WebGrid(rowsPerPage: Model.objFilterAttributes.pageSize, canSort: true, ajaxUpdateContainerId: "dvViewOrthoImage", ajaxUpdateCallback: "onGridHeaderClick('tblOrthoImageDetail')");
            grid.Bind(Model.listDatas, autoSortAndPage: false, rowCount: Model.objFilterAttributes.totalRecord);
            if (Model.objFilterAttributes.totalRecord > 0)
            {
                grid.PageIndex = Model.objFilterAttributes.currentPage - 1;
            }
        }
        <div class="--pad-15">
            @using (Html.BeginForm("ViewOrthoImage", "OrthoImageLayer", FormMethod.Post, new { autocomplete = "off", @id = "frmViewOrthoImage" }))
            {

                <div class="form-inline filter-sec">
                    <div class="form-group wtd_set mr-01">
                        <label class="control-label col-sm-4">
                            Status :
                        </label>
                        <div class="col-md-8">
                            @Html.DropDownList("is_active", new List<SelectListItem>
                     {

                        new SelectListItem{ Text="--Select--", Value = "0"},
                        new SelectListItem{ Text="Active", Value = "1"},
                        new SelectListItem{ Text="InActive", Value ="2" }
                     }, new { @id = "ddlStatu", @tabindex = "1", @title = "Status", @class = "chosen-select form-control" })
                        </div>
                    </div>
                    <div class="form-group wtd_set mr-05">
                        <label class="control-label col-sm-4">Search By : </label>
                        <div class="col-md-8">

                            @Html.DropDownListFor(m => m.objFilterAttributes.searchBy, new List<SelectListItem>
                     {
                       new SelectListItem{ Text="--Select--", Value = "" },
                        new SelectListItem{ Text="Display Name", Value = "display_name" },
                         new SelectListItem{ Text="Image Name", Value = "image_name" },
                     }, new { @id = "ddlSearchBy", @tabindex = "2", @title = "Search By", @class = "chosen-select form-control" })
                        </div>

                    </div>
                    <div class="form-group wtd_set">
                        <label class="control-label col-sm-4">
                            Search Text :
                        </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.objFilterAttributes.searchText, new { @id = "txtSearchText", @title = "Search text", @tabindex = "4", @class = "input-sm form-control", @placeholder = "Search text", @maxlength = 100, @onkeypress = "fnOnKeyPress(event)" })
                        </div>
                    </div>
                    <div class="form-group wtd_set" id="dvBtnAction">
                        <div class="col-md-8">
                            <button class="btn btn-primary mr-05" id="btnGetSearchResult" name="btnCommandName" value="GetSearchResult" tabindex="5" onclick="return fnGetSearchResult();" type="submit">Search</button>
                            @if (@grid.TotalRowCount > 0)
                            {
                                <input type="button" id="btnViewUserExport" value="Export" class="btn btn-primary mr-05" onclick="ViewOrthoImageReport()" />
                            }
                            else
                            {
                                <input type="button" id="btnViwUserExport" value="Export" disabled="disabled" class="btn btn-primary mr-05" />
                            }
                            <a href="@Url.Action("ViewOrthoImage")" class="btn btn-default mr-05" title="Reset">Reset</a>
                            <span>
                                <input type="button" id="btnAddNew" onclick="AddNewOrthoImage(0);" value="Add New" class="btn btn-primary" />
                            </span>
                        </div>
                    </div>
                </div>

                if (Model.listDatas.Count > 0)
                {
                    <div id="divUserDetail">
                        <div class="recordCount mb-1"><b>Total Records:@grid.TotalRowCount</b></div>
                        <div class="table-responsive tble_cls">
                            @grid.GetHtml(tableStyle: "grid",
                                htmlAttributes: new { id = "tblOrthoImageDetail" },
                                mode: WebGridPagerModes.All,
                                columns: grid.Columns(
                                           grid.Column("", "Action", format:@<text>
                                                    <a href="#" onclick="AddNewOrthoImage(@item.system_id);" class="auto" title="Edit"> <i class="fa fa-pencil action_icon fa-fw m-r-xs"></i></a>
                                                    <a href="javascript:void(0);" onclick="DeleteOrthoImageById(@item.system_id,'@item.image_name');" title="Delete"> <i class="fa fa-fw fa-trash" style="font-size: 13px; color: #f50000;"></i></a>
                                        </text>, canSort: false
                              ),
                                        grid.Column("display_name", "Display Name", format: @<text>@item.display_name</text>, canSort: true),
grid.Column("image_name", "Image Name", format: @<text>@item.image_name</text>, canSort: true),
grid.Column("image_extension", "Image Ext", format: @<text>@item.image_extension</text>, canSort: true),
grid.Column("created_by", "Created By", format: @<text>@item.created_by_text</text>, canSort: true),
grid.Column("created_on", "Created On", format: @<text>@(item.created_on == null ? item.created_on : MiscHelper.FormatDateTime(item.created_on.ToString()))</text>, canSort: true),
grid.Column("modified_by", "Modified By", format: @<text>@item.modified_by_text</text>, canSort: true),
grid.Column("modified_on", "Modified On", format: @<text> @(item.modified_on == null ? item.modified_on : MiscHelper.FormatDateTime(item.modified_on.ToString()))</text>, canSort: true),
grid.Column("is_active", "Status", format: @<text>@(item.is_active == true ? "Active" : "InActive")</text>, canSort: false)
))
                            @Html.Hidden("dir", grid.SortDirection)
                            @Html.Hidden("col", grid.SortColumn)
                        </div>
                    </div>
                }
                else
                {
                    <div style="text-align: center; margin-top: 30px;">
                        No Ortho Image Found.
                    </div>
                }
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        addDefaultSortingIcons("tblOrthoImageDetail");
    });
    function ViewOrthoImageReport() {
        window.location = appRoot + 'OrthoImageLayer/DownloadViewOrthoImageLayer';
    }
</script>