@model List<Models.DocumentResult>

@{
    var EntyLst = ((List<Models.DocumentResult>)@Model).Where(m => m.categorytype.ToLower() == "entity").ToList();
    var SpecifnLst = ((List<Models.DocumentResult>)@Model).Where(m => m.categorytype.ToLower() == "specification").ToList();
    string entityType = EntyLst.Any() ? EntyLst.First().EntityType : "";

    <input type="hidden" id="hdnEntityType" value="@entityType" />

}
<style>
    .imageBox {
        height: 261px;
        overflow: auto;
        visibility: visible;
        width: 100%;
        float: left;
    }
    .sm-fs{
        font-size:14px;
    }

        .imageBox .panel {
            margin-bottom: 5px;
        }

        .imageBox .panel-body {
            padding: 0;
        }

        .imageBox .panel-title {
            font-size: 13px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .imageBox .panel-heading {
            padding: 8px 12px;
        }

        .imageBox .docs-main-div {
            width: 100%;
            background-color: transparent;
            border: none;
            min-height: 40px;
            display: flex;
            position: relative;
            overflow: hidden;
        }

            .imageBox .docs-main-div:not(:last-child) {
                border-bottom: solid 1px #e9e9e9;
            }

            .imageBox .docs-main-div:first-child {
                border-top: solid 1px #e9e9e9;
            }

            .imageBox .docs-main-div .img-div {
                width: 19%;
                border-right: solid 1px #d9dcdf;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        .imageBox .panel-default > .panel-heading {
            color: #333;
            background-color: #fbfbfb;
            border-color: transparent;
        }

        .imageBox .contentList {
            flex-direction: column;
            padding: 0.5rem 0.7rem;
            width: calc(100% - 36px);
        }

        .imageBox .content-div {
            display: flex;
            width: 100%;
        }

            .imageBox .content-div .contentlbl {
                align-self: flex-start;
            }

            .imageBox .content-div .doc-lists {
                padding: 1px 5px;
            }

            .imageBox .content-div .icons {
                padding: 6px;
                text-align: center;
                background: #ededed;
                border-radius: 4px;
                transition: 0.2s;
            }

    .imageBox .content-div .icons:hover {
        background-color: #ddd;
    }
</style>

@if (Model != null && Model.Count > 0)
{
    string sysHref = "Main/DownloadFilesAll?system_Id=" + @Model[0].EntitySystemId + "&entity_type=" + @Model[0].EntityType + "&DocumentType=Image";

    <div>
        <div class="d-flex mb-01">
            <strong><a href="@sysHref"> @Resources.Resources.SI_GBL_GBL_JQ_FRM_038 </a></strong>
            <strong class="ml-auto">@Resources.Resources.SI_OSP_GBL_NET_FRM_188: @Model.Count()</strong>
        </div>

       
        <div class="ImagesContainer imageBox">
            <div id='ImgHolderdiv'>
                @if (Model.Any())
                {
                    foreach (var group in Model.GroupBy(x => x.entity_feature_name ?? "No Feature Name"))
                    {
                        string collapseId = "collapse_" + group.Key.Replace(" ", "_");

                        <div class="panel panel-default">
                            <div class="panel-heading"
                                 data-toggle="collapse" data-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                <h2 class="panel-title d-flex justify-content-between">
                                    <span>
                                        <strong>@group.Key</strong> <small class="sm-fs fw-600">(@group.Count())</small> <!-- ✅ Count shown here -->
                                    </span>
                                    <span class="pull-right">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </h2>
                            </div>

                            <div id="@collapseId" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="ImagesContainer">
                                        @foreach (var item in group)
                                        {
                                            <div class="docs-main-div">
                                                <div class="img-div">
                                                    <div class="UploadedImageBox" title="@item.OrgFileName">
                                                        <div class="ImageSelectDiv">
                                                            <a href="@item.FileLocation" class="example-image-link" data-lightbox="example-set">
                                                                <img src="@item.FileLocation" class="img-thumbnail" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="content-div">
                                                    <div class="contentList d-flex --gap03">
                                                        <div class="contentlbl">@item.EntityType @item.entity_feature_name @item.OrgFileName (@item.file_size)</div>
                                                        <div class="contentlbl"><b>@Resources.Resources.SI_OSP_GBL_GBL_GBL_031:</b> @item.UploadedBy</div>
                                                        <div class="contentlbl"><b>@Resources.Resources.SI_OSP_GBL_GBL_FRM_189:</b> @item.created_on</div>
                                                    </div>
                                                    <div class="d-flex flex-dir-column iconBox-style justify-cont-center --gap03">
                                                        <div class="icons">
                                                            <a href="javascript:void(0)" onclick="DownloadImgDocs('@item.Id','@item.categorytype');" title="Download">
                                                                <i class="icon-Download"></i>
                                                            </a>
                                                        </div>
                                                        @if (item.delete_action)
                                                        {
                                                            <div class="icons">
                                                                <a href="javascript:void(0)" onclick="si.deleteImgDocsByID('.ImagesContainer', '', 'Main/DeleteEntityImages', '@item.Id', si.getElementImages, '', 'Image');" title="Delete">
                                                                    <i class="icon-Delete"></i>
                                                                </a>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
}

else
{
    <div class="nr-found">
        <span>
            @Resources.Resources.SI_GBL_GBL_JQ_FRM_010
        </span>
    </div>
}
<script>

    $(document).on('click', '.panel-heading', function () {
        debugger;
        var icon = $(this).find('i.fa');
        icon.toggleClass('fa-plus fa-minus');
    });
    $(document).ready(function () {
        $('.UploadAction [title!=""]').tooltip({ title: '', html: true, placement: "bottom" });
        $('#divImage [title!=""]').tooltip({ title: '', html: true, placement: "bottom" });
        $(".img_doc_parentcheck").on("click", function () {
            CheckUnCheckAll('img_doc_parentcheck', false, 'img_doc_childcheck', false);
        })
        $(".img_doc_childcheck").on("click", function () {
            CheckUnCheckAllOnSingle('img_doc_parentcheck', false, 'img_doc_childcheck', false);
        });
        // si.loadOrbit($('#OrbitHolder').html());
        // $('#OrbitHolder').orbit();
    });

    function DownloadImgDocs(systemid, Location) {
        debugger;
        var EntityType = $('#hdnEntityType').val();
        var ettType = $("#infoTB").attr("att_entitytype");
        si.downloadImgDocsByID('.ImagesContainer', '.img_doc_childcheck', 'Main/DownloadFiles', systemid, Location, EntityType);
    }
</script>
