@model List<Models.DocumentResult>

@{
    var EntyLst = ((List<Models.DocumentResult>)@Model).Where(m => m.categorytype.ToLower() == "entity").ToList();
    var SpecifnLst = ((List<Models.DocumentResult>)@Model).Where(m => m.categorytype.ToLower() == "specification").ToList();
    string entityType = EntyLst.Any() ? EntyLst.First().EntityType : "";

    <input type="hidden" id="hdnEntityType" value="@entityType" />

}
@if (Model != null && Model.Count > 0)
{
    string sysHref = "Main/DownloadFilesAll?system_Id=" + @Model[0].EntitySystemId + "&entity_type=" + @Model[0].EntityType + "&DocumentType=Image";
    <div>
        <div class="col-sm-12 UploadAction" style="padding: 0px 10px 5px; border-bottom: solid 1px #ccc;">
            @*<div class="col-sm-9" id="divImageUpload" style="padding: 0px;">
                    <input type="checkbox" class="checkbox-custom img_doc_parentcheck" id="checkAll11"><b>
                        <label for="checkAll11" class="checkbox-custom-label" style="font-weight: bold;"> Select All</label>
                    </b>
                </div>*@
            @*<div class="col-sm-1 pull-right" id="divDeleteImg" title="@Resources.Resources.SI_GBL_GBL_GBL_GBL_002">
                    <a href="javascript:void(0)" onclick="si.deleteImgDocsByID('.ImagesContainer', '.img_doc_childcheck', 'Main/DeleteEntityImages', 'data-system-id', si.getElementImages);">
                        <i class="icon-Delete" style="color:red; font-size:16px;"></i>
                    </a>
                </div>
                <div class="col-sm-1 pull-right" id="divDownloadImages" title="@Resources.Resources.SI_ISP_GBL_GBL_GBL_038">
                    <a href="javascript:void(0)" onclick="DownloadImgDocs();">
                        <i class="icon-Download" style="font-size:16px;"></i>
                    </a>
                </div>*@
            @*<div class="col-sm-1 icon-Delete cptr" id="divDeleteImages" title="@Resources.Resources.SI_GBL_GBL_GBL_GBL_002">*@
            <a href="@sysHref" style="cursor: pointer;"> @Resources.Resources.SI_GBL_GBL_JQ_FRM_038 </a>
            <label class="pull-right">@Resources.Resources.SI_OSP_GBL_NET_FRM_188: @Model.Count()</label>
        </div>
        <div class="ImagesContainer" style="height: 261px; margin-bottom: 10px; overflow: auto; visibility: visible; float: left;">

            <div style="">
                <div id='ImgHolderdiv'>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var group in Model.GroupBy(x => x.entity_feature_name ?? "No Feature Name"))
                        {
                            string collapseId = "collapse_" + group.Key.Replace(" ", "_");

                            <div class="panel panel-default" style="margin-bottom: 10px; border: 1px solid #ccc;">
                                <div class="panel-heading" style="background-color: #f5f5f5; border-bottom: 1px solid #ddd; cursor: pointer;"
                                     data-toggle="collapse" data-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                    <h5 class="panel-title" style="font-weight: bold; padding: 10px;">
                                        @group.Key
                                        <span class="pull-right">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                    </h5>
                                </div>

                                <div id="@collapseId" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="ImagesContainer" style="display: flex; flex-wrap: wrap;">
                                            @foreach (var item in group)
                                            {
                                                <div class="docs-main-div" style="width: 300px; margin: 10px;">
                                                    <div class="img-div">
                                                        <div class="UploadedImageBox" title="@item.OrgFileName">
                                                            <div class="ImageSelectDiv">
                                                                <a href="@item.FileLocation" class="example-image-link" data-lightbox="example-set">
                                                                    <img src="@item.FileLocation" class="img-thumbnail" style="width: 100%; max-height: 180px;" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="content-div" style="padding-top: 5px;">
                                                        <div class="contentlbl">@item.EntityType @item.entity_feature_name @item.OrgFileName (@item.file_size)</div>
                                                        <div class="contentlbl"><b>@Resources.Resources.SI_OSP_GBL_GBL_GBL_031:</b> @item.UploadedBy</div>
                                                        <div class="contentlbl"><b>@Resources.Resources.SI_OSP_GBL_GBL_FRM_189:</b> @item.created_on</div>

                                                        <div style="margin-top: 5px;">
                                                            <a href="javascript:void(0)" onclick="DownloadImgDocs('@item.Id','@item.categorytype');" title="Download">
                                                                <i class="icon-Download" style="font-size:15px;"></i>
                                                            </a>

                                                            @if (item.delete_action)
                                                            {
                                                                <a href="javascript:void(0)" onclick="si.deleteImgDocsByID('.ImagesContainer', '', 'Main/DeleteEntityImages', '@item.Id', si.getElementImages, '', 'Image');" title="Delete">
                                                                    <i class="icon-Delete" style="color:red; font-size:15px; margin-left: 10px;"></i>
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
}
else
{
    <div class="nr-found">
        <span>
            @Resources.Resources.SI_GBL_GBL_JQ_FRM_010
        </span>
    </div>
}
<script>

    $(document).on('click', '.panel-heading', function () {
        debugger;
        var icon = $(this).find('i.fa');
        icon.toggleClass('fa-plus fa-minus');
    });
    $(document).ready(function () {
        $('.UploadAction [title!=""]').tooltip({ title: '', html: true, placement: "bottom" });
        $('#divImage [title!=""]').tooltip({ title: '', html: true, placement: "bottom" });
        $(".img_doc_parentcheck").on("click", function () {
            CheckUnCheckAll('img_doc_parentcheck', false, 'img_doc_childcheck', false);
        })
        $(".img_doc_childcheck").on("click", function () {
            CheckUnCheckAllOnSingle('img_doc_parentcheck', false, 'img_doc_childcheck', false);
        });
        // si.loadOrbit($('#OrbitHolder').html());
        // $('#OrbitHolder').orbit();
    });

    function DownloadImgDocs(systemid, Location) {
        debugger;
        var EntityType=$('#hdnEntityType').val();
        var ettType = $("#infoTB").attr("att_entitytype");
        si.downloadImgDocsByID('.ImagesContainer', '.img_doc_childcheck', 'Main/DownloadFiles', systemid, Location, EntityType);
    }
</script>
