@{
    Layout = null;
}
@using Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resources.SI_OSP_GBL_NET_FRM_370</title>
    <style>
        .link {
            background: #189361;
            padding: 5px;
            float: right;
            margin-right: 10px;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid white;
            color: white;
        }

            .link:hover {
                text-decoration: none;
                color: white;
            }
    </style>
</head>
<body>

    <div id="header">
        <div id="logo">
          @SmartInventory.Settings.ApplicationSettings.ApplicationName
        </div>
        <div class="account">
            @if (Session["userDetail"] != null)
            {
                <a class="link" href="@Url.Action("Logout", "Login")">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_011</a>

            }
        </div>
    </div>
    <div id="content" class="w3" style="height: calc(100% - 78px); position: relative; overflow: hidden; background: white; margin-top: 7px; text-align:center;">
        <h3 style=" margin-top: 100px; color: red;">@Resources.Resources.SI_OSP_GBL_NET_FRM_371</h3>
    </div>
    <div class="footer">
    </div>
    <div class="bottom-title">

    </div>
    @Styles.Render("~/css")
</body>
</html>
