<!DOCTYPE html>
@model Models.vwFormInputSettings
<style>
    #tblFormInputSettings tbody tr {
        background-color: white !important;
        white-space: normal !important;
    }
</style>
<div id="dvPageMessage">
    @{Html.RenderPartial("_PageMessage", Model.pageMsg);}
</div>
<div id="dvFormSettings" class="update_panel fullWidth pose-rel">
    <div class="title">
        <h4>Form Input Settings</h4>
    </div>
    @using (Html.BeginForm("SaveFormInputSettings", "AdvancedSettings", FormMethod.Post, new { autocomplete = "off", @id = "frmFormInputSettings", enctype = "multipart/form-data", @class = "form-horizontal  pad_left" }))
    {
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">
                        Form Name:
                    </label>
                </div>
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.formName, new SelectList(Model.lstFormNames.Select(x => new { Value = x, Text = x }), "Value", "Text"), "Select Form Name", new { @class = "chosen-select col-sm-12", @onchange = "FormNameChange();", @id = "lstForms", @style = "width:250px !important;" })
                </div>
            </div>
        </div>
        if (!string.IsNullOrWhiteSpace(Model.formName))
        {
            <div class="mb-01">
                <b>Field/Feature detail</b>
            </div>
            <div class="table-responsive tble_cls" style="border:none;">
                <table id="tblFormInputSettings" class="grid">
                    <thead>
                        <tr class="webGridHeader">
                            <th>@Html.CheckBox("chkSelectAll", false) <label style="margin:0px;"> All</label></th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.lstFormInputSettings.Count; i++)
                        {
                            <tr>
                                <td>

                                    @Html.CheckBoxFor(m => Model.lstFormInputSettings[i].is_active, new { @class = "attr" })
                                    @Html.HiddenFor(m => Model.lstFormInputSettings[i].id)
                                </td>
                                <td>
                                    @Model.lstFormInputSettings[i].form_feature_name
                                </td>
                                <td>
                                    @Model.lstFormInputSettings[i].form_feature_type
                                </td>
                                <td>
                                    @Model.lstFormInputSettings[i].feature_description
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex mt-01" id="dvBtnAction">
                <a href="@Url.Action("FormInputSettings", "AdvancedSettings", new { id = 0 })" cl class="btn btn-default ml-auto mr-05" title="Reset">Reset</a>
                <input type="button" class="btn btn-primary" name="btnaction" id="btnSubmit" value="Save" />
            </div>
        }
        <div class="clearfix"></div>
    }
</div>
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        checkHeaderCheckbox();
        $('#chkSelectAll').on("click", function () {
            {
                $("#tblFormInputSettings tbody input[type=checkbox].attr").prop("checked", $(this).prop("checked"));
            }
        });
        $('.attr').on("click", function () {
            {
                checkHeaderCheckbox();
            }
        });
        $(document).on('click', "#btnSubmit", function (e) {
            confirm('Selected features will Enable/Disable for '+'@Model.formName'+' form.<br> Do you want to continue?', function () {
                $("#frmFormInputSettings").submit();
            });
        });
    });
    function checkHeaderCheckbox() {
        var totalAttr = $("#tblFormInputSettings tbody input[type=checkbox]").length;
        var totalSelected = $("#tblFormInputSettings tbody input[type=checkbox]:checked").length;
        $('#chkSelectAll').prop("checked", totalAttr == totalSelected ? true : false);
    }
    function FormNameChange() {
        var _formname = $('#lstForms option:selected').val();
        if (_formname != undefined && _formname !='') {
            window.open(appRoot + '/AdvancedSettings/FormInputSettings/?formname=' + _formname, "_self");
        }
        else {
            window.open(appRoot + '/AdvancedSettings/FormInputSettings/', "_self");
        }
    }
</script>

