<!DOCTYPE html>
@model Models.Admin.vwLayerColumnSettings
<style>
    .noMove, .noMove:hover {
        cursor: not-allowed;
        background-color: #ffcfcf !important;
    }

    .Move {
        cursor: move;
        background-color: white;
    }

    #tblReportColumnsInfo tr:hover:not(.noMove) {
        color: white !important;
        /*background-color: #154777 !important;*/
    }

    .field-validation-error {
        bottom: auto;
        right: 49px;
    }
</style>
<div id="dvPageMessage">
    @{Html.RenderPartial("_PageMessage", Model.pageMsg);}
</div>
<div id="dvReportColumnSettings" class="update_panel fullWidth">
    <div class="title">
        <h4>Report Column Settings</h4>
    </div>
    @using (Html.BeginForm("SaveReportColumnSettings", "AdvancedSettings", FormMethod.Post, new { autocomplete = "off", @id = "frmReportColumnSettings", enctype = "multipart/form-data", @class = "form-horizontal  pad_left" }))
    {
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">
                        Entity Type:
                    </label>
                </div>
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.layer_id, new SelectList(Model.lstLayers.Select(x => new { Value = x.layer_id.ToString(), Text = x.layer_title.ToString() }), "Value", "Text"), "Select Entity Type", new { @class = "chosen-select col-sm-12", @onchange = "ReportLayerChange();", @id = "lstLayers" })
                </div>
            </div>
        </div>
        if (Model.layer_id > 0)
        {
            <div class="d-flex mb-01">
                <span><b>Note:</b> Drag drop rows to reorder columns. </span>
                <span class="ml-auto"><b>Total Columns: @Model.lstLayerColumns.Count</b></span>
            </div>

            <div class="table-responsive tble_cls">
                <table id="tblReportColumnsInfo" class="grid">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("chkSelectAll", false) <label style="margin:0px;"> All</label></th>
                            <th>@Html.CheckBox("chkSelectAllKML", false) <label style="margin:0px;">KML Attribute</label></th>
                            <th>Column Name</th>
                            <th>Display Name</th>
                            <th>Resource Key</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.lstLayerColumns.Count; i++)
                        {
                            <tr class="@(Model.lstLayerColumns[i].is_required == true?"noMove":"Move")">
                                <td id="tdreportrequired">
                                    @if (Model.lstLayerColumns[i].is_required == true)
                                    {
                                        @Html.CheckBoxFor(m => Model.lstLayerColumns[i].is_active, new { @onclick = "return false", @style = " opacity: 0.5;" })
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => Model.lstLayerColumns[i].is_active, new { @class = "attr" })
                                    }

                                    @Html.HiddenFor(m => Model.lstLayerColumns[i].id)
                                    @Html.HiddenFor(m => Model.lstLayerColumns[i].column_sequence)

                                </td>
                                <td id="tdkmlrequired">
                                    @if (Model.lstLayerColumns[i].is_required == true)
                                    {
                                        @Html.CheckBoxFor(m => Model.lstLayerColumns[i].is_kml_column_required, new { @onclick = "return false", @style = " opacity: 0.5;" })
                                    }
                                    else
                                    {
                                        if (Model.lstLayerColumns[i].column_name.ToUpper() == "NETWORK_ID")
                                        {
                                            @Html.CheckBoxFor(m => Model.lstLayerColumns[i].is_kml_column_required, new { @onclick = "return false", @style = " opacity: 0.5;" })
                                        }
                                        else
                                        {
                                            @Html.CheckBoxFor(m => Model.lstLayerColumns[i].is_kml_column_required, new { @class = "kmlattr" })
                                        }
                                        @*@Html.CheckBoxFor(m => Model.lstLayerColumns[i].is_kml_column_required, new { @class = "kmlattr" })*@
                                    }

                                </td>
                                <td>
                                    @Model.lstLayerColumns[i].column_name
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => Model.lstLayerColumns[i].display_name, new { @onkeyup = "validate(this)", @class = "form-control", @maxlength = "50", Style = " width:90%;" })
                                    @Html.ValidationMessageFor(m => Model.lstLayerColumns[i].display_name)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => Model.lstLayerColumns[i].res_field_key, new { @class = "form-control", Style = " width:90%;" })
                                    @Html.ValidationMessageFor(m => Model.lstLayerColumns[i].res_field_key)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex mt-01" id="dvBtnAction">
                <a href="@Url.Action("ReportColumnSettings", "AdvancedSettings", new { id = 0 })" class="btn btn-default ml-auto mr-05" title="Reset">Reset</a>
                <input type="submit" class="btn btn-primary" name="btnaction" id="btnSubmit" value="Save" />
            </div>
        }
        <div class="clearfix"></div>
    }
</div>
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
        //checkHeaderCheckbox();
        checkHeaderCheckbox('tdreportrequired', 'chkSelectAll');
        checkHeaderCheckbox('tdkmlrequired', 'chkSelectAllKML');
        $('#chkSelectAll').on("click", function () {
            {
                $("#tdreportrequired input[type=checkbox].attr").prop("checked", $(this).prop("checked"));
            }
        });
        $('.attr').on("click", function () {
            {
                checkHeaderCheckbox('tdreportrequired', 'chkSelectAll');
            }
        });
        $('#chkSelectAllKML').on("click", function () {
            {
                $("#tdkmlrequired input[type=checkbox].kmlattr").prop("checked", $(this).prop("checked"));
            }
        });
        $('.kmlattr').on("click", function () {
            {
                checkHeaderCheckbox('tdkmlrequired', 'chkSelectAllKML');
            }
        });

        $("#tblReportColumnsInfo  tbody").sortable({
            items: "tr:not(.noMove)",
            update: function () {
                var index = 1;
                $('#tblReportColumnsInfo  tbody input:hidden[name$="column_sequence"]').each(function () {
                    $(this).attr("value", index);
                    //console.log($(this).attr("id"));
                    //console.log($(this).attr("value"));
                    index++;
                });
            }
        });
    });
    function checkHeaderCheckbox(tdid, chkallid) {
        var totalAttr = $("#" + tdid + " input[type=checkbox]").length;
        var totalSelected = $("#" + tdid + " input[type=checkbox]:checked").length;
        $('#' + chkallid).prop("checked", totalAttr == totalSelected ? true : false);
    }
    function ReportLayerChange() {
        var _layername = $('#lstLayers option:selected').text();
        var _layerId = $('#lstLayers option:selected').val();
        if (_layerId != undefined && _layerId != 0) {
            window.open(appRoot + '/AdvancedSettings/ReportColumnSettings/' + _layerId, "_self");
        }
        else {
            window.open(appRoot + '/AdvancedSettings/ReportColumnSettings', "_self");
        }
    }
    function validate(e) {
        
        v = $(e).val();
        let regex = /^[A-Za-z0-9_-\s]+$/;
        var isValid = regex.test(v);
        if (!isValid) {
            alert("Special characters are not allowed");
            $(e).addClass('input-validation-error');
        }
        else {
            $(e).removeClass('input-validation-error');
        }
        return isValid;
    }
</script>
