<!DOCTYPE html>
@model Models.Admin.VwConnectionLabelSettings
@using Utility
@using SmartInventory.Settings;
<link href="~/Areas/Admin/Content/css/spectrum.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/js/spectrum.js"></script>

@*<div class="header_Equip">
        <h4 id="Heading"></h4><h4 style="margin-left:30px">Connection Label Settings</h4>
    </div>*@

<div id="dvViewConnectionLabelSttngs" class="update_panel fullWidth pose-rel">
    <input type="hidden" id="hdnNumberFormatType" value="@ApplicationSettings.numberFormatType" />
    @{
        WebGrid grid = new WebGrid(rowsPerPage: Model.objConnectionLabelFilter.pageSize, canSort: true, ajaxUpdateContainerId: "divConnectionLabelSetting", ajaxUpdateCallback: "onGridHeaderClick('tblConnectionLabelSetting')");
        grid.Bind(Model.lstViwConnectionLabelSettings, autoSortAndPage: false, rowCount: Model.objConnectionLabelFilter.totalRecord);
        if (Model.objConnectionLabelFilter.totalRecord > 0)
        {
            grid.PageIndex = Model.objConnectionLabelFilter.currentPage - 1;
        }
    }
    <div class="title">
        <h4>Connection Label Settings</h4>
    </div>
    @using (Html.BeginForm("ViewConnectionLabelSettings", "AdvancedSettings", FormMethod.Post, new { autocomplete = "off", @id = "frmViewConnectionLabelSettings" }))
    {
        <div class="form-inline filter-sec">
            <div class="form-group wtd_set" style="width: 24%;">
                <label class="control-label col-sm-4">Search By : </label>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.objConnectionLabelFilter.searchBy, new SelectList(Model.lstSearchBy.Select(x => new { Value = x.value.ToString(), Text = x.key }), "Value", "Text"), new { @class = "chosen-select form-control" })
                </div>

            </div>
            <div class="form-group wtd_set" style="width: 24%;">
                <label class="control-label col-sm-4">
                    Search Text:
                </label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.objConnectionLabelFilter.searchText, new { @id = "txtSearchText", @title = "Search text", @tabindex = "4", @class = "input-sm form-control", @placeholder = "Search text", @maxlength = 100, @onkeypress = "fnOnKeyPress(event)" })

                </div>
            </div>

            <div class="form-group wtd_set" id="dvBtnAction">
                <div class="col-md-8">
                    <button class="btn btn-primary mr-05" id="btnGetSearchResult" name="btnCommandName" value="GetSearchResult" tabindex="5" type="submit">Search</button>
                    <a href="@Url.Action("ViewConnectionLabelSettings")" class="btn btn-default" title="Reset">Reset</a>
                </div>
            </div>
        </div>

        if (Model.lstViwConnectionLabelSettings.Count > 0)
        {
            <div id="divConnectionLabelSetting" class="--pad-15">

                <div class="recordCount mb-01"><b>Total Records:<span data="spanTotalRowCount">@grid.TotalRowCount</span></b></div>
                <div class="table-responsive --over-table">

                    @grid.GetHtml(tableStyle: "grid",
                                        htmlAttributes: new { id = "tblConnectionLabelSetting" },
                                        mode: WebGridPagerModes.All,
                                        columns: grid.Columns(
                                                grid.Column("", "Action", format:@<text>
                                                        <a href="#" onclick="EditNewConnectionLabel(@item.id,'@item.entity_title');" class="auto" title="Edit"> <i class="fa fa-pencil action_icon fa-fw m-r-xs"></i></a>
                                                        @if (@item.status != "Completed")
                                                        {
                                                            <a href="#" onclick="SyncAllLabels(@item.id);" class="auto" title="Sync"><i class="fa fa-refresh" style="font-size:15px"></i></a>
                                                        }
                                                </text>
),
grid.Column("entity_title", "Entity Title", format: @<text>@item.entity_title</text>),
grid.Column("display_column_name", "Column Name", format: @<text>@item.display_column_name</text>),
grid.Column("status", "Status", format: @<text>@item.status</text>),
grid.Column("created_by_text", "Created By", format: @<text>@item.created_by_text</text>),
grid.Column("created_on", "Created On", format: @<text>@(item.created_on == null ? item.created_on : MiscHelper.FormatDateTime(item.created_on.ToString()))</text>),
grid.Column("modified_by_text", "Modified By", format: @<text>@item.modified_by_text</text>),
grid.Column("modified_on", "Modified On", format: @<text>@(item.modified_on == null ? item.modified_on : MiscHelper.FormatDateTime(item.modified_on.ToString()))</text>
)))
                    @Html.Hidden("dir", grid.SortDirection)
                    @Html.Hidden("col", grid.SortColumn)

                </div>
            </div>
        }
        else
        {
            <div style="text-align: center; margin-top: 30px;">
                No Records Found.
            </div>
        }
    }
    <script>
        $(document).ready(function () {
            updateNumberstoFormatedNumber();
            addDefaultSortingIcons("tblCableColorSetting");
            $('th a, tfoot a').on("click", function () {
                $('#frmViewConnectionLabelSettings').attr('action', $(this).attr('href')).submit();
                return false;
            });
        });
        function updateNumberstoFormatedNumber() {
            $('span[data]').each(function (index) {
                // Get the value of the data-target attribute for each element
                var targetValue = $(this).data('data');

                // Do whatever you want with the element or its data
                $(this).text(getFormattedNumber($(this).text().trim()));
            });
        }
    </script>
</div>

